{% load i18n %}
{% load fetc_filters %}
{% load static %}
{% static "proposals/images/arrow_divide.png" as img_diff %}
{% static "main/images/page_white_acrobat.png" as img_pdf %}
{% static "proposals/images/folder_delete.png" as img_hide %}
{% static "proposals/images/folder_add.png" as img_add %}
{% static 'main/images/zoom.png' as img_details %}
{% static 'reviews/images/user_add.png' as img_add_reviewers %}
{% static 'reviews/images/folder_edit.png' as img_change_chamber %}
{% static 'reviews/images/scale.png' as img_decide %}
{% static 'reviews/images/accept.png' as img_close %}
{% static 'reviews/images/website.png' as img_export %}
{% static 'reviews/images/report_go.png' as img_confirm %}
{% static 'reviews/images/tick.png' as img_confirmed %}
<div class="col-12 {% if request.user|is_secretary %}col-md-6{% endif %}">
    <h3>{% trans "Uitleg" %}</h3>
    <ul>
        <li>
            {% blocktrans %}
                Klik op <img src="{{ img_pdf }}" title="Inzien"> om een ingediende aanvraag in te zien.
            {% endblocktrans %}
        </li>
        <li>
            {% blocktrans %}
                Klik op <img src="{{ img_diff }}" title="Toon verschillen"> om de verschillen met de voorgaande
                versie te zien (alleen beschikbaar voor revisies/amendementen).
            {% endblocktrans %}
        </li>
        <li>
            {% blocktrans %}
                Klik op <img src="{{ img_details }}" title="Toon details"> om alle details en beoordelingen van
                een ingediende aanvraag te zien.
            {% endblocktrans %}
        </li>
        <li>
            {% blocktrans %}
                Klik op <img src="{{ img_decide }}" title="Beslissen"> om je beslissing door te geven.
            {% endblocktrans %}
        </li>
    </ul>
</div>
<div class="col-12 {% if request.user|is_secretary %}col-md-6{% endif %}">
    <h3>{% trans "Uitleg secretaris" %}</h3>
    <ul>
        {% if request.user|is_secretary %}
            <li>
                {% blocktrans %}
                    Klik op <img src="{{ img_hide }}" title="Verbergen"> om een ingediende aanvraag te verbergen uit het
                    archief.
                {% endblocktrans %}
            </li>
            <li>
                {% blocktrans trimmed %}
                    Klik op
                    <img src="{{ img_add }}" title="Toevoegen">
                    om een ingediende aanvraag toe te voegen
                    aan het archief.
                {% endblocktrans %}
            </li>
            <li>
                {% blocktrans %}
                    Klik op <img src="{{ img_add_reviewers }}" title="Aanstellen"> om beoordelaars aan te stellen.
                {% endblocktrans %}
            </li>
            <li>
                {% blocktrans %}
                    Klik op <img src="{{ img_change_chamber }}" title="Verplaats naar andere kamer"> om een aanvraag
                    te verplaatsen naar een andere kamer.
                {% endblocktrans %}
            </li>
            <li>
                {% blocktrans %}
                    Klik op <img src="{{ img_close }}" title="Afsluiten"> om een aanvraag af te sluiten.
                {% endblocktrans %}
            </li>
            <li>
                {% blocktrans %}
                    Klik op <img src="{{ img_confirm }}" title="Bevestigingsbrief"> om aan te geven dat de
                    bevestigingsbrief is verstuurd.
                {% endblocktrans %}
            </li>
            <li>
                {% blocktrans %}
                    Klik op <img src="{{ img_confirmed }}" title="Bevestigingsbrief"> om de opgegeven datum
                    van de bevestigingsbrief te veranderen.
                {% endblocktrans %}
            </li>
        {% endif %}
    </ul>
</div>
