{% extends "base/base.html" %}

{% load static %}
{% load i18n %}

{% block title %}
{% trans "Beoordelende kamer wijzigen" %}
{% endblock %}

{% block noprogressbar %}{% endblock %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>{{ form.as_table }}</table>
    <input class="pure-button pure-button-primary" type="submit" value="{% trans 'OK' %}" />
    <a class="pure-button pure-button-secondary" href="javascript:history.go(-1);">{% trans "Terug naar de vorige pagina" %}</a>
</form>
{% endblock %}
