{% extends "base/base.html" %}
{% load static %}
{% load i18n %}
{% block header_title %}
    {% trans "Beoordelende kamer wijzigen" %} - {{ block.super }}
{% endblock %}
{% block content %}
    <div class="uu-inner-container">
        <div class="col-12">
            <h2>{% trans "Beoordelende kamer wijzigen" %}</h2>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <input class="pure-button pure-button-primary"
                       type="submit"
                       value="{% trans 'OK' %}" />
                <a class="pure-button pure-button-secondary"
                   href="javascript:history.go(-1);">{% trans "Terug naar de vorige pagina" %}</a>
            </form>
        </div>
    </div>
{% endblock %}
