{% extends "base/base.html" %}

{% load fetc_filters %}
{% load get_field_name %}
{% load static %}
{% load i18n %}
{% load datatables %}

{% block header_title %}
    {% blocktranslate %}
        {{ committee }} werkverdeling overzicht {{ block.super }}
    {% endblocktranslate%}
{% endblock %}

{% block content %}
    <div class="uu-inner-container">
        <div class="col-12">
            <h3>{% trans 'Lopende reviews' %} {{ committee }} </h3>

            <table class="dt" data-language="{% datatables_lang %}">
                <thead>
                <tr>
                    <th>{% trans "Reviewer" %}</th>
                    <th>{% trans "Traject" %}</th>
                    <th>{% trans "Referentienummer" %}</th>
                    <th>{% trans "Datum ingediend" %}</th>
                    <th>{% trans "Gewenste einddatum" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for decision in decisions %}
                    <tr>
                        <td>{{ decision.reviewer.first_name }} {{ decision.reviewer.last_name }}</td>
                        <td>
                            {% if decision.review.proposal.is_revision == True %}
                                {% trans 'Revisie' %}
                            {% elif decision.review.short_route == True %}
                                {% trans 'Korte route' %}
                            {% else %}
                                {% trans 'Lange route' %}
                            {% endif %}
                        </td>
                        <td> <a style="color:blue;" href="{% url 'reviews:detail' pk=decision.review.pk %}">
                             {{ decision.review.proposal.reference_number }} </a> - {{decision.review.proposal.title}}
                        </td>
                        <td data-order="{{ decision.review.date_start|date:'c' }}">{{ decision.review.date_start|date:"j M Y" }}</td>
                        <td data-order="{{ decision.review.date_start|date:'c' }}">{{ decision.review.date_should_end|date:"j M Y" }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
