{% extends "base/base.html" %}

{% load static %}
{% load i18n %}
{% load core_filters %}

{% block title %}
{{ committee_name }} - {% trans "Openstaande besluiten commissieleden" %}
{% endblock %}

{% block noprogressbar %}{% endblock %}

{% block content %}
<p>
</p>
<script>
    $(document).ready(function () {
        var table = $('.dataTable').dataTable({
            "retrieve": true {# Used to retrieve the existing object #}
        }).api();

        table.order([6, "desc"]);
        table.draw();
    });
</script>
<table class="dataTable display">
    <thead>
        <tr>
            <th>{% trans "Referentienummer" %}</th>
            <th>{% trans "Titel studie" %}</th>
            <th>{% trans "Indiener" %}</th>
            <th>{% trans "Eindverantwoordelijke" %}</th>
            <th>{% trans "Reviewer" %}</th>
            <th>{% trans "Fase" %}</th>
            <th>{% trans "Datum ingediend" %}</th>
            <th>{% trans "Gewenste einddatum" %}</th>
            <th>{% trans "Acties" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for decision in decisions %}
        {% with review=decision.review %}
        <tr>
            <td>{{ review.proposal.reference_number }}</td>
            <td>{{ review.proposal.title }}</td>
            <td>
                <a href="{% url 'core:user_detail' review.proposal.created_by.pk %}">
                    {{ review.proposal.created_by.get_full_name }}
                </a>
            </td>            <td>{{ review.proposal.supervisor.get_full_name }}</td>
            <td>{{ decision.reviewer.get_full_name }}</td>
            <td>{{ review.get_stage_display }}</td>
            <td data-order="{{ review.date_start|date:'c' }}">{{ review.date_start|date:"j M Y" }}</td>
            <td data-order="{{ review.date_should_end|date:'c' }}">{{ review.date_should_end|date:"j M Y" }}</td>
            <td>
                <a href="{% url 'proposals:pdf' review.proposal.id %}" target="_blank"><img src="{% static 'core/images/page_white_acrobat.png' %}" title="{% trans 'Studie inzien' %}"></a>
                <a href="{% url 'reviews:detail' review.id %}"><img src="{% static 'core/images/zoom.png' %}" title="{% trans 'Details' %}"></a>
            </td>
        </tr>
        {% endwith %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}
