{% extends "base/base.html" %}

{% load static %}
{% load i18n %}
{% load fetc_filters %}

{% get_current_language as LANGUAGE_CODE %}


{% block header_title %}
    {{ committee_name }} - {% trans "Openstaande besluiten eindverantwoordelijken" %} - {{ block.super }}
{% endblock %}

{% block html_head %}
    <script src="{% static 'uil.core/js/uu-fancy-list.js' %}"></script>

    <script>
    $(function () {
       $('.uu-fancy-list-container').fancyList({
           language: '{{ LANGUAGE_CODE }}',
       });
    });
    </script>
{% endblock %}

{% block content %}
    <div class="uu-inner-container">
        <div class="col-12">
            <h2>
                {{ committee_name }} - {% trans "Openstaande besluiten eindverantwoordelijken" %}
            </h2>
            {% static "main/images/page_white_acrobat.png" as img_pdf %}
            <div class="uu-fancy-list-container">
                <div class="uu-fancy-list">
                    {% for decision in decisions %}
                        {% with review=decision.review proposal=decision.review.proposal %}
                            <div class="ufl-item clearfix" data-show="true">
                                <h4>{{ proposal.reference_number }} - {{ proposal.title }} </h4>

                                <div class="ufl-actions">
                                     <a href="{% url 'proposals:pdf' review.proposal.pk %}" target="_blank">
                                        <img src="{{ img_pdf }}"
                                             title="{% trans 'Studie inzien' %}">
                                    </a>
                                </div>

                                <div class="ufl-undertitle">
                                    <div class="ufl-undertitle-line">
                                        {% trans 'Eindverantwoordelijke' %}: {{ proposal.accountable_user.get_full_name }}
                                    </div>
                                    <div class="ufl-undertitle-line">
                                        {% trans "Reviewer" %}: {{ decision.reviewer.get_full_name }}
                                    </div>
                                </div>

                                <div class="ufl-details">
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <table>
                                                {% if proposal.parent and proposal.parent.latest_review %}
                                                    <tr>
                                                        <td>
                                                            {% trans "Revisie/amendement van" %}:
                                                        </td>
                                                        <td>
                                                            <a href="{% url 'reviews:detail' proposal.parent.latest_review.pk %}">
                                                                {{ proposal.parent.reference_number }}
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                                <tr>
                                                    <td>
                                                        {% trans "Datum ingediend" %}:
                                                    </td>
                                                    <td>
                                                        {{ review.date_start|date:"j F Y" }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        {% trans "Gewenste einddatum" %}:
                                                    </td>
                                                    <td>
                                                        {{ review.date_should_end|date:"j F Y" }}
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <table>
                                                <tr>
                                                    <td colspan="2">
                                                        {% trans "Indieners" %}:<br/>
                                                        {% for applicant in proposal.applicants.all %}
                                                            <a href="{% url 'main:user_detail' applicant.pk %}">{{ applicant.get_full_name }}</a>{% if not forloop.last %},{% endif %}
                                                        {% endfor %}
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endwith %}
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
