{% extends "base/base.html" %}

{% load static %}
{% load i18n %}
{% load fetc_filters %}
{% load datatables %}

{% block html_head %}
    <script>
        $(document).ready(function () {
            var table = $('.dt').dataTable({
                "retrieve": true {# Used to retrieve the existing object #}
            }).api();

            table.order([5, "desc"]);
            table.draw();
        });
    </script>
{% endblock %}

{% block content %}
    <div class="uu-inner-container">
        <div class="col-12">
            <h2>
                {{ committee_name }} - {% trans "Openstaande besluiten eindverantwoordelijken" %}
            </h2>

            <table class="dt w-100" data-language="{% datatables_lang %}">
                <thead>
                <tr>
                    <th>{% trans "Referentienummer" %}</th>
                    <th>{% trans "Titel studie" %}</th>
                    <th>{% trans "Indiener" %}</th>
                    <th>{% trans "Reviewer" %}</th>
                    <th>{% trans "Fase" %}</th>
                    <th>{% trans "Datum ingediend" %}</th>
                    <th>{% trans "Gewenste einddatum" %}</th>
                    <th>{% trans "Acties" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for decision in decisions %}
                    {% with review=decision.review %}
                        <tr>
                            <td>{{ review.proposal.reference_number }}</td>
                            <td>{{ review.proposal.title }}</td>
                            <td>
                                <a href="{% url 'main:user_detail' review.proposal.created_by.pk %}">
                                    {{ review.proposal.created_by.get_full_name }}
                                </a>
                            </td>
                            <td>{{ decision.reviewer.get_full_name }}</td>
                            <td>{{ review.get_stage_display }}</td>
                            <td data-order="{{ review.date_start|date:'c' }}">{{ review.date_start|date:"j M Y" }}</td>
                            <td data-order="{{ review.date_should_end|date:'c' }}">{{ review.date_should_end|date:"j M Y" }}</td>
                            <td>
                                <a href="{% url 'proposals:pdf' review.proposal.id %}" target="_blank">
                                    <img src="{% static 'main/images/page_white_acrobat.png' %}"
                                         title="{% trans 'Studie inzien' %}">
                                </a>
                            </td>
                        </tr>
                    {% endwith %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
