{% load static %}
{% load proposal_filters %}
{% load fetc_filters %}
{% load i18n %}
{% load compare_tags %}
{% load documents_list %}

{% for header, data in headers_items.items %}

    <h5>
       {{header}}
    </h5>

    <ul>
    {% for name, file, obj, comparable in data.items %}
        <li>
            <a href="{{ file.url }}" target="_blank" download="{{file.name}}">
                {{name}}
            </a>
            {% if comparable %}
                {% simple_compare_link obj file %}
            {% endif %}
        </li>
    {% endfor %}
    </ul>

    {% if data.edit_link %}
    <a href="{{ data.edit_link }}">
        {% trans "Documenten wijzigen" %}
        <img src="{% static 'proposals/images/pencil.png' %}"
             title="{% trans 'Documenten wijzigen' %}" />
    </a>
    {% endif %}

{% endfor %}
