{% extends "base/fetc_base.html" %}

{% load static %}
{% load i18n %}

{% block header_title %}
    {% trans "Beoordeling beëindigen" %} - {{ block.super }}
{% endblock %}

{% block html_head %}
    <script>
        $(function () {
            depends_on_list_value('short_route', ['True', 'False'], 'reviewers');

            {% if review.proposal.is_pre_assessment %}
                // Hide short_route input for preliminary assessment Proposals
                $('input[name="short_route"]').parents('tr').hide();
            {% endif %}
        });
    </script>
{% endblock %}

{% block content %}
    <div class="uu-container">

    {% with review=review %}
        {% include "reviews/review_detail_sidebar.html" %}
    {% endwith %}

        <div class="col-12 col-md-9">
            <h2>
                {% trans "Afhandeling definitief beëindigen" %}
            </h2>

            <p>
                {% blocktrans trimmed %}
                Als een aanvraag definitief niet meer door de FETC-GW
                afgehandeld gaat worden, en deze in de weg staat,
                kan er voor gekozen worden deze te beëindigen.
                {% endblocktrans %}
            </p>
            <p>
                {% blocktrans trimmed %}
                Een beëindigde aanvraag verschijnt niet meer in de pagina's
                van de secretaris en beoordelaars. Deze
                aanvraag kan ook niet meer gereviseerd worden,
                maar nog wel gekopieerd. De aanvraag is nog wel zichtbaar
                in de lijst met "alle ingediende aanvragen".
                {% endblocktrans %}
            </p>
            {% if review.stage == review.CLOSED %}
            <p>
                <strong>
                    {% trans "Attentie" %}
                </strong>:
                {% blocktrans trimmed %}
                Deze aanvraag heeft op dit moment geen lopende beoordeling. Om deze aanvraag definitief te
                beëindigen, moeten we de uitkomst van laatste beoordeling (zie linker balk) veranderen.
                Dit kan verwarring veroorzaken bij de indiener, dus houd hier rekening mee.
                {% endblocktrans %}
            </p>
            {% endif %}
            <p>
                <strong>{% trans "Aanvraag" %}</strong>:
                {% blocktrans with title=review.proposal.title author=review.proposal.created_by trimmed %}
                <em>{{title}}</em> door {{author}}
                {% endblocktrans %}
            <form class="clearfix" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                <table>{{ form.as_table }}</table>
                <div class="float-right">
                    <a class="btn btn-secondary" href="javascript:history.go(-1);">
                        {% trans "Terug naar de vorige pagina" %}
                    </a>
                    <input class="btn btn-primary" type="submit" value="{% trans 'OK' %}"/>
                </div>

            </form>
        </div>
    </div>
{% endblock %}
