{% extends "proposals/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %} 
{% blocktrans with proposal=review.proposal.title %}
Beslissingen bij voorstel {{ proposal }}
{% endblocktrans %}
{% endblock %}

{% block noprogressbar %}{% endblock %}

{% block content %}
<p>
    {% blocktrans with date_start=review.date_start|date:"j F Y, G:i" %}
    Reviewronde gestart op {{ date_start }}.
    {% endblocktrans %}
    {% if review.date_end %}
    {% blocktrans with date_end=review.date_end|date:"j F Y, G:i" %}
    Reviewronde beëindigd op {{ date_end }}.
    {% endblocktrans %}
    {% endif %}
</p>
<table class="dataTable display">
    <thead>
        <tr>
            <th>{% trans "Reviewer" %}</th>
            <th>{% trans "Beslissing" %}</th>
            <th>{% trans "Genomen op" %}</th>
            <th>{% trans "Commentaar" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for decision in review.decision_set.all %}
        <tr>
            <td>{{ decision.reviewer }}</td>
            <td>{{ decision.go|yesno:"go,no go,open" }}</td>
            <td>{{ decision.date_decision|date:"j F Y, G:i" }}</td>
            <td>{{ decision.comments }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "reviews/auto_review.html" %}
{% endblock %}
