{% load i18n %}

<table class="dataTable display">
    <thead>
        <tr>
            <th>{% trans "Reviewer" %}</th>
            <th>{% trans "Beslissing" %}</th>
            <th>{% trans "Genomen op" %}</th>
            <th>{% trans "Commentaar" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for decision in review.decision_set.all %}
        <tr>
            <td>{{ decision.reviewer }}</td>
            <td>{{ decision.go|yesno:"go,no go,open" }}</td>
            <td>{{ decision.date_decision|date:"j F Y, G:i" }}</td>
            <td>{{ decision.comments }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
