{% extends "base/fetc_form_base.html" %}

{% load static %}
{% load i18n %}

{% block header_title %}
    {% trans "Commissieleden aanstellen" %} - {{ block.super }}
{% endblock %}

{% block html_head %}
    <script>
        $(function () {
            depends_on_list_value('short_route', ['True', 'False'], 'reviewers');

            {% if review.proposal.is_pre_assessment %}
                // Hide short_route input for preliminary assessment Proposals
                $('input[name="short_route"]').parents('.uu-form-row').hide();
            {% endif %}
        });
    </script>
{% endblock %}

{% block sidebar %}
    {% with review=review %}
        {% include "reviews/review_detail_sidebar.html" %}
    {% endwith %}
{% endblock %}

{% block pre-form-text %}
    <h2>{% trans "Commissieleden aanstellen" %}</h2>
    {% url 'reviews:workload' review.proposal.reviewing_committee as workload_url %}
    {% blocktrans trimmed with title=review.proposal.title %}
        <p>
            Kies hier de geschikte route en commissieleden voor de aanvraag <em>{{ title }}</em>.
            Klik <a href="{{ workload_url }}">hier</a> voor een overzicht van de werkverdeling van deze commissie.
        </p>
    {% endblocktrans %}
    {% if not review.proposal.is_pre_assessment %}
        {% include "reviews/auto_review.html" %}
    {% endif %}
{% endblock %}

{% block form-buttons %}
    <a class="btn btn-secondary" href="javascript:history.go(-1);">{% trans "Terug naar de vorige pagina" %}</a>
    <input class="btn btn-primary ms-auto" type="submit" value="{% trans 'Bevestigen' %}" />
{% endblock %}