{% load i18n %}
{% load core_filters %}

<table class="dataTable display">
    <thead>
        <tr>
            <th>{% trans "Reviewer" %}</th>
            <th>{% trans "Beslissing" %}</th>
            <th>{% trans "Genomen op" %}</th>
            <th>{% trans "Commentaar" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for decision in review.decision_set.all %}
        <tr>
            <td>{{ decision.reviewer }}</td>
            <td>{{ decision.get_go_display|default:_("open") }}</td>
            <td>{{ decision.date_decision|date:"j F Y, G:i" }}</td>
            <td>{{ decision.comments }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if user|is_secretary and review.stage == review.COMMISSION %}
<a class="pure-button pure-button-primary" href="{% url 'reviews:assign' review.id %}">
    {% trans "Verander aangestelde commissieleden" %}
</a>
{% endif %}
