{% extends "proposals/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %} 
    {% trans "Te beoordelen aanvragen" %}
{% endblock %} 

{% block content %}
<p>
</p>
<table class="dataTable display">
    <thead>
        <tr>
            <th>{% trans "Referentienummer" %}</th>
            <th>{% trans "Titel studie" %}</th>
            <th>{% trans "Laatst bijgewerkt" %}</th>
            <th>{% trans "Acties" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for review in reviews %}
        <tr>
            <td>{{ review.proposal.reference_number }}</td>
            <td>{{ review.proposal.title }}</td>
            <td>{{ review.proposal.date_modified|date:"j M Y, G:i" }}</td>
            <td>
                <a href="{% url 'proposals:detail' review.proposal.id %}"><img src="{% static 'reviews/images/folder_magnify.png' %}" title="{% trans 'Aanvraag inzien' %}"></a>
                <a href="{% url 'reviews:detail' review.id %}"><img src="{% static 'proposals/images/zoom.png' %}" title="{% trans 'Review inzien' %}"></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
