{% extends "base/base.html" %}

{% load static %}
{% load i18n %}

{% block header_title %}
    {% trans "Review afsluiten" %} - {{ block.super }}
{% endblock %}
{% block html_head %}
    <script>
        $(function() {
            depends_on_value('confirmation_sent', 'True', 'confirmation_comments');
            depends_on_list_value('continuation', ['0', '5'], 'has_minor_revision');
            depends_on_value('has_minor_revision', 'True', 'minor_revision_description');
            depends_on_list_value('continuation', ['0', '5'], 'in_archive')
        });
    </script>
{% endblock %}
{% block content %}
    <div class="uu-inner-container">
        <div class="col-12">
            <h2>{% trans "Review afsluiten" %}</h2>
            <p>
                {% blocktrans with title=review.proposal.title %}
                    Sluit hier de beoordeling van de aanvraag <em>{{ title }}</em> af. Hieronder volgen de individuele
                    beslissingen.
                {% endblocktrans %}
            </p>
            <h3>{% trans "Individuele beslissingen" %}</h3>
            {% include "reviews/review_table.html" %}
            <h3>{% trans "Uiteindelijk besluit" %}</h3>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <div class="float-right">
                    <a class="button" href="javascript:history.go(-1);">{% trans "Terug naar de vorige pagina" %}</a>
                    <input type="submit" value="{% trans 'Review afsluiten' %}" />
                </div>
            </form>
        </div>
    </div>
{% endblock %}
