{% extends "proposals/base.html" %}
{% load staticfiles %}

{% block title %} 
Commissieleden aanstellen
{% endblock %} 

{% block content %}
Kies hier de commissieleden voor de aanvraag <em>{{ object.proposal.title }}</em>.
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>{{ form.as_table }}</table>
    <input class="pure-button pure-button-primary" type="submit" value="Commissieleden aanstellen" />
    <a class="pure-button pure-button-secondary" href="{% url 'reviews:home' %}">Terug naar hoofdmenu</a>
</form>
{% endblock %}
