{% extends "base/fetc_base.html" %}

{% load static %}
{% load i18n %}
{% load fetc_filters %}
{% load vue_tags %}

{% get_current_language as LANGUAGE_CODE %}

{% block header_title %}
    {{ committee_name }} - {{ title }} - {{ block.super }}
{% endblock %}

{% block html_head %}

    {# This template loads in either the dev or prod Vue library, depending on settings.DEBUG #}
    {% include 'cdh.vue/vueloader.html' %}
    {# Load in the base component FancyList #}
    {% load_vue_component 'FancyList' %}

    {% include list_template %}

    <script>
        // Needs to be wrapped into an onload to ensure all dependencies are loaded
        window.onload = _ => {
            Vue.createFancyList("#list", "#reviewsUFLList", '{{ LANGUAGE_CODE }}', '{{ data_url }}');
        }
    </script>
{% endblock %}

{% block content %}
    <div class="uu-container">
        <div class="col-12">
            <h2>
                {{ committee_name }} - {{ title }}
            </h2>
        </div>
        {% include 'reviews/action_explaination.html' %}

        <div class="col-12">
            <div id="list"></div>
        </div>
    </div>
{% endblock %}
