{% extends "base/base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block title %} 
{% trans "Het [traject X] takenonderzoek" %}
{% endblock %}

{% block progress %}{{ progress }}{% endblock %}

{% block content %}
<script>
$(function() {
    check_field_required('setting', 'needs_details', 'setting_details', 'core');
    check_field_required('setting', 'needs_supervision', 'supervision', 'core');
    
    add_title('setting', "{% trans 'Setting' %}");
});
</script>
{% include "studies/study_title.html" %}
<p>
    {% trans "U heeft aangegeven dat u gebruik maakt van deelnemers binnen de leeftijdsgroepen:" %}
</p>
<ul>
    {{ study.age_groups.all|unordered_list }}
</ul>
<p>
    {% blocktrans %}
    In de volgende vragen gaan we nader in op wat u in uw takenonderzoek van uw deelnemers zal verlangen. Daarbij gelden de volgende definities:
    {% endblocktrans %}
</p>
<p>
    {% blocktrans %}
    <strong>Sessie:</strong> Het geheel van de voor uw studie benodigde betrokkenheid die u op één dag van een deelnemer vraagt. Bij een labonderzoek is dat bijvoorbeeld alles wat er van onderzoekswege gebeurt vanaf het moment dat u de deelnemer ontvangt tot het moment dat u afscheid neemt, inclusief de benodigde pauzes. En bij een internet-vragenlijst is dat alles wat er van onderzoekswege gebeurt vanaf het welkomstscherm tot de afronding van de (reeks) vragenlijst(en), wederom inclusief benodigde pauzes.
    {% endblocktrans %}
</p>
<p>
    {% blocktrans %}
    <strong>Taak:</strong> Een coherente verzameling handelingen die u via een gesproken of geschreven taak-instructie aan de deelnemer oplegt, en ook als zodanig als 'taak' in een artikel zou beschrijven (bijvoorbeeld: "Beluister de volgende 200 zinnetjes en druk op een knop als u een fout ontdekt", "Vul persoonlijkheidsvragenlijst X in", "Speel 10 minuten met uw kind zoals u dat thuis doet"). Indien de specifieke opdracht aan de deelnemer per item varieert (bijvoorbeeld: "bij een Nederlandse zin beoordeelt u de betekenis, bij een Engelse zin de grammatica"), beschouw dit dan gewoon als één taak.
    {% endblocktrans %}
</p>
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>{{ form.as_table }}</table>
    <p>
        {% trans "Voor elke sessie stellen we in de komende schermen steeds dezelfde vragen." %}
    </p>
    {% with proposal=study.proposal %}
    {% include "base/form_buttons.html" %}
    {% endwith %}
</form>
{% endblock %}
