{% extends "base/base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block title %} 
{% trans "Informatie over de belasting en de risico's" %}
{% endblock %}

{% block progress %}{{ progress }}{% endblock %}

{% block content %}
<script>
$(function() {
    depends_on_value('stressful', 'True', 'stressful_details');
    depends_on_value('risk', 'True', 'risk_details');
});
</script>
{% include "studies/study_title.html" %}
{% if study.has_sessions %}
<div class="session_list">
	<p>
		<em>{% trans "Deze studie bestaat uit de volgende sessies:" %}</em>
	</p>
	{% for session in study.session_set.all %}
	<div class="task_list">
	<h4>
		Sessie {{ session.order }} (totale duur: {{ session.tasks_duration }} minuten)
		{% if study.sessions_number > 1 %}
		<a href="{% url 'tasks:session_delete' session.pk %}"><img src="{% static 'proposals/images/delete.png' %}" title="Sessie verwijderen"></a>
		{% endif %}
	</h4>
		<p>
			<em>{% trans "Deze sessie bestaat uit de volgende taken:" %}</em>
		</p>
		{% include "tasks/task_list.html" %}
	</div>
	{% endfor %}
</div>
<p>{% trans "Beantwoord op basis van dit overzicht de volgende vragen:" %}</p>
{% endif %}
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>{{ form.as_table }}</table>
    {% with proposal=study.proposal %}
    {% include "base/form_buttons.html" %}
    {% endwith %}
</form>
{% endblock %}
