{% extends "base/base.html" %}

{% load static %}
{% load i18n %}

{% block header_title %}
    {% trans "Formulieren aanpassen" %} - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="uu-container">
        <div class="col-12">
            <h2>
                {% trans "Formulieren aanpassen" %}
            </h2>
            <p>
                {% blocktrans trimmed with title=documents.proposal.title ref_number=documents.proposal.reference_number order=documents.study.order %}
                Op deze pagina kan je de formulieren aanpassen behorende bij de aanvraag {{ title }}
                (referentienummer <em>{{ ref_number }}</em>), traject {{ order }}.
                {% endblocktrans %}
            </p>
            <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                <table>{{ form.as_table }}</table>
                <input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}">
                <input class="btn btn-primary" type="submit" value="{% trans 'Formulieren aanpassen' %}" />
                <a class="btn btn-secondary" href="javascript:history.go(-1);">{% trans "Terug naar de vorige pagina" %}</a>
            </form>
        </div>
    </div>
{% endblock %}
