{% extends "base/base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block title %} 
{% trans "Overzicht en eigen beoordeling van het gehele onderzoek" %}
{% endblock %}

{% block progress %}{{ progress }}{% endblock %}

{% block sidebar %}
{% with proposal=study.proposal %}
{% include "base/sidebar.html" %}
{% endwith %}
{% endblock %}

{% block content %}
<script>
$(function() {
    depends_on_list_value('deception', ['Y', '?'], 'deception_details');
    depends_on_list_value('negativity', ['Y', '?'], 'negativity_details');
    depends_on_list_value('stressful', ['Y', '?'], 'stressful_details');
    depends_on_list_value('risk', ['Y', '?'], 'risk_details');
});
</script>
{% include "studies/study_title.html" %}
<p>
    {% blocktrans with age_groups=study.age_groups.all|join:', ' %}
    Deelnemers uit de leeftijdscategorieën <em>{{ age_groups }}</em>
    {% endblocktrans %}
    {% if study.has_traits %}
    {% blocktrans with traits=study.traits.all|join:', ' %}
    en met de volgende bijzondere kenmerken <em>{{ traits }}</em>
    {% endblocktrans %}
    {% endif %}
    {% if study.legally_incapable %}
    {% blocktrans %}
    en zijnde <em>wilsonbekwaam</em>
    {% endblocktrans %}
    {% endif %}
    {% blocktrans %}
    zullen aan de volgende onderdelen meedoen:
    {% endblocktrans %}
</p>
<ul>
    {% if study.has_intervention %}
    <li>{% trans "Interventieonderzoek" %}</li>
    {% endif %}
    {% if study.has_observation %}
    <li>{% trans "Observatieonderzoek" %}</li>
    {% endif %}
    {% if study.has_sessions %}
    <li>
        <div>
            <p>{% trans "Takenonderzoek met de volgende opbouw:" %}</p>
            {% for session in study.session_set.all %}
            <div class="task_list">
            <h4>
                Sessie {{ session.order }} (totale brutoduur: {{ session.tasks_duration }} minuten)
                {% if study.sessions_number > 1 %}
                <a href="{% url 'tasks:session_delete' session.pk %}"><img src="{% static 'proposals/images/delete.png' %}" title="{% trans 'Sessie verwijderen' %}"></a>
                {% endif %}
            </h4>
                <p>
                    <em>{% trans "Deze sessie bestaat uit de volgende taken:" %}</em>
                </p>
                {% include "tasks/task_list.html" %}
            </div>
            {% endfor %}
        </div>
    </li>
    {% endif %}
</ul>
<p>
    {% blocktrans %}
    Beantwoord op basis van dit overzicht de volgende vragen, 
    en ga daarbij uit van het naar verwachting meest kwetsbare c.q. 
    minst belastbare (bijv. jongste) geselecteerde deelnemerstype 
    dat dit traject doorloopt.
    {% endblocktrans %}
</p>
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>{{ form.as_table }}</table>
    {% with proposal=study.proposal %}
    {% include "base/form_buttons.html" %}
    {% endwith %}
</form>
{% endblock %}
