{% extends "base/fetc_form_base.html" %}

{% load static %}
{% load i18n %}
{% load fetc_filters %}

{% block header_title %}
    {% trans "Overzicht en eigen beoordeling van het gehele onderzoek" %} - {{ block.super }}
{% endblock %}

{% block html_head %}
    {{ block.super }}
    <script>
        $(function () {
            depends_on_list_value('deception', ['Y', '?'], 'deception_details');
            depends_on_list_value('negativity', ['Y', '?'], 'negativity_details');
            depends_on_list_value('stressful', ['Y', '?'], 'stressful_details');
            depends_on_list_value('risk', ['Y', '?'], 'risk_details');
        });
    </script>
{% endblock %}

{% block pre-form %}
    <h2>{% trans "Overzicht en eigen beoordeling van het gehele traject" %}</h2>
    {% include "studies/study_title.html" %}
    <p>
        {% blocktrans trimmed with age_groups=study.age_groups.all|join:', ' %}
            Deelnemers uit de leeftijdscategorieën <em>{{ age_groups }}</em>
        {% endblocktrans %}
        {% if study.has_traits %}
            {% blocktrans trimmed with traits=study.traits.all|join:', ' %}
                en met de bijzondere kenmerken <em>{{ traits }}</em>
            {% endblocktrans %}
        {% else %}
            {% blocktrans trimmed %}
                zonder bijzondere kenmerken
            {% endblocktrans %}
        {% endif %}
        {% if study.legally_incapable %}
            {% blocktrans trimmed %}
                en zijnde <em>wilsonbekwaam</em>
            {% endblocktrans %}
        {% endif %}
        {% blocktrans trimmed %}
            zullen aan de volgende onderdelen meedoen:
        {% endblocktrans %}
    </p>
        {% include "studies/intervention_table.html" %}
        {% include "studies/observation_table.html" %}
        {% if study.has_sessions %}
            <h3>
                {% trans "Takenonderzoek" %}
                <a href="{% url 'tasks:session_overview' study.pk %}">
                    <img src="{% static 'proposals/images/pencil.png' %}"
                            title="{% trans 'Takenonderzoek bewerken' %}">
                </a>
            </h3>
            {% include "tasks/session_list.html" %}
        {% endif %}
    <p>
        {% blocktrans trimmed %}
            Beantwoord op basis van dit overzicht de volgende vragen,
            en ga daarbij uit van het naar verwachting meest kwetsbare c.q.
            minst belastbare (bijv. jongste) geselecteerde deelnemerstype
            dat dit traject doorloopt.
        {% endblocktrans %}
    </p>
{% endblock %}
