{% extends "base/base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block title %} 
{% trans "De onderzoekstype(n)" %}
{% endblock %}

{% block progress %}{{ progress }}{% endblock %}

{% block sidebar %}
{% with proposal=study.proposal %}
{% include "base/sidebar.html" %}
{% endwith %}
{% endblock %}

{% block content %}
{% include "studies/study_title.html" %}
<p>
    {% blocktrans %}
    De ETCL onderscheidt 3 typen UiL OTS onderzoek (die evt. ook samen in één studie voor kunnen komen):
    {% endblocktrans %}
</p>
<ul>
<li>
    <p>
        {% blocktrans %}
        <strong>Interventieonderzoek</strong>: Onderzoek waarin mensen <em>in hun normale leven in bepaalde contexten
        doen wat ze daar normaliter ook doen, maar maar waar de onderzoeker d.m.v. een interventie iets in de
        context manipuleert</em> (een ander lesboek, andere behandeling, anders vormgegeven website, etc.).
        De effecten van die interventie kunnen gelijktijdig worden geobserveerd, maar ook achteraf.
        {% endblocktrans %}
    </p>
</li>
<li>
    <p>
        {% blocktrans %}
        <strong>Observatieonderzoek</strong>: Onderzoek waarin mensen <em>in hun normale leven in bepaalde contexten
        worden geobserveerd</em>, bijvoorbeeld op scholen of in andere institutionele settings, in de digitale publieke
        ruimte, of bij de deelnemer thuis, <em>zonder dat de onderzoeker daar op enige wijze op ingrijpt</em>.
        Het gedrag wordt geobserveerd, maar eventueel ook de producten ervan.
        {% endblocktrans %}
    </p>
</li>
<li>
    <p>
        {% blocktrans %}
        <strong>Taakonderzoek</strong>: Onderzoek waarbij aan mensen <em>van onderzoekswege (extra) taken of
        gedragsregels worden opgelegd, via bepaalde taakinstructies</em> ("speel 10 minuten met Uw kind zoals U dat
        thuis ook zou doen", "vul deze internetsurvey in", "lees deze verhaaltjes aandachtig door",
        "beluister/beoordeel deze zinnen", "vertel eens iets over Uw vakantie", etc.).
        Er wordt dus iets van mensen gevraagd wat ze in hun normale leven niet (of niet dáár, dán, op déze wijze)
        zouden doen.
        {% endblocktrans %}
    </p>
</li>
</ul>
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>
        <tr>
            <th>
                {% blocktrans %}
                Om welk type onderzoek gaat het hier? U kunt meerdere opties aankruisen.
                {% endblocktrans %}
            </th>
            <td>
                {{ form.has_sessions.errors }}
                <ul>
                    {% for field in form %}
                    <li>
                        <label for="{{ field.auto_id }}">{{ field }} {{ field.label }}</label>
                    </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </table>
    <p>
        {% blocktrans %}
        Voor elk door u aangekruiste type onderzoek kunt u op de hiernavolgende pagina's
        de relevante informatie verschaffen.
        {% endblocktrans %}
    </p>
    {% with proposal=study.proposal %}
    {% include "base/form_buttons.html" %}
    {% endwith %}
</form>
{% endblock %}
