{% extends "base/fetc_form_base.html" %}

{% load static %}
{% load i18n %}

{% block header_title %}
    {% trans "De onderzoekstype(n)" %} - {{ block.super }}
{% endblock %}

{% block pre-form %}
    <h2>{% trans "De onderzoekstype(n)" %}</h2>
    {% include "studies/study_title.html" %}
    <p>
        {% blocktrans trimmed %}
            De FETC-GW onderscheidt 3 typen onderzoek (die evt. ook samen in één aanvraag voor kunnen komen):
        {% endblocktrans %}
    </p>
    <ul>
        <li>
            <p>
                {% blocktrans trimmed %}
                    <strong>Interventieonderzoek</strong>:
                    <br />
                    De onderzoeker manipuleert d.m.v. een <em>interventie</em> de context waarin de deelnemers in hun normale leven doen wat ze normaliter ook doen.
                    <br />
                    De effecten kunnen gelijktijdig en/of achteraf worden geobserveerd.
                {% endblocktrans %}
            </p>
        </li>
        <li>
            <p>
                {% blocktrans trimmed %}
                    <strong>Observatieonderzoek</strong>:
                    <br />
                    De onderzoeker observeert deelnemers in hun normale leven, maar grijpt hier niet op in.
                {% endblocktrans %}
            </p>
        </li>
        <li>
            <p>
                {% blocktrans trimmed %}
                    <strong>Taakonderzoek en/of interview(s)</strong>:
                    <br />
                    De onderzoeker
                    <ul>
                        <li>legt deelnemers een taak op (bijv. vragenlijst, experiment) of</li>
                        <li>neemt een interview af, of</li>
                        <li>vraagt deelnemers deel te nemen aan een focusgroep.</li>
                    </ul>
                    <br />
                    Onderzoek in het ILS-lab is vanwege de locatie per definitie altijd taakonderzoek (óók als de deelnemers na ontvangst alleen maar worden geobserveerd).
                {% endblocktrans %}
            </p>
        </li>
    </ul>
    <p>
        {% blocktrans trimmed %}
            Kies meerdere opties wanneer je bijvoorbeeld een observatiedeel
            combineert met een taakonderzoeksdeel, of met een interventiedeel
            (in dezelfde sessie, of verspreid over dagen). Wanneer je in
            interventieonderzoek extra taken inzet om de effecten van de
            interventie te bemeten (bijvoorbeeld een speciale voor- en
            nameting met een vragenlijst die anders niet zou worden afgenomen)
            dien je die apart als taakonderzoek te specificeren.
        {% endblocktrans %}
    </p>
{% endblock %}

{% block form-css-classes %}uu-form-no-gap{% endblock %}
