### Django ###
*.log
*.pot
*.pyc
__pycache__/


### Project-specific ###
media/
etcl/ldap_settings.py
*.sqlite3

### Coverage ###
.coverage
htmlcov/

### IDE ###
.idea

### Docs ###
docs/_build/doctree/**