### Django/Python ###
*.log
*.pot
*.pyc
__pycache__/
.env*


### Project-specific ###
media/
certs/
fetc/ldap_settings.py
fetc/saml_settings.py
*.sqlite3

### Coverage ###
.coverage
htmlcov/

### IDE ###
.idea

### Docs ###
docs/_build/doctrees/**
*.doctree

### Virtualenv ###
.python-version