Django>=1.11,<2.0
django-auth-ldap
django-braces
django-easy-pdf
django-modeltranslation
mysqlclient<1.4.0
xhtml2pdf
sphinx<2.0.0
sphinx_rtd_theme
sphinxcontrib-apidoc
sphinxcontrib-django
html5lib
django-user-agents