Django>=3.2,<4.0
django-auth-ldap
django-braces
django-easy-pdf
django-modeltranslation
django-impersonate
django-simple-menu
django-debug-toolbar
djangorestframework
mysqlclient<2
xhtml2pdf
sphinx
sphinx_rtd_theme
sphinxcontrib-apidoc
sphinxcontrib-django
html5lib
django-user-agents
pillow>=6.0
pygments
requests
-e git+https://github.com/UiL-OTS-labs/django-shared-core.git@v2.0.9#egg=uil-django-core
-e git+https://github.com/UiL-OTS-labs/python-docx2txt#egg=docx2txt
python-magic
pdftotext
bpython
