Django>=4.2,<5.0
django-braces
django-modeltranslation
django-extensions
django-impersonate
django-simple-menu
django-debug-toolbar
djangorestframework
djangosaml2
mysqlclient<2
xhtml2pdf
sphinx
sphinx_rtd_theme
sphinxcontrib-apidoc
sphinxcontrib-django
html5lib
django-user-agents
pillow>=6.0
pygments
requests
-e git+https://github.com/UiL-OTS-labs/python-docx2txt#egg=docx2txt
cdh-django-core[core,federated-auth,vue,mail,files,rest,recommended] @ git+https://github.com/CentreForDigitalHumanities/django-shared-core.git@v3.2.0-alpha.0
python-magic
pdftotext
bpython
black
djlint
sentry-sdk[django]