{% extends "mail/base.txt" %}

{% block content %}
Beste collega,

{{ creator }} heeft binnen de ETCL-webportal een concept-aanmelding opgesteld voor een studie waarbij u als de eindverantwoordelijke onderzoeker bent aangewezen.
U kunt deze concept-aanmelding <a href="{{ proposal_url }}">hier</a> bekijken en, eventueel na aanpassingen, formeel ter toetsing bij de ETCL indienen.
{% if revision %}
<strong>Let op:</strong> het gaat hierbij om een {{ revision_type|lower }} van een eerdere aanmelding.
Op het webportaal kunt u de wijzigingen ten opzichte van de vorige aanmelding inzien.
{% endif %}

Mocht de link niet werken, kopiëer dan deze link naar uw browser:

{{ proposal_url }}
{% endblock %}
