{% extends "mail/base.html" %}

{% block content_nl %}
Beste collega,<br/>
<br/>
{{ creator }} heeft binnen de ETCL-webportal een concept-aanmelding opgesteld voor een studie waarbij u als de eindverantwoordelijke onderzoeker bent aangewezen.<br/>
U kunt deze concept-aanmelding <a href="{{ proposal_url }}">hier</a> bekijken, eventueel na aanpassingen van uzelf of {{ creator }}, formeel ter toetsing bij de ETCL indienen.<br/>
Indien {{ creator }} wordt geacht de aanpassingen te maken, dient u de studie formeel af te keuren en zelf {{ creator }} hiervan op de hoogte stellen.<br/>
<br/>
{% if revision %}
<strong>Let op:</strong> het gaat hierbij om een {{ revision_type|lower }} van een eerdere aanmelding.<br/>
Op het webportaal kunt u de wijzigingen ten opzichte van de vorige aanmelding inzien.<br/>
{% endif %}
{% endblock %}

{% block content_en %}
Dear colleague,<br/>
<br/>
{{ creator }} has created, within the portal of the EtCL, a draft application for a study for which you are appointed as the supervisor.<br/>
You can review this draft application <a href="{{ proposal_url }}">here</a> and submit this study to the EtCL after you have approved it. Note that in case minor revisions are necessary, you can adjust the study yourself before submitting it.<br/>
In case the application needs to be revised more substantially by {{ creator }}, we ask you to formally disapprove it in order for {{ creator }} to be able to revise it. In such a case, we ask you to inform {{ creator }} about this.<br/>
<br/>
{% if revision %}
<strong>Please note</strong> that this involves a {{ revision_type | lower }} of a previous application.<br/>
On the web portal you can check the differences between the current and previous application.<br/>
{% endif %}
{% endblock %}
