{% extends "mail/base.html" %}

{% block content_nl %}
    {% if was_revised %}
        Beste collega,
        <br />
        <br />
        Je collega {{ creator }} (cc) heeft een gereviseerde aanvraag ingediend bij de ethische commissie (FETC-GW) voor het onderzoek {{ title }}, waar u aan meewerkt. De aanvraag is door de FETC-GW ontvangen.
        <br />
        <br />
        Dit houdt in dat de revisie nu door twee leden van de FETC-GW zal worden beoordeeld; een eenvoudige revisie wordt alleen door de secretaris beoordeeld. We hopen je collega, {{ creator }}, binnenkort een beoordeling te kunnen sturen.
        <br />
        Je kunt de ingediende aanmelding <a href="{{ pdf_url }}">hier</a> in PDF vorm bekijken.
        <br />
    {% else %}
        Beste collega,
        <br />
        <br />
        Je collega {{ creator }} (cc) heeft een aanvraag ingediend bij de ethische commissie (FETC-GW) voor het onderzoek {{ title }}, waar je aan meewerkt. De aanvraag is door de FETC-GW ontvangen. De automatische screening van de portal heeft op basis van de door jouw collega gegeven beschrijving voorlopig de status <em>lange-route onderzoek</em>, zie <a href="https://fetc-gw.wp.hum.uu.nl/reglement-fetc-gw/">appendix A van het reglement</a> voor de criteria.
        <br />
        <br />
        Dit houdt in dat de aanvraag op de eerstvolgende vergadering van de FETC-GW zal worden besproken, wanneer de aanvraag tenminste een week voor die vergadering is ingediend. Zie <a href="https://fetc-gw.wp.hum.uu.nl/category/agenda/">de FETC-GW-agenda</a> voor een overzicht van de komende vergaderingen. Kort na de vergadering zal {{ creator }} de beoordeling ontvangen.
        <br />
        Je kunt de ingediende aanmelding <a href="{{ pdf_url }}">hier</a> in PDF vorm bekijken.
        <br />
    {% endif %}
{% endblock %}

{% block content_en %}
    {% if was_revised %}
        Dear colleague,
        <br />
        <br />
        Your colleague {{ creator }} (cc) has submitted a revised application to the ethical assessment committee (FEtC-H), for the study {{ title }}, in which you are participating. The FEtC-H has received your application.
        <br />
        <br />
        This means that your application will be assessed by two members of the FEtC-H; minor revisions will be assessed by the secretary only. We hope to be able to send your colleague {{ creator }} a decision soon.
        <br />
        You can find a PDF of your submission <a href="{{ pdf_url }}">here</a>.
        <br />
    {% else %}
        Dear colleague,
        <br />
        <br />
        Your colleague {{ creator }} (cc) has submitted an application for the study {{ title }}, in which you are participating. The FEtC-H has received your application. The automatic screening of the portal has given your application the status of <em>long-route research</em>, see <a href="https://fetc-gw.wp.hum.uu.nl/en/regulations-fetc-h/">appendix A in the regulations</a> for the criteria.
        <br />
        <br />
        This means that your application will be discussed during the next FEtC-H meeting, if your application was submitted at least one week before that meeting. See <a href="https://fetc-gw.wp.hum.uu.nl/en/category/agenda-en/">the FEtC-H agenda</a> for an overview of upcoming meetings. {{ creator }} will receive the assessment shortly after the meeting.
        <br />
        You can find a PDF of your submission <a href="{{ pdf_url }}">here</a>.
        <br />
    {% endif %}
{% endblock %}
