{% extends "mail/base.html" %}

{% block content_nl %}
Beste collega,<br/>
<br/>
Uw aanmelding is door de ETCL ontvangen. De automatische screening van de portal heeft op basis van de door u gegeven beschrijving voorlopig de status <em>standaard UiL OTS onderzoek</em> gekregen.<br/>
Dit houdt in dat u binnen uiterlijk twee werkweken een eerste beoordeling van de ETCL tegemoet mag zien.<br/>
<br/>
Zoals beschreven in het reglement kan dat een snelle goedkeuring zijn, maar het is ook mogelijk dat uw studie op grond van deze eerste ETCL beoordeling alsnog als "niet-standaard UiL OTS-onderzoek" wordt gekenmerkt (in welk geval de beoordeling langer zal duren, zie hiervoor <a href="http://etcl.wp.hum.uu.nl/reglement/">appendix B van het reglement</a> voor hulp bij het inschatten van wat valt onder niet-standaard UiL OTS onderzoek en de <a href="http://etcl.wp.hum.uu.nl/reglement/">sectie 2.8 van het reglement</a> voor de mogelijke tijdspaden.<br/>
Houdt u hier a.u.b. rekening mee.<br/>
{% endblock %}

{% block content_en %}
Dear colleague,<br/>
<br/>
The EtCL has received your application. The automatic screening of the portal has given your study the status of <em>standard UiL OTS research</em>.
This means that you will receive an assessment within two working weeks.<br/>
<br/>
As stated in the EtCL regulations, one possible outcome is that your study will be quickly approved as is; a second possibility is that your study after initial assessment will be marked as "non-standard UiL OTS research", see <a href="http://etcl.wp.hum.uu.nl/regulations/"> appendix B in the regulations </a> for information. If the latter case, see <a href="http://etcl.wp.hum.uu.nl/regulations/">section 2.8, p. 14</a> for the possible time paths.<br/>
Please be aware of these possibilities and the different time paths involved.<br/>
{% endblock %}
