{% extends "mail/base.html" %}

{% block content_nl %}
Beste collega,<br/>
<br/>
Uw aanmelding is door de ETCL ontvangen. De automatische screening van de portal heeft op basis van de door u gegeven beschrijving voorlopig de status <em>niet-standaard UiL OTS onderzoek</em>, zie <a href="http://etcl.wp.hum.uu.nl/reglement/">appendix B van het reglement</a> voor hulp bij het inschatten van wat valt onder niet-standaard UiL OTS onderzoek.<br/>
<br/>
Dit houdt in dat uw studie op de eerstvolgende vergadering van de ETCL zal worden besproken, zie <a href="http://etcl.wp.hum.uu.nl/agenda/">de ETCL-agenda</a> voor een overzicht van de komende vergaderingen. Zeer kort na de vergadering zult u de beoordeling ontvangen.<br/>
<br/>
Zoals beschreven in het reglement kan het hier gaan om een goedkeuring, maar ook om een doorverwijzing naar de METC, een tweede beoordelingsronde waarin de ETCL nader advies van derden zal inwinnen, of een afkeuring van de studie in huidige vorm.<br/>
<br/>
Houdt u a.u.b. rekening met deze mogelijkheden en hun verschillende tijdspaden.<br/>
{% endblock %}

{% block content_en %}
Dear colleague,<br/>
<br/>
The EtCL has received your application. The automatic screening of the portal has given your study the status of <em>non-standard UiL OTS research</em>, see <a href="http://etcl.wp.hum.uu.nl/regulations/"> appendix B in the regulations</a> for information.<br/>
<br/>
This means that your study will be discussed during the next EtCL meeting, see <a href="http://etcl.wp.hum.uu.nl/agenda/">the ETCL agenda</a> for an overview of upcoming meetings. Shortly after the meeting you will receive the assessment.<br/>
<br/>
As stated in the EtCL regulations, one possible outcome is that your study will be approved as is; a second possibility is that your study needs to be reviewed by the METC; a third, that a second review will be needed with the help/advise of an internal or external party. Finally, the EtCL could decide not to approve the study in its current design.<br/>
<br/>
Please be aware of these possibilities and the different time paths involved.<br/>
{% endblock %}
