{% extends "base/base.html" %}
{% load fetc_filters %}
{% load get_field_name %}
{% load static %}
{% load i18n %}
{% load datatables %}
{% block header_title %}{{ user_object.get_full_name }} - {{ block.super }}{% endblock %}
{% block content %}
    <div class="uu-inner-container">
        <div class="col-12">
            <h2>{{ user_object.get_full_name }}</h2>
            <table class="exportTable mb-2">
                <tr>
                    <th>{% trans 'Gebruiksersnaam' %}</th>
                    <td>{{ user_object.username }}</td>
                </tr>
                <tr>
                    <th>{% trans 'E-mail' %}</th>
                    <td>{{ user_object.email }}</td>
                </tr>
                <tr>
                    <th>
                        {% get_verbose_field_name "auth" "user" "date_joined" as date_joined_trans %}
                        {{ date_joined_trans|capfirst }}
                    </th>
                    <td>{{ user_object.date_joined }}</td>
                </tr>
            </table>
            <h3>{% trans 'Ingediende aanvragen' %}</h3>
            <table class="dt" data-language="{% datatables_lang %}">
                <thead>
                    <tr>
                        <th>{% trans "Referentienummer" %}</th>
                        <th>{% trans "Eindverantwoordelijke" %}</th>
                        <th>{% trans "Titel aanvraag" %}</th>
                        <th>{% trans "Fase" %}</th>
                        <th>{% trans "Datum ingediend" %}</th>
                        <th>{% trans "Gewenste einddatum" %}</th>
                        <th>{% trans "Mijn besluit" %}</th>
                        <th>{% trans "Afhandeling" %}</th>
                        <th>{% trans "Acties" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for review in reviews %}
                        <tr>
                            <td>{{ review.proposal.reference_number }}</td>
                            <td>{{ review.accountable_user.get_full_name }}</td>
                            <td>{{ review.proposal.title }}</td>
                            <td>{{ review.get_stage_display }}</td>
                            <td data-order="{{ review.date_start|date:'c' }}">{{ review.date_start|date:"j M Y" }}</td>
                            <td data-order="{{ review.date_start|date:'c' }}">{{ review.date_should_end|date:"j M Y" }}</td>
                            <td>{{ decision.get_go_display|default:"" }}</td>
                            <td>
                                {% if review.stage == review.CLOSED %}
                                    {% if review.proposal.has_minor_revision %}
                                        {{ review.get_continuation_display }}{% trans ', met revisie' %}
                                    {% else %}
                                        {{ review.get_continuation_display }}
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'proposals:pdf' review.proposal.pk %}" target="_blank">
                                    <img src="{% static 'main/images/page_white_acrobat.png' %}"
                                         title="{% trans 'Aanvraag inzien' %}">
                                </a>
                                <a href="{% url 'reviews:detail' review.pk %}">
                                    <img src="{% static 'main/images/zoom.png' %}"
                                         title="{% trans 'Details' %}">
                                </a>
                                {% if user|is_secretary and review.stage == review.ASSIGNMENT %}
                                    <a href="{% url 'reviews:assign' review.pk %}">
                                        <img src="{% static 'reviews/images/user_add.png' %}"
                                             title="{% trans 'Aanstellen' %}">
                                    </a>
                                {% elif user|is_secretary and review.stage == review.CLOSING %}
                                    <a href="{% url 'reviews:close' review.pk %}">
                                        <img src="{% static 'reviews/images/accept.png' %}"
                                             title="{% trans 'Afsluiten' %}">
                                    </a>
                                {% elif user|is_secretary and review.stage == review.CLOSED %}
                                    {% if review.continuation == review.GO or review.continuation == review.GO_POST_HOC %}
                                        <a href="{% url 'proposals:archive_export' review.proposal.pk %}">
                                            <img src="{% static 'reviews/images/website.png' %}"
                                                 title="{% trans 'Website export tekst' %}">
                                        </a>
                                        <a href="{% url 'proposals:confirmation' review.proposal.pk %}">
                                            {% if not review.proposal.date_confirmed %}
                                                <img src="{% static 'reviews/images/report_go.png' %}"
                                                     title="{% trans 'Bevestigingsbrief versturen' %}">
                                            {% else %}
                                                <img src="{% static 'reviews/images/tick.png' %}"
                                                     title="{% trans 'Bevestigingsbrief verstuurd' %}">
                                            {% endif %}
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
