{% extends "base/base.html" %}

{% load static %}
{% load i18n %}

{% block html_head %}
    <script>
$(function() {
    depends_on_value('is_nonpublic_space', 'True', 'has_advanced_consent');
    depends_on_value('needs_approval', 'True', 'approval_institution');
    depends_on_value('needs_approval', 'True', 'approval_document');
    check_field_required('registrations', 'needs_details', 'registrations_details', 'observations', 'Registration');

    check_field_required('setting', 'is_school', 'needs_approval', 'main', 'Setting', true);

    depends_on_value('is_anonymous', 'True', 'is_anonymous_details');
    depends_on_value('is_in_target_group', 'True', 'is_in_target_group_details');
    depends_on_value('is_nonpublic_space', 'True', 'is_nonpublic_space_details');

    depends_on_value('has_advanced_consent', 'False', 'has_advanced_consent_details');

    add_title('setting', "{% trans 'Setting' %}");
    add_title('details_who', "{% trans 'Details observatie' %}");
    add_title('is_anonymous', "{% trans 'Anonimiteit' %}");
    add_title('needs_approval', "{% trans 'Toestemming' %}");
    add_title('registrations', "{% trans 'Registratie gedrag' %}");
});
</script>
{% include "main/setting_checks.html" %}
{% endblock %}

{% block content %}
    <div class="uu-inner-container">
        <div class="col-12">
            {% with nav_items=study.proposal.available_urls active=3 %}
                {% include 'base/navigation.html' %}
            {% endwith %}
            <h2>
                {% trans "Het observatieonderzoek" %}
            </h2>
            {% include "studies/study_title.html" %}
            <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                <table>{{ form.as_table }}</table>
                {% with proposal=observation.study.proposal %}
                {% include "base/form_buttons.html" %}
                {% endwith %}
            </form>
        </div>
    </div>
{% endblock %}
