{% extends "base/base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block title %}
{% trans "Het observatieonderzoek" %}
{% endblock %}

{% block progress %}{{ progress }}{% endblock %}

{% block sidebar %}
{% with proposal=study.proposal %}
{% include "base/sidebar.html" %}
{% endwith %}
{% endblock %}

{% block content %}
<script>
$(function() {
    depends_on_value('is_nonpublic_space', 'True', 'has_advanced_consent');
    depends_on_value('needs_approval', 'True', 'approval_institution');
    depends_on_value('needs_approval', 'True', 'approval_document');
    check_field_required('registrations', 'needs_details', 'registrations_details', 'observations', 'Registration');
    
    add_title('setting', "{% trans 'Setting' %}");
    add_title('days', "{% trans 'Details observatie' %}");
    add_title('is_anonymous', "{% trans 'Anonimiteit' %}");
    add_title('needs_approval', "{% trans 'Toestemming' %}");
    add_title('registrations', "{% trans 'Registratie gedrag' %}");
});
</script>
{% include "core/setting_checks.html" %}
{% include "studies/study_title.html" %}
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>{{ form.as_table }}</table>
    {% with proposal=observation.study.proposal %}
    {% include "base/form_buttons.html" %}
    {% endwith %}
</form>
{% endblock %}
