{% extends "base/base.html" %}

{% load static %}
{% load i18n %}

{% block title %}
{% trans "Formulieren aanpassen" %}
{% endblock %}

{% block noprogressbar %}{% endblock %}

{% block content %}
<script>
$(function() {
    depends_on_hidden_value('passive_consent', 'True', 'passive_consent_details');
    depends_on_hidden_value('passive_consent', 'True', 'director_consent_declaration');
    depends_on_hidden_value('passive_consent', 'True', 'director_consent_information');
    depends_on_hidden_value('passive_consent', 'True', 'parents_information');
    depends_on_hidden_value('passive_consent', 'False', 'informed_consent');
    depends_on_hidden_value('passive_consent', 'False', 'briefing');
});
</script>
<p>
    {% blocktrans with title=study.proposal.title ref_number=study.proposal.reference_number order=study.order %}
    Op deze pagina kunt u de formulieren aanpassen behorende bij de studie {{ title }}
    (referentienummer <em>{{ ref_number }}</em>), traject {{ order }}.
	{% endblocktrans %}
</p>
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>{{ form.as_table }}</table>
    <input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}">
    <input class="pure-button pure-button-primary" type="submit" value="{% trans 'Formulieren aanpassen' %}" />
    <a class="pure-button pure-button-secondary" href="javascript:history.go(-1);">{% trans "Terug naar de vorige pagina" %}</a>
</form>
{% endblock %}
