{% extends "base/fetc_form_base.html" %}

{% load static %}
{% load i18n %}

{% block header_title %}
    {% trans "Documenten" %} - {{ block.super }}
{% endblock %}

{% block pre-form-text %}
    <h2>{% trans "Documenten" %}</h2>
    <h3 class="mt-4">{% trans "Algemeen" %}</h3>
    {% for slot in proposal_slots %}
        {% include slot %}
    {% endfor %}
    {% for study, slots in study_slots.items %}
        <hr />
        <h3>
            {% trans "Traject " %} {{ study.order }}
            {% if study.name %}: <em>{{ study.name }}</em>{% endif %}
        </h3>
        {% for slot in slots %}
            {% include slot with manager=manager %}
        {% endfor %}
    {% endfor %}
    {% block auto-form-render %}{% endblock %}

    {% if legacy_documents %}
        <h3 class="mt-5">
            {% trans "Verouderde documenten" %}
        </h4>
        <p>
            {% blocktrans trimmed %}
                De portal heeft recent het systeem voor het toevoegen van documenten vernieuwd. Door de omvang van de veranderingen is het foutgevoelig om de documenten uit het oude systeem automatisch te importeren. Daarom verzoeken we je om eerder toegevoegde documenten vanuit het oude systeem zelf op de goede plek te zetten. Alle oude documenten bij deze aanvraag zijn hieronder weergegeven.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
                Het opnieuw toevoegen van deze documenten hoeft maar één keer, en is alleen nodig voor aanvragen die lopen tijdens deze overgangsperiode.
            {% endblocktrans %}
        </p>
        {% for container in legacy_documents %}
            <h6>{{ container.header }}</h6>
            <ul>
                {% for item in container.items %}
                    <li>
                        {{ item.name }}
                        {% if item.field %}
                            :
                            <a href="{{ item.get_link_url }}">{{ item.field }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% endif %}
{% endblock %}
