{% extends "base/fetc_form_base.html" %}

{% load static %}
{% load i18n %}

{% block header_title %}
{% trans "Informatie over betrokken onderzoekers" %} - {{ block.super }}
{% endblock %}


{% block pre-form-text %}
<h3>{% trans "Documenten" %}</h3>
<h4>{% trans "Algemeen" %}</h4>
{% for study, slots in study_slots.items %}
    <h3>{% trans "Traject " %} {{ study.order }} {% if study.name %}: <em>{{ study.name }}</em> {% endif %}</h3>
    {% for slot in slots %}
        {% include slot %}
    {% endfor %}
{% endfor %}
<h4>{% trans "Overig" %}</h4>
{% block auto-form-render %}
{% endblock %}
{% endblock %}
