{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <title>{% trans "ETCL UiL OTS" %}</title>
    <link rel="stylesheet" type="text/css" href="//yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'proposals/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'proposals/status.css' %}" />
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/qtip2/2.2.1/basic/jquery.qtip.min.css">
    <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.jsdelivr.net/qtip2/2.2.1/basic/jquery.qtip.js"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'proposals/js/jquery.formset.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'proposals/js/pure.menus.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'proposals/js/datepicker-nl.js' %}"></script>
    <script>
        $(document).ready(function() {
            var language = "nl" === "{{ LANGUAGE_CODE }}" ? "Dutch" : "English";
            $('.dataTable').DataTable({
                language: {
                    url: "//cdn.datatables.net/plug-ins/f2c75b7247b/i18n/" + language + ".json"
                }
            });
        });
    </script>
    {% include "proposals/form_styling.html" %}
</head>
<body>

<div class="pure-g">
    <div class="pure-u-1-8"></div>
    <div id="content" class="pure-u-3-4">
        <img id="header-img" src="{% static 'proposals/images/uu-header.png' %}">
        <h1 id="title">{% trans "ETCL UiL OTS" %}</h1>
        {% include "proposals/menu.html" %}
        {% if debug %}
            <div id="messages">
            {% if messages %}
                <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            </div>
        {% endif %}
        {% block notitle %}
            <h2>{% block title %}{% endblock %}</h2>
        {% endblock %}
        {% block noprogressbar %}
            <script>
            $(function() {
                var val = {% block progress %}{% endblock %};
                $('#progressbar').progressbar({
                    value: val
                });
                $('.progress-label').text(val + "%");
            });
            </script>
            <div id="progressbar"><div class="progress-label"></div></div>
        {% endblock %}
        {% block content %}
        {% endblock %}
    </div>
    <div class="pure-u-1-8">
    </div>
</div>

</body>
</html>
