{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>ETCL UiL OTS</title>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'proposals/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready( function () {
            $('.dataTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/f2c75b7247b/i18n/Dutch.json"
                }
            });
        });
    </script>
</head>
<body>

<div class="pure-g">
    <div class="pure-u-1-8"></div>
    <div id="content" class="pure-u-3-4">
        <img id="header-img" src="{% static 'proposals/images/uu-header.png' %}">
        <h1>ETCL UiL OTS</h1>
        {% include "proposals/menu.html" %}
        <h2>{% block title %}{% endblock %}</h2>
        <div id="messages">
        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        </div>
        {% block content %}
        {% endblock %}
    </div>
    <div class="pure-u-1-8">
    </div>
</div>

</body>
</html>
