{% extends "base/fetc_form_base.html" %}

{% load i18n %}
{% load static %}

{% block header_title %}
    {% trans "Verwijder een bestand" %} - {{ block.super }}
{% endblock %}

{% block pre-form-text %}
    <h3>{% trans "Verwijder een bestand" %}</h3>
    <p>
        {% blocktrans trimmed %}
            Je verwijdert het volgende bestand:
        {% endblocktrans %}
        {% include object with proposal=proposal %}
    </p>
    <p>
        {% blocktrans trimmed %}
            Als je een nieuwe versie van dit document wil aanleveren, verwijder het dan niet, maar ga dan terug naar de vorige pagina en wijzig het daar. Zo blijft de geschiedenis van het document bewaard, en dat vergemakkelijkt het beoordeelproces aanzienlijk.
        {% endblocktrans %}
    </p>
{% endblock %}

{% block form-buttons %}
    <div class="mt-4 mb-3 w-100 d-flex">
        <a class="btn btn-secondary"
           href="{% url "proposals:attachments" pk=proposal.pk %}">
            {% trans '<< Ga terug' %}
        </a>
        <input class="btn btn-danger continue-button ms-auto"
               type="submit"
               name="save"
               value="{% trans "Verwijderen" %}" />
    </div>
{% endblock %}
