{% load diff_tags %}
{% load i18n %}

{% if section_title %}
    <h2 class="mt-3 mb-1"> {{ section_title }} </h2>
{% endif %}
{% if study_title %}
    <h3> {{ study_title }} </h3>
{% endif %}
<table class="proposals-diff ">
    <tr>
        <th class="proposals-diff-question"></th>
        <th class="proposals-diff-answer">{% trans "Originele aanvraag" %}</th>
        <th class="proposals-diff-answer">{% trans "Revisie/amendement" %}</th>
    </tr>
{% if warning and missing_object == 0 %}
    <tr>
        <th>{{ rows.0.verbose_name }}</th>
        <td rowspan='{{rows|length}}'>
            <div class='warning'>
                {{ warning }}
            </div>
        </td>
        <td>{{rows.0.value}}</td>
    </tr>
    {%for row in rows|slice:"1:"%}
    <tr>
        <th>{{row.verbose_name}}</th><td>{{row.value}}
    </tr>
    {% endfor %}
{% elif warning and missing_object == 1 %}
    <tr>
        <th>{{ rows.0.verbose_name }}</th>
        <td>{{rows.0.value}}</td>
        <td rowspan='{{rows|length}}'>
            <div class='warning'>
                {{ warning }}
            </div>
        </td>
    </tr>
    {%for row in rows|slice:"1:"%}
    <tr>
        <th>{{row.verbose_name}}</th><td>{{row.value}}
    </tr>
    {% endfor %}
{% else %}
    {% for row in rows %}
        <tr>
            <th>{{ row.verbose_name }}</th><td>{{ row.value }}</td><td>{{row.value_2}}</td>
        </tr>
    {% endfor %}
{% endif %}
</table>