{% load staticfiles %}

<script>
function depends_on_value(a, a_value, b)
{
    $('input[name=' + a + ']').change(function() {
        var check = $('input[name=' + a + ']:checked').val() == a_value;
        $('#id_' + b).parent().parent().toggle(check);
    });
    $('input[name=' + a + ']').change();
}

function depends_on_list_value(a, a_value, b)
{
    $('input[name=' + a + ']').change(function() {
        var values = $('input[name=' + a + ']:checked').map(function() {
            return this.value;
        }).get();
        // TODO: do this via AJAX request
        $('#id_' + b).parent().parent().toggle(intersect(values, a_value).length > 0);
    });
    $('input[name=' + a + ']').change();
}

function intersect(a, b)
{
    return a.filter(function (e) {
        if (b.indexOf(e) !== -1) return true;
    });
}

$(function() {
	$("[id^=id]").each(function() { 
		var help = $(this).next().next(); 
		if (help.html()) 
		{
			$(this).after('<img src="{% static 'proposals/images/information.png' %}">');
			$(this).next().attr('title', help.html());
			help.hide();
		}
	});

	$("form table").addClass("pure-table pure-table-horizontal");
	$("form").addClass("pure-form");
});
</script>