{% extends "proposals/base.html" %}

{% load i18n %}

{% block title %} 
{% trans "Startpagina" %}
{% endblock %}

{% block noprogressbar %}{% endblock %}

{% block content %} 
{% if user.is_authenticated %}
<p>
	{% blocktrans with first=user.first_name last=user.last_name trimmed %}
	Welkom {{ first }} {{ last }}! In dit portal kan je het volgende doen: 
	{% endblocktrans %}
</p>
<h3>Mijn aanvragen</h3>
<ul>
	<li>
		<a href="{% url 'proposals:create' %}">{% trans "Een nieuwe aanvraag indienen (je studie vanuit een leeg formulier aanmelden voor toetsing)" %}</a>
	</li>
	<li>
		<a href="{% url 'proposals:copy' %}">{% trans "Een bestaande aanvraag kopiëren (om een vergelijkbare studie sneller te kunnen aanmelden)" %}</a>
	</li>
	<li>
		<a href="{% url 'proposals:my_concepts' %}">{% trans "Mijn conceptaanvragen bekijken" %}</a>
	</li>
	<li>
		<a href="{% url 'proposals:my_submitted' %}">{% trans "Mijn ingediende aanvragen bekijken" %}</a>
	</li>
	<li>
		<a href="{% url 'proposals:my_completed' %}">{% trans "Mijn afgeronde aanvragen bekijken" %}</a>
	</li>
	<li>
		<a href="{% url 'proposals:my_archive' %}">{% trans "Al mijn aanvragen bekijken" %}</a>
	</li>
</ul>
<h3>UiL OTS archief</h3>
<ul>
	<li>
		<a href="{% url 'proposals:archive' %}">{% trans "Alle UiL OTS aanvragen bekijken" %}</a>
	</li>
</ul>
<h3>Help</h3>
<ul>
	<li>
		<a href="{% url 'proposals:faq' %}">{% trans "Veelgestelde vragen m.b.t. dit portal" %}</a>
	</li>
	<li>
		<a href="{% url 'feedback:create' %}">{% trans "Geef feedback op dit portal" %}</a>
	</li>
	<li>
		<a href="http://etcl.wp.hum.uu.nl/reglement/" target="_blank">{% trans "ETCL reglement" %}</a>
	</li>
	<li>
		<a href="http://etcl.wp.hum.uu.nl/toestemmingsverklaringen/" target="_blank">{% trans "Informed consent formulieren" %}</a>
	</li>
</ul>
{% else %}
<p>
	{% url 'login' as the_url %}
	{% blocktrans %}
	Welkom bij het portal van de ETCL. U kunt <a href="{{ the_url }}">hier</a> inloggen met Uw Solis-ID.
	{% endblocktrans %}
</p>
<p>
	{% blocktrans %}
	Klik <a href="http://etcl.wp.hum.uu.nl">hier</a> om terug te keren naar de ETCL-website.
	{% endblocktrans %}
</p>

{% endif %}
{% endblock %}
