{% extends "proposals/base.html" %}

{% load i18n %}

{% block title %} 
{% trans "Home" %}
{% endblock %}

{% block content %} 
{% if user.is_authenticated %}
<p>
	{% blocktrans with first=user.first_name last=user.last_name trimmed %}
	Welkom {{ first }} {{ last }}!
	{% endblocktrans %}
</p>
<ul>
	<li><a href="{% url 'proposals:create' %}">{% trans "Nieuwe aanvraag indienen" %}</a></li>
	<li><a href="{% url 'proposals:copy' %}">{% trans "Bestaande aanvraag kopiëren" %}</a></li>
	{% if reviews_supervisor %}
	<li><a href="{% url 'reviews:supervisor' %}">Aanvragen beoordelen als supervisor ({{ reviews_supervisor.count }})</a></li>
	{% endif %}
	{% if reviews_commission %}
	<li><a href="{% url 'reviews:commission' %}">Aanvragen beoordelen als commissielid ({{ reviews_commission.count }})</a></li>
	{% endif %}
</ul>
{% else %}
<p>
	{% url 'login' as the_url %}
	{% blocktrans %}
	Welkom bij het webportal van de ETCL. U kunt <a href="{{ the_url }}">hier</a> inloggen.
	{% endblocktrans %}
</p>
<p>
	{% blocktrans %}
	Klik <a href="http://etcl.wp.hum.uu.nl" target="_blank">hier</a> om terug te keren naar de ETCL-website.
	{% endblocktrans %}
</p>

{% endif %}
{% endblock %}
