{% extends "proposals/base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block title %} 
{% trans "Nadere specificatie van de interventiestudie (of het interventieonderzoeksdeel van de studie):" %}
{% endblock %}

{% block progress %}25{% endblock %}

{% block content %}
<script>
$(function() {
    depends_on_value('has_drawbacks', 'True', 'has_drawbacks_details');
});
</script>
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>{{ form.as_table }}</table>
    {% with proposal=study.proposal %}
    {% include "proposals/form_buttons.html" %}
    {% endwith %}
</form>
{% endblock %}
