{% load i18n %}
<div class="pure-menu pure-menu-horizontal pure-menu-custom">
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
            <a class="pure-menu-link" href="{% url 'proposals:home' %}">{% trans "Home" %}</a>
        </li>
        {% if user.is_authenticated %}
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            <a href="#" class="pure-menu-link">Aanvragen</a>
            <ul class="pure-menu-children">
                <li class="pure-menu-item">
                    <a class="pure-menu-link" href="{% url 'proposals:my_concepts' %}">{% trans "Mijn conceptaanvragen" %}</a>
                </li>
                <li class="pure-menu-item">
                    <a class="pure-menu-link" href="{% url 'proposals:my_archive' %}">{% trans "Mijn aanvraagarchief" %}</a>
                </li>
                <li class="pure-menu-item">
                    <a class="pure-menu-link" href="{% url 'proposals:archive' %}">{% trans "Publiek aanvraagarchief" %}</a>
                </li>
            </ul>
        </li>
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            <a href="#" class="pure-menu-link">Besluiten</a>
            <ul class="pure-menu-children">
                <li class="pure-menu-item">
                    <a class="pure-menu-link" href="{% url 'reviews:home' %}">{% trans "Mijn besluiten" %}</a>
                </li>
                <li class="pure-menu-item">
                    <a class="pure-menu-link" href="{% url 'reviews:supervisor' %}">{% trans "Openstaande besluiten" %}</a>
                </li>
            </ul>
        </li>
        <li class="pure-menu-item">
            <a class="pure-menu-link" href="{% url 'proposals:faq' %}">{% trans "FAQ" %}</a>
        </li>
        <li class="pure-menu-item">
            <a class="pure-menu-link" href="{% url 'feedback:create' %}"><em>{% trans "Feedback" %}</em></a>
        </li>
        <li class="pure-menu-item">
            <a class="pure-menu-link" href="{% url 'logout' %}"><em>{% trans "Uitloggen" %}</em></a>
        </li>
        {% else %}
        <li class="pure-menu-item">
            <a class="pure-menu-link" href="http://etcl.wp.hum.uu.nl" target="_blank">{% trans "ETCL-website" %}</a>
        </li>
        <li class="pure-menu-item">
            <a class="pure-menu-link" href="{% url 'login' %}"><em>{% trans "Inloggen" %}</em></a>
        </li>
        {% endif %}

        <li class="pure-menu-item">
            <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}" />
                <select name="language">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                            {{ language.name_local }}
                        </option>
                    {% endfor %}
                </select>
                <input type="submit" value="{% trans 'Ga' %}" />
            </form>
        </li>
    </ul>
</div>
