{% extends "base/fetc_form_base.html" %}

{% load static %}
{% load i18n %}

{% block header_title %}
    {% trans "Informatie over betrokken onderzoekers" %} - {{ block.super }}
{% endblock %}

{% block html_head %}
    {{ block.super }}
    <script>
        $(function () {
            depends_on_value('other_applicants', 'True', 'applicants');
            depends_on_value('other_stakeholders', 'True', 'stakeholders');
        });
    </script>
{% endblock %}

{% block pre-form-text %}
    <h3>{% trans "Informatie over betrokken onderzoekers" %}</h3>
{% endblock %}
