{% load i18n %}
{% load static %}

{% if not create and is_supervisor %}
    <div class="col-12 text-center">
        <div class="alert alert-info">
            {% blocktrans trimmed %}
                Je past nu een aanvraag aan van een student/PhD kandidaat onder jouw supervisie. Let er op dat je
                het formulier invult alsof jij die student/PhD kandidaat bent.
            {% endblocktrans %}
        </div>
    </div>
{% endif %}
{% if is_practice %}
    <div class="col-12 text-center">
        <div class="alert alert-info">
            {% trans "Je bewerkt op het moment een oefenaanvraag. Deze kan niet ter beoordeling door de FETC-GW worden ingediend." %}
        </div>
    </div>
{% endif %}