{% extends "proposals/base.html" %}
{% load staticfiles %}

{% block title %} 
Mijn aanvragen
{% endblock %} 

{% block content %}
<p>Aanvragen (titel en deze tekst nog corrigeren)</p>
<table class="dataTable display">
    <thead>
        <tr>
            <th>Titel studie</th>
            <th>Status</th>
            <th>Laatst bijgewerkt</th>
            <th>Acties</th>
        </tr>
    </thead>
    <tbody>
        {% for proposal in proposals %}
        <tr>
            <td>{{ proposal.title }}</td>
            <td>{{ proposal.status }}</td>
            <td>{{ proposal.date_modified }}</td>
            <td>
            	<a href="{% url 'proposals:detail' proposal.id %}"><img src="{% static 'proposals/images/zoom.png' %}"></a>
                <a href="{{ proposal.continue_url }}"><img src="{% static 'proposals/images/page_white_go.png' %}"></a>
            	<a href="{% url 'proposals:delete' proposal.id %}"><img src="{% static 'proposals/images/delete.png' %}"></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
