{% extends "base/base.html" %}

{% load i18n %}
{% load proposal_filters %}
{% load static %}
{% load uil_filters %}
{% load get_field_name %}
{% load diff_tags %}

{% block header_title %}
    {% trans "Overzicht van wijzigingen" %} - {{ block.super }}
{% endblock %}

{% block html_head %}
    <script src="{% static 'main/js/htmldiff.js' %}"></script>
    <script>
        // The new implementation causes some issues with the js, 
        // - The loading icon does not go away sometimes.
        // - The colors appear for the first instance of a missing section warning,
        //   which is kindoff ugly.
        $(function () {
            // Color changes between proposals
            $('tr:not(.diff-ignore) td:nth-child(2)').each(function () {
                let old_el = $(this);
                let new_el = old_el.next();
                let before = html_to_tokens(old_el.html());
                let after = html_to_tokens(new_el.html());
                let ops = calculate_operations(before, after);

                old_el.html(render_before_operations(before, after, ops));
                new_el.html(render_after_operations(before, after, ops));
            });
            $("#loading-icon").hide();
        });
    </script>
{% endblock %}

{% block content %}
    <div class="uu-inner-container">
        <div class="col-12">
            <h2>{% trans "Overzicht van wijzigingen" %}</h2>
            <p>
                {% trans "Dit overzicht toont de gemaakte wijzigingen in de revisie/het amendement ten opzichte van de originele aanvraag." %}
            </p>
        </div>
    </div>
    <div class="uu-inner-container">
        <div class="col-12 compare document-compare">
            <div class="col-12 text-center mt-5 mb-5" id="loading-icon">
                <img src="{% static 'main/images/loading.gif' %}"/>
            </div>

                {% include general %}

                {% include wmo %}

                {% if metc %}
                  {% include metc %}
                {% endif %}
          
                {% include trajectories %}

                {% if studies %}
                    {% for study in studies %}
                        {% for study_section in study %}
                            {% include study_section %}
                        {% endfor %}
                    {% endfor %}

                    {% if extra_documents %}
                        {% for document in extra_documents %}
                            {% include document %}
                        {% endfor %}
                    {% endif %}

                    {% if dmp_file %}
                        {% include dmp_file %}
                    {% endif %}

                    {% include embargo %}

                    
                    <h2 class="mt-5 mb-1">{% trans "Ruimte voor eventuele opmerkingen" %}</h2>
                    <table class="proposals-diff ">
                        <tr>
                            <th class="proposals-diff-question"></th>
                            <th class="proposals-diff-answer">{% trans "Originele aanvraag" %}</th>
                            <th class="proposals-diff-answer">{% trans "Revisie/amendement" %}</th>
                        </tr>
                        <tr>
                            <th>{% get_verbose_field_name "proposals" "proposal" "comments" %}</th>
                            <td>{{ p_proposal.comments }}</td>
                            <td>{{ proposal.comments }}</td>
                        </tr>
                    </table>
                {% endif %}

            <p class="mt-5 float-right">
                <button class="button" onclick="window.history.back();">
                    {% trans "Terug naar de vorige pagina" %}
                </button>
            </p>

        </div>
    </div>
{% endblock %}
