{% extends "easy_pdf/base.html" %}

{% load i18n %}
{% load proposal_filters %}

{% block extra_style %}
    <style type="text/css">
        #content table {
            border-top-width: .5px;
            border-top-style: solid;
            border-top-color: #cbcbcb;
            border-right-width: .5px;
            border-right-style: solid;
            border-right-color: #cbcbcb;
            border-bottom-width: .5px;
            border-bottom-style: solid;
            border-bottom-color: #cbcbcb;
            border-left-width: .5px;
            border-left-style: solid;
            border-left-color: #cbcbcb;
        }

        #content th, td {
            width: 500px;
            font-weight: normal;
            text-align: left;
            padding-top: 3px;
            padding-right: 3px;
            padding-bottom: 3px;
            padding-left: 3px;
        }

        #content li {
            line-height: 10px;
        }
    </style>
{% endblock %}

{% block page_header %}
<div id="page-header">
    {% blocktrans with title=proposal.title reference_number=proposal.reference_number submitter=proposal.created_by.get_full_name %}
    FETC-GW - Aanvraag elders al goedgekeurde studie <em>{{ title }}</em> (referentienummer {{ reference_number }}, ingediend door {{ submitter }})
    {% endblocktrans %}
</div>
{% endblock %}

{% block page_foot %}
Page <pdf:pagenumber /> of <pdf:pagecount />
{% endblock %}

{% block content %}
<div id="content">
    <div class="main">
        <h1>
            {% blocktrans with reference_number=proposal.reference_number %}
            Referentienummer {{ reference_number }}
            {% endblocktrans %}
        </h1>
        <h2>{% trans "Algemene informatie over de studie" %}</h2>
        <table>
            <tr>
                <th>{% get_verbose_field_name "proposals" "proposal" "is_pre_approved" %}</th>
                <td>{{ proposal.is_pre_approved }}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "proposals" "proposal" "relation" %}</th>
                <td>{{ proposal.relation }}</td>
            </tr>
            {% if proposal.relation.needs_supervisor %}
            <tr>
                <th>{% get_verbose_field_name "proposals" "proposal" "supervisor" %}</th>
                <td>{{ proposal.supervisor.get_full_name }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>{% get_verbose_field_name "proposals" "proposal" "other_applicants" %}</th>
                <td>{{ proposal.other_applicants|yesno:_("ja,nee") }}</td>
            </tr>
            {% if proposal.other_applicants %}
            <tr>
                <th>{% get_verbose_field_name "proposals" "proposal" "applicants" %}</th>
                <td>{{ proposal.applicants.all|unordered_list }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>{% get_verbose_field_name "proposals" "proposal" "other_stakeholders" %}</th>
                <td>{{ proposal.other_stakeholders|yesno:_("ja,nee") }}</td>
            </tr>
            {% if proposal.other_stakeholders %}
            <tr>
                <th>{% get_verbose_field_name "proposals" "proposal" "stakeholders" %}</th>
                <td>{{ proposal.stakeholders }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>{% get_verbose_field_name "proposals" "proposal" "date_start" %}</th>
                <td>{{ proposal.date_start|default:_("onbekend") }}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "proposals" "proposal" "title" %}</th>
                <td>{{ proposal.title }}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "proposals" "proposal" "funding" %}</th><td>{{ proposal.funding.all|unordered_list }}</td>
            </tr>
            {% if proposal.funding.all|needs_details %}
            <tr>
                <th>{% get_verbose_field_name "proposals" "proposal" "funding_details" %}</th><td>{{ proposal.funding_details }}</td>
            </tr>
            {% endif %}
            {% if proposal.funding.all|needs_details:"needs_name" %}
            <tr>
                <th>{% get_verbose_field_name "proposals" "proposal" "funding_name" %}</th><td>{{ proposal.funding_name }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>{% get_verbose_field_name "proposals" "proposal" "pre_approval_institute" %}</th><td>{{ proposal.pre_approval_institute }}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "proposals" "proposal" "pre_approval_pdf" %}</th>
                <td><a href="{{ BASE_URL }}{{ proposal.pre_approval_pdf.url }}" target="_blank">{% trans "Download" %}</a></td>
            </tr>
        </table>

        <h3>{% get_verbose_field_name "proposals" "proposal" "summary" %}</h3>
        <p>{{ proposal.summary|linebreaks }}</p>

        <h2>{% trans "Aanmelding versturen" %}</h2>
        <h3>{% get_verbose_field_name "proposals" "proposal" "comments" %}</h3>
        <p>
            {{ proposal.comments }}
        </p>
    </div>
</div>
{% endblock %}
