{% extends "base/fetc_form_base.html" %}

{% load static %}
{% load i18n %}

{% block header_title %}
    {% trans "Bevestigingsbrief versturen" %} - {{ block.super }}
{% endblock %}

{% block sidebar %}<!--override the stepper-->{% endblock %}

{% block pre-form-text %}
    <h2>{% trans "Bevestigingsbrief versturen" %}</h2>
    <p>
        {% blocktrans trimmed with title=review.proposal.title %}
            Geef hieronder aan wanneer de bevestigingsbrief voor de aanvraag <em>{{ title }}</em> is verstuurd.
        {% endblocktrans %}
    </p>
{% endblock %}

{% block form-buttons %}
    <a class="btn btn-secondary" href="javascript:history.go(-1);">{% trans "Terug naar de vorige pagina" %}</a>
    <input class="btn btn-primary ms-auto"
           type="submit"
           value="{% trans 'Bevestigingsbrief verstuurd' %}" />
{% endblock %}
