{% extends "base/base.html" %}

{% load static %}
{% load i18n %}

{% block header_title %}
    {% if proposal.is_pre_assessment %}
        {% trans "Aanvraag voor voortoetsing verstuurd" %}
    {% elif proposal.relation.needs_supervisor %}
        {% trans "Concept-aanmelding verstuurd" %}
    {% else %}
        {% trans "Aanmelding verstuurd" %}
    {% endif %}
    - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="uu-inner-container">
        <div class="col-12">
            <h2>
                {% if proposal.is_pre_assessment %}
                    {% trans "Aanvraag voor voortoetsing verstuurd" %}
                {% elif proposal.relation.needs_supervisor %}
                    {% trans "Concept-aanmelding verstuurd" %}
                {% else %}
                    {% trans "Aanmelding verstuurd" %}
                {% endif %}
            </h2>
            <p>
                {% if proposal.is_pre_assessment %}
                    {% trans "Je aanvraag voor voortoetsing is verstuurd." %}
                {% elif proposal.relation.needs_supervisor %}
                    {% trans "Je concept-aanmelding is verstuurd." %}
                {% else %}
                    {% trans "Je aanmelding is verstuurd." %}
                {% endif %}
                {% trans "Je ontvangt een e-mail ter bevestiging." %}

                {% url 'proposals:my_submitted' as submitted_url %}
                {% blocktrans trimmed %}
                    Klik <a href="{{ submitted_url }}">hier</a> om je ingediende aanvragen in te zien.
                {% endblocktrans %}
            </p>
        </div>
    </div>
{% endblock %}
