{% extends "base/base.html" %}

{% load static %}
{% load i18n %}

{% block header_title %}
    Goedgekeurde studies - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="uu-inner-container">
        <div class="col-12">
            Goedgekeurde studies
        </div>
        <table class="display exportTable">
            <tr>
                <th>{% trans "Referentienummer" %}</th>
                <th>{% trans "Indiener" %}</th>
                <th>{% trans "Eindverantwoordelijke onderzoeker" %}</th>
            </tr>
            {% for proposal in proposals %}
                <tr>
                    <td>{{ proposal.reference_number }}</td>
                    <td>{{ proposal.created_by.get_full_name }}</td>
                    {% if proposal.supervisor %}
                        <td>{{ proposal.supervisor.get_full_name }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
