{% extends "proposals/base.html" %}
{% load staticfiles %}

{% block title %} 
Aanvraag <em>{{ proposal.title }}</em>
{% endblock %} 

{% block content %}
<h3>Algemene informatie
    <a href="{% url 'proposals:update' proposal.id %}">
        <img src="{% static 'proposals/images/pencil.png' %}">
    </a>
</h3>
<table class="pure-table">
    <tr>
        <th>Ingediend door</th>
        <td>{{ proposal.created_by }} (<em>{{ proposal.relation }}</em>)</td>
    </tr>
    {% if proposal.relation.needs_supervisor %}
    <tr>
        <th>E-mailadres eindverantwoordelijke</th>
        <td>{{ proposal.supervisor_email|urlize }}</td>
    </tr>
    {% endif %}
    <tr>
        <th>Longitudinale studie?</th>
        <td>{{ proposal.longitudinal|yesno:"ja,nee" }}</td>
    </tr>
</table>

{% if proposal.wmo %}
<h3>WMO-plichtig of niet?
    <a href="{% url 'proposals:wmo_update' proposal.id %}">
        <img src="{% static 'proposals/images/pencil.png' %}">
    </a>
</h3>
TODO: text per status
{% endif %}

{% if proposal.study %}
<h3>Algemene kenmerken van de studie 
    <a href="{% url 'proposals:study_update' proposal.id %}">
        <img src="{% static 'proposals/images/pencil.png' %}">
    </a>
</h3>
<table class="pure-table">
    <tr>
        <th>Leeftijdsgroepen</th>
        <td>{{ proposal.study.age_groups.all|unordered_list }}</td>
    </tr>
    <tr>
        <th>Bijzondere kenmerken</th>
        <td>
            {% if proposal.study.has_traits %}
            {{ proposal.study.traits.all|unordered_list }}
            {% else %}
            geen
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Setting</th>
        <td>{{ proposal.study.setting }}</td>
    </tr>
    <tr>
        <th>Vergoeding</th>
        <td>{{ proposal.study.compensation }}</td>
    </tr>
    <tr>
        <th>Werving via</th>
        <td>{{ proposal.study.recruitment.all|unordered_list }}</td>
    </tr>
</table>
{% endif %}

{% if proposal.task_set.all %}
<h3>Belasting voor de proefpersoon</h3>
<table class="pure-table">
    <tr>
        <th>Aantal taken</th>
        <td>
            {{ proposal.task_set.count }} / {{ proposal.tasks_number }} 
            <a href="{% url 'proposals:task_start' proposal.id %}"><img src="{% static 'proposals/images/pencil.png' %}"></a>
            <a href="{% url 'proposals:task_create' proposal.id %}">Taak toevoegen</a>
        </td>
    </tr>
    <tr>
        <th>Netto duur</th>
        <td>{{ proposal.gross_duration }} minuten</td>
    </tr>
    {% if proposal.tasks_duration %}
    <tr>
        <th>Bruto duur</th>
        <td>
            {{ proposal.tasks_duration }} minuten
            <a href="{% url 'proposals:task_end' proposal.id %}"><img src="{% static 'proposals/images/pencil.png' %}"></a>
        </td>
    </tr>
    <tr>
        <th>Belastend?</th>
        <td>
            {{ proposal.tasks_stressful|yesno:"ja,nee,twijfel" }}
            <a href="{% url 'proposals:task_end' proposal.id %}"><img src="{% static 'proposals/images/pencil.png' %}"></a>
        </td>
    </tr>
    {% endif %}
</table>
<h4>Taken</h4>
<table class="dataTable display">
    <thead>
        <tr>
            <th>Naam</th>
            <th>Duur (in minuten)</th>
            <th>Actie(s)</th>
            <th>Registratie via</th>
            <th>Feedback?</th>
            <th>Belastend?</th>
            <th>Acties</th>
        </tr>
    </thead>
    <tbody>
        {% for task in proposal.task_set.all %}
        <tr>
            <td>{{ task.name }}</td>
            <td>{{ task.duration }}</td>
            <td>{{ task.actions.all|unordered_list }}</td>
            <td>{{ task.registrations.all|unordered_list }}</td>
            <td>{{ task.feedback|yesno:"ja,nee,twijfel" }}</td>
            <td>{{ task.stressful|yesno:"ja,nee,twijfel" }}</td>
            <td>
                <a href="{% url 'proposals:task_update' task.id %}"><img src="{% static 'proposals/images/pencil.png' %}"></a>
                <a href="{% url 'proposals:task_delete' task.id %}"><img src="{% static 'proposals/images/delete.png' %}"></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}
