{% extends "base/base.html" %}
{% load i18n %}
{% block header_title %}
    {% trans "Aanvraag verwijderen" %} - {{ block.super }}
{% endblock %}
{% block content %}
    <div class="uu-inner-container">
        <div class="col-12">
            <h2>{% trans "Aanvraag verwijderen" %}</h2>
            <p>
                {% blocktrans trimmed with title=proposal.title %}
                    Weet je zeker dat je de aanvraag <em>{{ title }}</em> wilt verwijderen?
                {% endblocktrans %}
            </p>
            <form action="" method="post">
                {% csrf_token %}
                <input class="button" type="submit" value="{% trans 'Verwijderen' %}" />
                <a class="button" href="javascript:history.go(-1)">{% trans "Annuleren" %}</a>
            </form>
        </div>
    </div>
    x
{% endblock %}
