{% extends "base/fetc_base.html" %}

{% load i18n %}
{% load proposal_filters %}
{% load static %}
{% load cdh_filters %}
{% load get_field_name %}
{% load diff_tags %}

{% block header_title %}
    {% trans "Overzicht van wijzigingen" %} - {{ block.super }}
{% endblock %}

{% block html_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/diff.css' %}">
    <script src="{% static 'main/js/htmldiff.js' %}"></script>
    <script>
        $(function () {
            // Color changes between proposals
            $('tr:not(.diff-ignore) td:nth-child(2)').each(function () {
                let old_el = $(this);
                let new_el = old_el.next();
                let before = html_to_tokens(old_el.html());
                let after = html_to_tokens(new_el.html());
                let ops = calculate_operations(before, after);

                old_el.html(render_before_operations(before, after, ops));
                new_el.html(render_after_operations(before, after, ops));
            });
            $("#loading-icon").hide();
        });
    </script>
{% endblock %}

{% block content %}
    <div class="uu-container">
        <div class="col-12">
            <h2>
                {% trans "Overzicht van wijzigingen bij aanmelding " %}
                <em>{{ proposal.title }}</em> - {{ proposal.reference_number }}
            </h2>
            <p>
                {% trans "Dit overzicht toont de gemaakte wijzigingen in de revisie/het amendement ten opzichte van de originele aanvraag." %}
            </p>
        </div>
    </div>
    <div class="uu-container">
        <div class="col-12 compare document-compare">
            <div class="col-12 text-center mt-5 mb-5" id="loading-icon">
                <img src="{% static 'main/images/loading.gif' %}" />
            </div>
            {% for section in sections %}
                {% include section %}
            {% endfor %}
            <p class="mt-5 float-end">
                <button class="btn btn-secondary" onclick="window.history.back();">{% trans "Terug naar de vorige pagina" %}</button>
            </p>
        </div>
    </div>
{% endblock %}
