{% extends "base/base.html" %}

{% load static %}
{% load i18n %}

{% block header_title %}
    {% trans "Een nieuwe studie aanmelden (die al goedgekeurd is door een andere ethische toetsingscomissie)" %} - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="uu-inner-container">
        <div class="col-12">
            <h2>
                {% trans "Een nieuwe studie aanmelden (die al goedgekeurd is door een andere ethische toetsings comissie)" %}
            </h2>
            <p>
                {% blocktrans trimmed %}
                Je wilt een nieuwe studie ter toetsing bij de FETC-GW aanmelden, die al getoetst is
                door een andere ethische (toetsings) commissie.
                Het is daarvoor <em>noodzakelijk</em> dat je goed bekend bent met het FETC-GW
                reglement. <br />Deze kan je vinden op de UU-webpagina van de FETC-GW:
                <a href="http://fetc-gw.wp.hum.uu.nl/reglement-algemene-kamer/" target="_blank">reglement Algemene Kamer (AK)</a> en
                <a href="http://fetc-gw.wp.hum.uu.nl/reglement-linguistiek-kamer/" target="_blank">reglement Linguïstiek Kamer
                    (LK)</a>.
                Je kan jezelf en de commissieleden veel tijd besparen door je eerst
                goed te informeren.
                {% endblocktrans %}
            </p>
            <p>
                {% blocktrans trimmed with secretary_name=secretary.get_full_name %}
                Gebruik bij het invullen s.v.p. geen afkortingen waar de FETC-GW wellicht
                niet mee bekend is.
                Raadpleeg bij vragen eerst het
                reglement van de <a href="http://fetc-gw.wp.hum.uu.nl/reglement-algemene-kamer/" target="_blank"> Algemene Kamer
                    (AK)</a> of
                de <a href="http://fetc-gw.wp.hum.uu.nl/reglement-linguistiek-kamer/" target="_blank">Linguïstiek Kamer (LK)</a>,
                en neem eventueel daarna contact op met de secretaris
                ({{ secretary_name }},
                <a href="mailto:fetc-gw@uu.nl">fetc-gw@uu.nl</a>).
                {% endblocktrans %}
            </p>
            <a class="button button-colored float-right mb-3" href="{% url 'proposals:create_pre_approved' %}">
                {% trans "Volgende stap >>" %}
            </a>
        </div>
    </div>
{% endblock %}