{% extends "proposals/base.html" %}

{% block content %}
<h2>Aanvraag <em>{{ proposal.name }}</em></h2>
<h3>Algemene informatie</h3>
<table class="pure-table">
    <tr>
        <th>Longitudinaal</th>
        <td>{{ proposal.longitudinal }}</td>
    </tr>
    <tr>
        <th>Supervisor</th>
        <td>{{ proposal.supervisor_name }} (<a href="mailto:{{ proposal.supervisor_email }}">{{ proposal.supervisor_email }}</a>)</td>
    </tr>
</table>

{% if proposal.wmo %}
<h3>WMO-plichtig of niet?</h3>
<table class="pure-table">
    <tr>
        <th>METC?</th>
        <td>{{ proposal.wmo.metc }}</td>
    </tr>
</table>
{% endif %}

{% if proposal.task_set %}
<script>
$(document).ready( function () {
    $('#tasks').DataTable();
} );
</script>
<h3>Taken</h3>
<a href="{% url 'proposals:task_create' proposal.id %}">Taak toevoegen</a>
<table id="tasks" class="display">
    <thead>
        <tr>
            <th>Naam</th>
            <th>Duur</th>
            <th>Acties</th>
        </tr>
    </thead>
    <tbody>
        {% for task in proposal.task_set.all %}
        <tr>
            <td>{{ task.name }}</td>
            <td>{{ task.duration }}</td>
            <td>
                <a href="{% url 'proposals:task_update' task.id %}">Bewerken</a>, 
                <a href="{% url 'proposals:task_delete' task.id %}">Verwijderen</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}
