{% extends "easy_pdf/base.html" %}

{% load i18n %}
{% load proposal_filters %}

{% block extra_style %}
    <style type="text/css">
        #content table {
            border-top-width: .5px;
            border-top-style: solid;
            border-top-color: #cbcbcb;
            border-right-width: .5px;
            border-right-style: solid;
            border-right-color: #cbcbcb;
            border-bottom-width: .5px;
            border-bottom-style: solid;
            border-bottom-color: #cbcbcb;
            border-left-width: .5px;
            border-left-style: solid;
            border-left-color: #cbcbcb;
        }

        #content th, td {
            font-weight: normal;
            text-align: left;
            padding-top: 3px;
            padding-right: 3px;
            padding-bottom: 3px;
            padding-left: 3px;
        }

        #content th {
            font-weight: normal;
            text-align: left;
        }

        #content li {
            line-height: 10px;
        }
    </style>
{% endblock %}

{% block page_header %}
<div id="page-header">
ETCL - <em>naam aanvraag</em> (referentienummer <em>referentienummer</em>)
</div>
{% endblock %}

{% block page_foot %}
Pagina <pdf:pagenumber /> van <pdf:pagecount />
{% endblock %}

{% block content %}
<div id="content">
    <div class="main">
        <h1>Referentienummer <em>referentienummer</em></h1>
        <h2>{% trans "Algemene informatie over de studie" %}</h2>
        <table id="test">
            <tr>
                <th>{% get_verbose_field_name "proposals" "proposal" "relation" %}</th><td>{% show_all "proposals" "relation" %}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "proposals" "proposal" "supervisor" %}</th><td></td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "proposals" "proposal" "other_applicants" %}</th><td>{% show_yesno %}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "proposals" "proposal" "applicants" %}</th><td></td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "proposals" "proposal" "other_stakeholders" %}</th><td>{% show_yesno %}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "proposals" "proposal" "stakeholders" %}</th><td></td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "proposals" "proposal" "date_start" %}</th><td></td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "proposals" "proposal" "title" %}</th><td></td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "proposals" "proposal" "summary" %}</th><td></td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "proposals" "proposal" "funding" %}</th><td>{% show_all "proposals" "funding" %}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "proposals" "proposal" "funding_details" %}</th><td></td>
            </tr>
        </table>

        <pdf:nextpage />
        <h2>{% trans "Ethische toetsing nodig door een Medische Ethische ToetsingsCommissie (METC)?" %}</h2>
        <table>
            <tr>
                <th>{% get_verbose_field_name "proposals" "wmo" "metc" %}</th><td>{% show_yesnodoubt %}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "proposals" "wmo" "metc_details" %}</th><td></td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "proposals" "wmo" "metc_institution" %}</th><td></td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "proposals" "wmo" "is_medical" %}</th><td>{% show_yesnodoubt %}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "proposals" "wmo" "is_behavioristic" %}</th><td>{% show_yesnodoubt %}</td>
            </tr>
        </table>

        <h2>{% trans "Aanmelding bij de METC" %}</h2>
        <table>
            <tr>
                <th>{% get_verbose_field_name "proposals" "wmo" "metc_application" %}</th><td>{% show_yesno %}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "proposals" "wmo" "metc_decision" %}</th><td>{% show_yesno %}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "proposals" "wmo" "metc_decision_pdf" %}</th><td></td>
            </tr>
        </table>

        <pdf:nextpage />
        <h2>{% trans "Eén of meerdere trajecten?" %}</h2>
        <table>
            <tr>
                <th>{% get_verbose_field_name "proposals" "proposal" "studies_similar" %}</th><td>{% show_yesno %}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "proposals" "proposal" "studies_number" %}</th><td></td>
            </tr>
        </table>

        <pdf:nextpage />
        <h2>{% trans "De deelnemers" %} <em>n</em></h2>
        <table>
            <tr>
                <th>{% get_verbose_field_name "studies" "study" "age_groups" %}</th><td>{% show_all "studies" "agegroup" %}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "studies" "study" "legally_incapable" %}</th><td>{% show_yesno %}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "studies" "study" "has_traits" %}</th><td>{% show_yesno %}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "studies" "study" "traits" %}</th><td>{% show_all "studies" "trait" %}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "studies" "study" "traits_details" %}</th><td></td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "studies" "study" "necessity" %}</th><td>{% show_yesnodoubt %}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "studies" "study" "necessity_reason" %}</th><td></td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "studies" "study" "recruitment" %}</th><td>{% show_all "studies" "recruitment" %}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "studies" "study" "recruitment_details" %}</th><td></td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "studies" "study" "compensation" %}</th><td>{% show_all "studies" "compensation" %}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "studies" "study" "compensation_details" %}</th><td></td>
            </tr>
        </table>

        <pdf:nextpage />
        <h2>{% trans "Het interventieonderzoek" %}</h2>
        <table>
            <tr>
                <th>{% get_verbose_field_name "interventions" "intervention" "setting" %}</th><td>{% show_all "core" "setting" %}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "interventions" "intervention" "setting_details" %}</th><td></td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "interventions" "intervention" "supervision" %}</th><td>{% show_yesno %}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "interventions" "intervention" "number" %}</th><td></td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "interventions" "intervention" "duration" %}</th><td></td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "interventions" "intervention" "experimenter" %}</th><td></td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "interventions" "intervention" "description" %}</th><td></td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "interventions" "intervention" "has_controls" %}</th><td>{% show_yesno %}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "interventions" "intervention" "has_controls_details" %}</th><td></td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "interventions" "intervention" "has_recording" %}</th><td>{% show_yesno %}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "interventions" "intervention" "recording_same_experimenter" %}</th><td>{% show_yesno %}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "interventions" "intervention" "recording_experimenter" %}</th><td></td>
            </tr>
        </table>

        <pdf:nextpage />
        <h2>{% trans "Het observatieonderzoek" %}</h2>
        <table>
            <tr>
                <th>{% get_verbose_field_name "observations" "observation" "setting" %}</th><td>{% show_all "core" "setting" %}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "observations" "observation" "setting_details" %}</th><td></td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "observations" "observation" "supervision" %}</th><td>{% show_yesno %}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "observations" "observation" "days" %}</th><td></td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "observations" "observation" "mean_hours" %}</th><td></td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "observations" "observation" "is_anonymous" %}</th><td>{% show_yesno %}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "observations" "observation" "is_in_target_group" %}</th><td>{% show_yesno %}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "observations" "observation" "is_nonpublic_space" %}</th><td>{% show_yesno %}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "observations" "observation" "has_advanced_consent" %}</th><td>{% show_yesno %}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "observations" "observation" "needs_approval" %}</th><td>{% show_yesno %}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "observations" "observation" "approval_institution" %}</th><td></td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "observations" "observation" "approval_document" %}</th><td></td>
            </tr>
        </table>
        <h3>{% trans "Locatie" %} <em>n</em></h3>
        <table>
            <tr>
                <th>{% get_verbose_field_name "observations" "location" "name" %}</th><td></td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "observations" "location" "registrations" %}</th><td>{% show_all "observations" "registration" %}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "observations" "location" "registrations_details" %}</th><td></td>
            </tr>
        </table>

        <pdf:nextpage />
        <h2>{% trans "Het takenonderzoek" %}</h2>
        <table>
            <tr>
                <th>{% get_verbose_field_name "studies" "study" "sessions_number" %}</th><td></td>
            </tr>
        </table>

        <h2>{% trans "Sessie" %} <em>n</em></h2>
        <table>
            <tr>
                <th>{% get_verbose_field_name "tasks" "session" "setting" %}</th><td>{% show_all "core" "setting" %}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "tasks" "session" "setting_details" %}</th><td></td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "tasks" "session" "supervision" %}</th><td>{% show_yesno %}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "tasks" "session" "tasks_number" %}</th><td></td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "tasks" "session" "tasks_duration" %}</th><td></td>
            </tr>
        </table>
        <h3>{% trans "Taak" %} <em>n</em></h3>
        <table>
            <tr>
                <th>{% get_verbose_field_name "tasks" "task" "name" %}</th><td></td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "tasks" "task" "description" %}</th><td></td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "tasks" "task" "duration" %}</th><td></td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "tasks" "task" "registrations" %}</th><td>{% show_all "tasks" "registration" %}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "tasks" "task" "registrations_details" %}</th><td></td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "tasks" "task" "registration_kinds" %}</th><td>{% show_all "tasks" "registrationkind" %}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "tasks" "task" "registration_kinds_details" %}</th><td></td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "tasks" "task" "feedback" %}</th><td>{% show_yesno %}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "tasks" "task" "feedback_details" %}</th><td></td>
            </tr>
        </table>

        <pdf:nextpage />
        <h2>{% trans "Overzicht en eigen beoordeling van het gehele onderzoek" %}</h2>
        <table>
            <tr>
                <th>{% get_verbose_field_name "studies" "study" "deception" %}</th><td>{% show_yesnodoubt %}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "studies" "study" "deception_details" %}</th><td></td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "studies" "study" "stressful" %}</th><td>{% show_yesnodoubt %}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "studies" "study" "stressful_details" %}</th><td></td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "studies" "study" "risk" %}</th><td>{% show_yesnodoubt %}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "studies" "study" "risk_details" %}</th><td></td>
            </tr>
        </table>

        <pdf:nextpage />
        <h2>{% trans "Dataverzameling direct betrokkenen t.b.v. het onderzoek" %}</h2>
        <table>
            <tr>
                <th>{% get_verbose_field_name "studies" "study" "has_surveys" %}</th><td>{% show_yesno %}</td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "studies" "study" "surveys_stressful" %}</th><td>{% show_yesnodoubt %}</td>
            </tr>
        </table>
        <h3>Vragenlijst <em>n</em></h3>
        <table>
            <tr>
                <th>{% get_verbose_field_name "studies" "survey" "name" %}</th><td></td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "studies" "survey" "minutes" %}</th><td></td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "studies" "survey" "survey_url" %}</th><td></td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "studies" "survey" "description" %}</th><td></td>
            </tr>
        </table>

        <pdf:nextpage />
        <h2>{% trans "Informed consent formulieren voor het onderzoek" %}</h2>
        <table>
            <tr>
                <th>{% get_verbose_field_name "studies" "study" "informed_consent" %}</th><td></td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "studies" "study" "briefing" %}</th><td></td>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "studies" "study" "passive_consent" %}</th><td>{% show_yesno %}</td>
            </tr>
        </table>

        <pdf:nextpage />
        <h2>{% trans "Concept-aanmelding versturen" %}</h2>
        <table>
            <tr>
                <th>{% get_verbose_field_name "proposals" "proposal" "comments" %}</th><td></td>
            </tr>
        </table>

    </div>
</div>
{% endblock %}
