{% extends "base/base.html" %}

{% load static %}
{% load i18n %}

{% block header_title %}
    {% if is_revision %}
        {% trans "Revisie starten" %}
    {% elif is_amendment %}
        {% trans "Amendement aanmaken" %}
    {% else %}
        {% trans "Een geheel nieuwe aanvraag indienen op basis van een oude studie" %}
    {% endif %}
    - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="uu-inner-container">
        <div class="col-12">
            <h2>
                {% if is_revision %}
                    {% trans "Revisie starten" %}
                {% elif is_amendment %}
                    {% trans "Amendement aanmaken" %}
                {% else %}
                    {% trans "Een geheel nieuwe aanvraag indienen op basis van een oude studie" %}
                {% endif %}
            </h2>
            {% if is_revision %}
                <p>
                    {% blocktrans trimmed %}
                        Je kan hier op basis van de vorige versie van een aanvraag een revisie starten. Alleen studies
                        die door de commissie als 'revisie noodzakelijk' gemarkeerd zijn kunnen hier gekozen worden.
                    {% endblocktrans %}
                </p>
                <p>
                    {% blocktrans trimmed %}
                        Als je supervisor je heeft gevraagd revisies te maken, dien je je huidige versie aan te passen.
                        (Als je dat niet kan, vraag dan aan je supervisor of die je aanvraag al gemarkeerd heeft als
                        'revisie noodzakelijk'.)
                    {% endblocktrans %}
                </p>
                <p>
                    {% blocktrans trimmed %}
                        Let op! Er kan maar één revisie tegelijk bestaan. Mocht je jouw aanvraag hier niet zien
                        als optie om te reviseren, bekijk dan of je aanvraag niet al tussen je concept aanvragen 
                        staat.
                    {% endblocktrans %}
                </p>
            {% elif is_amendment %}
                <p>
                    {% blocktrans trimmed %}
                        Je kan hier op basis van een reeds goedgekeurde aanvraag een amendement indienen. Je studie moet
                        eerst goedgekeurd en afgehandeld zijn voordat die hier gekozen kan worden.
                    {% endblocktrans %}
                </p>
                <p>
                    {% blocktrans trimmed %}
                        Let op! Er kan maar één amendement tegelijk bestaan. Mocht je jouw aanvraag hier niet zien
                        als optie om te reviseren, bekijk dan of je aanvraag niet al tussen je concept aanvragen 
                        staat.
                    {% endblocktrans %}
                </p>
            {% else %}
                {% url 'proposals:copy_revision' as revision_url %}
                {% url 'proposals:copy_amendment' as amendment_url %}
                <p>
                    {% trans "Je kan hier een aanvraag kopiëren. Alle velden kunnen na het kopiëren aangepast worden." %}
                </p>
                <p>
                    {% blocktrans trimmed %}
                        Deze pagina is alleen bedoeld voor het geval je een geheel nieuwe aanvraag gaat doen op basis van
                        een eerder uitgevoerde aanvraag. Aanvragen t.b.v. subsidieaanvragen kunnen niet gekopieerd worden.
                    {% endblocktrans %}
                </p>
                <p>
                    {% blocktrans trimmed %}
                        Als je gevraagd is om een revisie te maken van een eerder ingediende aanvraag, kan je dat
                        <a href="{{ revision_url }}">hier</a> doen.
                    {% endblocktrans %}
                </p>
                <p>
                    {% blocktrans trimmed %}
                        Indien je wijzigingen hebt in een al goedgekeurde aanvraag die daarom opnieuw getoetst moet
                        worden, maak dan <a href="{{ amendment_url }}">hier</a> een amendement aan.
                    {% endblocktrans %}
                </p>
            {% endif %}
            <form action="" method="post">{% csrf_token %}
                <table>{{ form.as_table }}</table>
                <div class="float-right mt-2 mb-3">
                    <a class="button" href="javascript:history.go(-1)">
                        {% trans "Annuleren" %}
                    </a>
                    <input class="button" type="submit" value="{% trans 'Kopiëren' %}"/>
                </div>

            </form>
        </div>
    </div>

{% endblock %}
