{% extends "base/fetc_form_base.html" %}

{% load static %}
{% load i18n %}

{% block header_title %}
    {% trans "Algemene informatie over de aanvraag" %} - {{ block.super }}
{% endblock %}

{% block html_head %}
    {{ block.super }}
    <script>
        $(function () {
            /* Find date start input */
            let date_start_input = $("#id_date_start")

            /* Insert warning element */
            date_start_input.after(`
    <p id="date_start_warning" class="mb-2 mt-2">
        {% trans "De beoogde startdatum moet ten minste twee weken na de indieningsdatum van de aanvraag liggen. Is het onderzoek al gestart voordat de FETC-GW formele goedkeuring heeft kunnen afgegeven, dan is alleen een post-hoc advies mogelijk." %}
    </p>
      `)

            /* Re-select warning paragraph */
            const date_start_warning = $("#date_start_warning")

            /* Define checker function */
            function checkDateStart() {
                let date_value = date_start_input.val();
                if (date_value == "") {
                    return true
                }
                let parsed_date = new Date(date_value);
                let today = new Date();
                let date_difference = parsed_date - today;
                const two_weeks_ms = 1000 * 60 * 60 * 24 * 14;
                return date_difference > two_weeks_ms;
            }

            /* Define warning update function */
            function updateWarning() {
                date_start_warning.toggleClass("text-danger", checkDateStart() == false);
            }

            /* Listen for changing of start date */
            date_start_input.on('change', () => {
                updateWarning();
            });

            /* Give the update function a warmup run */
            updateWarning();
    });
    </script>
{% endblock %}

{% block pre-form-text %}
    <h3>{% trans "Algemene informatie over de aanvraag" %}</h3>
{% endblock %}
