{% extends "base/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
{{ title }}
{% endblock %}

{% block noprogressbar %}{% endblock %}

{% block content %}
<p>
    {{ body }}
</p>
<h3>{% trans "Uitleg" %}</h3>
<ul>
    {% if modifiable %}
    <li>
        Klik op <img src="{% static 'proposals/images/page_white_go.png' %}" title="Naar volgende stap"> om naar de volgende stap in het proces te gaan. 
    </li>
    <li>
        Klik op <img src="{% static 'proposals/images/delete.png' %}" title="Verwijderen"> om uw studie te verwijderen.
    </li>
    {% endif %}
    {% if submitted %}
    <li>
        Klik op <img src="{% static 'proposals/images/page_white_acrobat.png' %}" title="Inzien"> om een ingediende studie in te zien.
    </li>
    {% endif %}
</ul>
<table class="dataTable display">
    <thead>
        <tr>
            <th>{% trans "Referentienummer" %}</th>
            <th>{% trans "Titel studie" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Laatst bijgewerkt" %}</th>
            <th>{% trans "Acties" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for proposal in proposals %}
        <tr>
            <td>{{ proposal.reference_number }}</td>
            <td>{{ proposal.title }}</td>
            <td>{{ proposal.get_status_display }}</td>
            <td>{{ proposal.date_modified|date:"j M Y, G:i" }}</td>
            <td>
                {% if proposal.status < proposal.SUBMITTED_TO_SUPERVISOR %}
                <a href="{{ proposal.continue_url }}"><img src="{% static 'proposals/images/page_white_go.png' %}" title="{% trans 'Naar volgende stap' %}"></a>
                <a href="{% url 'proposals:delete' proposal.id %}"><img src="{% static 'proposals/images/delete.png' %}" title="{% trans 'Verwijderen' %}"></a>
                {% else %}
                <a href="{% url 'proposals:pdf' proposal.id %}" target="_blank"><img src="{% static 'proposals/images/page_white_acrobat.png' %}" title="{% trans 'Inzien' %}"></a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
