{% extends "base/base.html" %}

{% load static %}
{% load i18n %}

{% block title %}
{% trans "Een nieuwe studie aanmelden (die al goedgekeurd is door een andere ethische toetsings comissie)" %}
{% endblock %}

{% block noprogressbar %}{% endblock %}

{% block content %}
<p>
    {% blocktrans %}
    U wilt een nieuwe studie ter toetsing bij de FETC-GW aanmelden, die al getoetst is
    door een andere ethische (toetsings) commissie.
    Het is daarvoor <em>noodzakelijk</em> dat u goed bekend bent met het FETC-GW
    reglement. <br />Deze kunt u vinden op de UU-webpagina van de FETC-GW:
    <a href="http://fetc-gw.wp.hum.uu.nl/reglement-algemene-kamer/" target="_blank">reglement Algemene Kamer (AK)</a> en
    <a href="http://fetc-gw.wp.hum.uu.nl/reglement-linguistiek-kamer/" target="_blank">reglement Linguïstiek Kamer
        (LK)</a>.
    U kunt uzelf en de commissieleden veel tijd besparen door uzelf eerst
    goed te informeren.
    {% endblocktrans %}
</p>
<p>
    {% blocktrans with secretary_name=secretary.get_full_name %}
    Gebruik bij het invullen s.v.p. geen afkortingen waar de FETC-GW wellicht
    niet mee bekend is.
    Raadpleeg bij vragen eerst het
    reglement van de <a href="http://fetc-gw.wp.hum.uu.nl/reglement-algemene-kamer/" target="_blank"> Algemene Kamer
        (AK)</a> of
    de <a href="http://fetc-gw.wp.hum.uu.nl/reglement-linguistiek-kamer/" target="_blank">Linguïstiek Kamer (LK)</a>,
    en neem eventueel daarna contact op met de secretaris
    ({{ secretary_name }},
    <a href="mailto:fetc-gw@uu.nl">fetc-gw@uu.nl</a>).
    {% endblocktrans %}
</p>
<a class="pure-button pure-button-primary" href="{% url 'proposals:create_pre_approved' %}">
    {% trans "Volgende stap >>" %}
</a>
{% endblock %}