{% extends "base/base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block title %}
{% trans "Een nieuwe studie aanmelden" %}
{% endblock %}

{% block noprogressbar %}{% endblock %}

{% block content %}
<p>
    {% blocktrans %}
    Via deze portal kunt u een UiL OTS studie ter toetsing aan de Ethische
    ToetsingsCommissie Linguïstiek (ETCL) aanbieden. De ETCL zal deze studie
    vervolgens beoordelen op criteria m.b.t. <em>informed consent</em>,
    belasting en risico's voor de deelnemers, en data-management procedures.
    {% endblocktrans %}
</p>
<p>
    {% blocktrans %}
    Voor die beoordeling is een gedetailleerde specificatie van uw studie
    noodzakelijk. Na enkele inleidende vragen dient u o.a. op te geven wie
    er aan deelnemen, en welk(e) soort(en) onderzoek uw studie omvat:
    observatieonderzoek, interventieonderzoek, en/of takenonderzoek, d.w.z.
    onderzoek waarin u de deelnemers <em>extra</em> taken geeft.
    Voor elke onderzoekssoort dient u vervolgens op te geven hoe dit
    onderzoek in uw studie precies is vormgegeven.
    Na dit alles zult u gevraagd worden een inschatting te geven van de
    belasting van, en risico’s voor, de deelnemers, en dient u vervolgens
    alle voor uw studie aangepaste formulieren ten bate van <em>informed
    consent</em> te uploaden.
    Gebruik bij het invullen <u>geen afkortingen</u>.
    {% endblocktrans %}
</p>
<p>
    {% blocktrans %}
    Als u met verschillende deelnemersgroepen werkt die een verschillend
    onderzoekstraject doorlopen (de ene groep krijgt bijvoorbeeld twee
    taken, de andere drie) zult u elk traject apart op bovengenoemde wijze
    moeten beschrijven.
    {% endblocktrans %}
</p>
<p>
    {% blocktrans %}
    Afhankelijk van de complexiteit van uw onderzoek kan de specificatie
    zeker enige tijd in beslag nemen. U kunt de aanmelding echter altijd
    onderbreken, bewaren, en op een later moment afmaken.
    {% endblocktrans %}
</p>
<p>
    {% blocktrans with secretary_name=secretary.get_full_name secretary_mail=secretary.email %}
    Raadpleeg bij vragen eerst het
    <a href="{{ regulations }}" target="_blank">reglement</a>,
    en neem eventueel daarna contact op met de ETCL secretaris
    ({{ secretary_name }},
    <a href="mailto:{{ secretary_mail }}">{{ secretary_mail }}</a>).
    {% endblocktrans %}
</p>
<a class="pure-button pure-button-primary" href="{% url 'proposals:create' %}">
    {% trans "Volgende stap >>" %}
</a>
{% endblock %}
