{% extends "proposals/base.html" %}
{% load staticfiles %}

{% block title %} 
Concept-aanmelding versturen
{% endblock %}

{% block progress %}100{% endblock %}

{% block content %}
<p>
	Uw concept-aanmelding is compleet.
	{% if proposal.relation.needs_supervisor %}
	U kunt nu uw concept-aanmelding ter beoordeling naar uw supervisor versturen.
	{% else %}
	U kunt nu uw concept-aanmelding ter beoordeling naar de ethische commissie versturen.
	{% endif %}
	Als u deze concept-aanmelding nog wil wijzigen, kan dat via de 'vorige'-knop.
</p>
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>{{ form.as_table }}</table>
    {% include "proposals/form_buttons.html" with next_text="Concept-aanmelding versturen" %}
</form>
{% endblock %}
