{% extends "proposals/base.html" %}

{% block content %} 

<h2>Mijn aanvragen</h2>
<p>Aanvragen (titel en deze tekst nog corrigeren)</p>
<table class="dataTable display">
    <thead>
        <tr>
            <th>Titel studie</th>
            <th>Eindverantwoordelijke</th>
            <th>Status</th>
            <th>Laatst bijgewerkt</th>
            <th>Acties</th>
        </tr>
    </thead>
    <tbody>
        {% for proposal in proposals %}
        <tr>
            <td>{{ proposal.name }}</td>
            <td><a href="mailto:{{proposal.supervisor_email}}">{{ proposal.supervisor_name }}</a></td>
            <td>{{ proposal.status }}</td>
            <td>{{ proposal.date_modified }}</td>
            <td>
            	<a href="{% url 'proposals:detail' proposal.id %}">Inzien</a>, 
            	<a href="{% url 'proposals:update' proposal.id %}">Bewerken</a>, 
            	<a href="{% url 'proposals:delete' proposal.id %}">Verwijderen</a>, 
            	<a href="{% url 'proposals:wmo_create' proposal.id %}">Doorgaan</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
