{% extends "proposals/base.html" %}
{% load staticfiles %}

{% block title %} 
Studie kopiëren
{% endblock %}

{% block noprogressbar %}{% endblock %}

{% block content %}
<p>U kunt hier een studie kopiëren. Alle velden kunnen na het kopiëren aangepast worden.</p>
<form action="" method="post">{% csrf_token %}
    <table>{{ form.as_table }}</table>
    <input class="pure-button pure-button-primary" type="submit" value="Kopiëren" />
    <a class="pure-button pure-button-secondary" href="javascript:history.go(-1)">Annuleren</a>
</form>
{% endblock %}
