{% extends "base/base.html" %}
{% load static %}
{% load i18n %}
{% block header_title %}
    {% trans "Formulieren aanpassen" %} - {{ block.super }}
{% endblock %}
{% block content %}
    <div class="uu-inner-container">
        <div class="col-12">
            <h2>{% trans "Formulieren aanpassen" %}</h2>
            <p>
                {% blocktrans trimmed with title=proposal.title ref_number=proposal.reference_number %}
                    Op deze pagina kan je de formulieren aanpassen behorende bij de aanvraag {{ title }}
                    (referentienummer <em>{{ ref_number }}</em>).
                {% endblocktrans %}
            </p>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}">
                <input class="pure-button pure-button-primary"
                       type="submit"
                       value="{% trans 'Formulieren aanpassen' %}" />
                <a class="pure-button pure-button-secondary"
                   href="javascript:history.go(-1);">{% trans "Terug naar de vorige pagina" %}</a>
            </form>
        </div>
    </div>
{% endblock %}
