{% extends "base/base.html" %}

{% load static %}
{% load i18n %}

{% block header_title %}
    {% trans "Bevestigingsbrief versturen" %} - {{ block.super }}
{% endblock %}
{% block html_head %}
    <script>
        $(function() {
            var date_format = '{{ LANGUAGE_CODE }}' === 'nl' ? 'dd-mm-yy' : 'mm/dd/yy';
            $("#id_date_confirmed").datepicker({
                dateFormat: date_format,
                maxDate: 'now',
            });
        });
    </script>
{% endblock %}
{% block content %}
    <div class="uu-inner-container">
        <div class="col-12">
            <h2>{% trans "Bevestigingsbrief versturen" %}</h2>
            <p>
                {% blocktrans with title=review.proposal.title %}
                    Geef hieronder aan wanneer de bevestigingsbrief voor de aanvraag <em>{{ title }}</em> is verstuurd.
                {% endblocktrans %}
            </p>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <input class="button"
                       type="submit"
                       value="{% trans 'Bevestigingsbrief verstuurd' %}" />
                <a class="button" href="javascript:history.go(-1);">{% trans "Terug naar de vorige pagina" %}</a>
            </form>
        </div>
    </div>
{% endblock %}
