{% extends "base/fetc_form_base.html" %}

{% load static %}
{% load i18n %}

{% block header_title %}
    {% trans "Informatie over de onderzoeker" %} - {{ block.super }}
{% endblock %}

{% block html_head %}
    {{ block.super }}
    <script>
        $(function () {
            check_field_required('relation', 'needs_supervisor', 'supervisor', 'proposals');
            check_field_required('relation', 'check_in_course', 'student_program', 'proposals');
            check_field_required('relation', 'check_in_course', 'student_context', 'proposals');
            check_field_required('relation', 'check_in_course', 'student_justification', 'proposals');
            check_field_required('student_context', 'needs_details', 'student_context_details', 'proposals', 'studentcontext');
        });
    </script>
{% endblock %}

{% block pre-form-text %}
    <h3>{% trans "Informatie over de onderzoeker" %}</h3>
{% endblock %}
