{% extends "proposals/base.html" %}
{% load staticfiles %}

{% block title %} 
Aanvraag ter beoordeling en registratie
{% endblock %} 

{% block content %}
<h3>Belasting voor de proefpersoon</h3>
<p>
<i>Deze aanvraag bestaat uit de volgende sessies:</i>
{% for session in proposal.session_set.all %}
<h4>Sessie {{ session.order }} (totale duur: {{ session.tasks_duration }} minuten)</h4>
<p>
<i>Deze sessie bestaat uit de volgende taken:</i>
{% include "proposals/task_list.html" %}
</p>
{% endfor %}
</p>
<p>Beantwoord op basis van dit overzicht de volgende vragen:</p>
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>{{ form.as_table }}</table>
    {% if proposal.status < proposal.SUBMITTED_TO_SUPERVISOR %}
    <input class="pure-button pure-button-primary" type="submit" name="save" value="Opslaan en terug naar hoofdmenu" />
    <input class="pure-button pure-button-primary" type="submit" name="save_continue" value="Opslaan en naar volgende stap" />
    <a class="pure-button pure-button-secondary" href="{% url 'proposals:my_concepts' %}">Terug naar hoofdmenu</a>
    {% endif %}
</form>
{% endblock %}
