{% extends "proposals/base.html" %}
{% load staticfiles %}

{% block title %} 
Aanvraag ter beoordeling en registratie
{% endblock %}

{% block progress %}85{% endblock %}

{% block content %}
<h3>Belasting voor de proefpersoon</h3>
<p>
<i>Deze aanvraag bestaat uit de volgende sessies:</i>
{% for session in proposal.session_set.all %}
<h4>
	Sessie {{ session.order }} (totale duur: {{ session.tasks_duration }} minuten, belastend: {{ session.tasks_stressful|yesno:"ja,nee,twijfel" }})
</h4>
<p>
<i>Deze sessie bestaat uit de volgende taken:</i>
{% include "proposals/task_list.html" %}
</p>
{% endfor %}
</p>
<p>Beantwoord op basis van dit overzicht de volgende vragen:</p>
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>{{ form.as_table }}</table>
    {% if proposal.status < proposal.SUBMITTED_TO_SUPERVISOR %}
        {% include "proposals/form_buttons.html" %}
    {% endif %}
</form>
{% endblock %}
