{% extends "proposals/base.html" %}
{% load staticfiles %}

{% block title %} 
Aanvraag ter beoordeling en registratie
{% endblock %}

{% block progress %}85{% endblock %}

{% block content %}
<h3>Belasting voor de deelnemer</h3>
<script>
$(function() {
    depends_on_value('stressful', 'True', 'stressful_details');
    depends_on_value('risk', 'True', 'risk_details');
});
</script>

<div class="session_list">
	<p>
		<em>Deze aanvraag bestaat uit de volgende sessies:</em>
	</p>
	{% for session in study.session_set.all %}
	<div class="task_list">
	<h4>
		Sessie {{ session.order }} (totale duur: {{ session.tasks_duration }} minuten)
		{% if study.sessions_number > 1 %}
		<a href="{% url 'proposals:session_delete' session.pk %}"><img src="{% static 'proposals/images/delete.png' %}" title="Sessie verwijderen"></a>
		{% endif %}
	</h4>
		<p>
			<em>Deze sessie bestaat uit de volgende taken:</em>
		</p>
		{% include "proposals/task_list.html" %}
	</div>
	{% endfor %}
</div>

<p>Beantwoord op basis van dit overzicht de volgende vragen:</p>
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>{{ form.as_table }}</table>
    {% with proposal=study.proposal %}
    {% include "proposals/form_buttons.html" %}
    {% endwith %}
</form>
{% endblock %}
