{% load staticfiles %}

<div id="tabs-4">
    <h3><a href="{% url 'studies:session_end' proposal.id %}">Belasting voor de deelnemer</a></h3>
    <table class="pure-table">
        <tr>
            <th>Aantal sessies</th>
            <td>
                {{ proposal.study.sessions_number }} 
                {% if proposal.status < proposal.SUBMITTED_TO_SUPERVISOR %}
                <a href="{% url 'proposals:session_add' proposal.id %}"><img src="{% static 'proposals/images/add.png' %}"></a>
                {% endif %}
            </td>
        </tr>
        {% if proposal.study.sessions_duration %}
        <tr>
            <th>Netto duur</th>
            <td>{{ proposal.study.net_duration }} minuten</td>
        </tr>
        <tr>
            <th>Bruto duur</th>
            <td>
                {{ proposal.study.sessions_duration }} minuten
            </td>
        </tr>
        {% endif %}
    </table>
    <h3>Sessies</h3>
    <div id="accordion">
        {% for session in proposal.study.session_set.all %}
        <h3>
            Sessie {{ session.order }}
        </h3>
        <div>
            {% if session.task_set.all %}
            <table class="pure-table">
                <tr>
                    <th>Aantal taken</th>
                    <td>
                        {{ session.task_set.count }} / {{ session.tasks_number }} 
                        {% if proposal.status < proposal.SUBMITTED_TO_SUPERVISOR %}
                        <a href="{% url 'proposals:task_add' session.id %}"><img src="{% static 'proposals/images/add.png' %}"></a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Netto duur</th>
                    <td>{{ session.net_duration }} minuten</td>
                </tr>
                {% if session.tasks_duration %}
                <tr>
                    <th>Bruto duur</th>
                    <td>
                        {{ session.tasks_duration }} minuten
                        {% if proposal.status < proposal.SUBMITTED_TO_SUPERVISOR %}
                        <a href="{% url 'proposals:task_end' session.id %}"><img src="{% static 'proposals/images/pencil.png' %}"></a>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
            </table>
            <h4>Taken</h4>
            {% include "tasks/task_list.html" %}
            {% else %}
            <p>Nog geen taken aan deze sessie toegevoegd. <a href="{% url 'tasks:start' session.id %}">Taak toevoegen</a></p>
            {% endif %}
            {% if proposal.status < proposal.SUBMITTED_TO_SUPERVISOR %}
            <h4>Acties op sessie</h4>
            <ul>
                <li><a href="{% url 'tasks:session_delete' session.id %}">Sessie verwijderen</a></li>
            </ul>
            {% endif %}
        </div>
    {% endfor %}
    </div>
</div>
