{% extends "base/base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block title %} 
{% trans "Informatie over de opzet van de studie" %}
{% endblock %}

{% block progress %}15{% endblock %}

{% block content %}
<p>
    In dit deel dient u de opzet van het onderzoek in detail te beschrijven.
    Allereerst is een grove schifting naar type onderzoek van belang:
</p>
<ul>
<li>
    <p>
        <strong>Observatieonderzoek</strong>: Onderzoek waarin mensen <em>in hun normale leven in bepaalde contexten
        worden geobserveerd</em>, bijvoorbeeld op scholen of in andere institutionele settings, in de digitale publieke
        ruimte, of bij de deelnemer thuis, <em>zonder dat de onderzoeker daar op enige wijze op ingrijpt</em>.
        Het gedrag wordt geobserveerd, maar eventueel ook de producten ervan.
    </p>
</li>
<li>
    <p>
        <strong>Interventieonderzoek</strong>: Onderzoek waarin mensen <em>in hun normale leven in bepaalde contexten
        doen wat ze daar normaliter ook doen, maar maar waar de onderzoeker d.m.v. een interventie iets in de
        context manipuleert </em> (een ander lesboek, andere behandeling, anders vormgegeven website, etc.).
        De effecten van die interventie kunnen gelijktijdig worden geobserveerd, maar ook achteraf.
    </p>
</li>
<li>
    <p>
        <strong>Taakonderzoek</strong>: Onderzoek waarbij aan mensen <em>van onderzoekswege speciale taken of
        gedragsregels worden opgelegd, via bepaalde taakinstructies</em> ("speel 10 minuten met Uw kind zoals U dat
        thuis ook zou doen", "vul deze internetsurvey in", "lees deze verhaaltjes aandachtig door",
        "beluister/beoordeel deze zinnen", "vertel eens iets over Uw vakantie", etc.).
        Er wordt dus iets van mensen gevraagd wat ze in hun normale leven niet (of niet dáár, dán, op déze wijze)
        zouden doen.
    </p>
</li>
</ul>
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>
        <tr>
            <th>
                Om welk type onderzoek gaat het bij uw studie?
                Als uw studie meerdere sessies heeft die niet allen van hetzelfde type zijn
                (bijv. een observatiesessie gevolgd door een interventiesessie, of een interventiesessie
                gevolgd door een takensessie), kruis dan meerdere opties aan.
            </th>
            <td>
                {{ form.has_sessions.errors }}
                <ul>
                    {% for field in form %}
                    <li>
                        {{ field }} {{ field.label }}
                    </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </table>
    <p>
        Voor elk door u aangekruiste type onderzoek kunt u op de hiernavolgende pagina's
        de relevante informatie verschaffen.
    </p>
    {% with proposal=study.proposal %}
    {% include "proposals/form_buttons.html" %}
    {% endwith %}
</form>
{% endblock %}
