{% extends "base/fetc_form_base.html" %}

{% load static %}
{% load i18n %}

{% block header_title %}
    {% trans "Eén of meerdere trajecten?" %} - {{ block.super }}
{% endblock %}

{% block html_head %}
    {{ block.super }}
    {% trans "Je kan de aard van de aanvraag nu in detail op de volgende pagina's specificeren." as is_similar %}
    {% trans "Je kan de aard van de aanvraag nu <em>per traject</em> in detail op de volgende pagina's specificeren." as is_dissimilar %}
    <script>
    $(function() {

        $('input[name=studies_similar]').change(function() {
            var is_dissimilar = $('input[name=studies_similar]:checked').val() === 'False';

            var text = "{{ is_similar }}";
            if (is_dissimilar) {
                // Set the default value for studies_number to 2 (if it's not already set)
                if ($('input[name="studies_number"]').val() === '1') {
                    $('input[name="studies_number"]').val('2');
                }
        	text = "{{ is_dissimilar }}";
            }
            else {
                $('input[name="studies_number"]').val('1');
                $('input[name^="study_name"]').parents('.uu-form-row').hide();
                $('input[name="study_name_1"]').parents('.uu-form-row').prev().hide();
            }
            console.log(text)

            $('#next_text').html(text);
            $('#next_text').show();

            $('#id_studies_number').parents('.uu-form-row').toggle(is_dissimilar);
            $('#id_studies_number').change();
        });
        $('input[name=studies_similar]').change();

        $('input[name=studies_number]').change(function() {
            var is_dissimilar = $('input[name=studies_similar]:checked').val() === 'False';

            if (is_dissimilar) {
                $('input[name="study_name_1"]').parents('.uu-form-row').prev().show();
                for (var i = 1; i <= 10; i++) {
                    $('input[name="study_name_' + i + '"]').parents('.uu-form-row').toggle(i <= $(this).val());
                }
            }
        });
        $('input[name=studies_number]').change();
    });
    </script>
{% endblock %}

{% block pre-form-text %}
    <h2>{% trans "Eén of meerdere trajecten?" %}</h2>
    <p>
        {% blocktrans trimmed %}
            Een voorstel is opgebouwd uit (van groot naar klein) (i) trajecten, (ii) sessies, (iii) taken.
        {% endblocktrans %}
    </p>
    <h5>{% trans "Traject" %}</h5>
    <p>
        {% blocktrans trimmed %}
            Deelnemers aan een onderzoek die dezelfde taken uitvoeren doorlopen samen een bepaald onderzoekstraject. Het kan zijn dat alle deelnemers aan een onderzoek dezelfde taken uitvoeren, dan heeft het onderzoek maar één traject.
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans trimmed %}
            <u>Bijvoorbeeld</u>: Alle deelnemers aan een onderzoek vullen een vragenlijst in, en vervolgens wordt hun woordenschat gemeten. Hier is er voor het hele onderzoek sprake van één traject, want iedereen doet hetzelfde. Maar als deelnemers met dyslexie een aanvullende leestest doen, spreekt men hier van een tweede traject, want deze groep wordt anders belast.
        {% endblocktrans %}
    </p>
    <h5>{% trans "Sessie" %}</h5>
    <p>
        {% blocktrans trimmed %}
            Onder een sessie verstaan we een set aan taken die een deelnemer op een dag uitvoert. Dit kan een bezoek aan een instelling zijn waar het onderzoek plaatsvindt, maar ook als iedere week weer een online taak wordt aangeboden spreken we van meerdere sessies. Je kunt aangeven dat een sessie herhaald wordt.
        {% endblocktrans %}
    </p>
    <h5>{% trans "Taak" %}</h5>
    <p>
        {% blocktrans trimmed %}
            Een taak of onderdeel van je onderzoek. Deelnemers aan een onderzoekstraject voeren vaak meerdere taken uit tijdens een sessie.
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans trimmed %}
            <u>Bijvoorbeeld</u>: het invullen van een vragenlijst, een interview, of een bepaalde test.
        {% endblocktrans %}
    </p>
{% endblock %}

{% block post-form-pre-buttons %}
    <div class="uu-form-text-row mb-0">
        <div id="next_text" class="alert alert-info"></div>
    </div>
{% endblock %}
