{% extends "proposals/base.html" %}
{% load staticfiles %}

{% block title %} 
Aanvraag indienen: fase 3
{% endblock %} 

{% block content %} 
{% include "proposals/form_styling.html" %}
<script>
$(function() {
    depends_on_value('has_traits', 'True', 'traits');
    depends_on_list_value('traits', '10', 'traits_details');
    depends_on_value('necessity', 'True', 'necessity_reason');
    depends_on_list_value('setting', '8', 'setting_details');
    depends_on_list_value('compensation', ['2', '3'], 'compensation_details'); // TODO: make this work
    depends_on_list_value('recruitment', '7', 'recruitment_details');
});
</script>
<h3>Algemene kenmerken van de studie</h3>
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>{{ form.as_table }}</table>
    <input class="pure-button pure-button-primary" type="submit" value="Doorgaan" />
</form>
{% endblock %}
