{% extends "proposals/base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block title %} 
{% trans 'Dataverzameling direct betrokkenen' %}
{% endblock %}

{% block progress %}90{% endblock %}

{% block content %}
<script>
$(function() {
    $('.survey_set').formset({
        prefix: 'survey_set',
        addText: "{% trans 'Voeg vragenlijst toe' %}",
        deleteText: "{% trans 'Verwijder' %}"
    });

    $('.survey_set textarea').focus(function() {
        $(this).css('height', '6em');
    }).blur(function() {
        $(this).css('height', '3em');
    });

    depends_on_value('has_surveys', 'True', 'surveys_stressful');
    $('input[name="has_surveys"]').change(function() {
        var check = $('input[name="has_surveys"]:checked').val() == 'True';
        $('#survey_set_title, .survey_set, .dynamic-form-add').toggle(check);
    });
    $('input[name="has_surveys"]').change();

    // Move surveys_stressful after dynamic-form-add
    var surveys_stressful = $('input[name=surveys_stressful]').parents('tr');
    surveys_stressful.insertAfter('.dynamic-form-add');
});
</script>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr id="survey_set_title">
            <th><strong>{% trans 'Voeg hieronder de vragenlijsten toe' %}</strong></th>
            <td></td>
        </tr>
        {% for formset in inlines %}
        {% for subform in formset.forms %}
        <tr class="{{ formset.prefix }}">
            <td colspan="2">{{ subform.as_p }}</td>
        </tr>
        {% endfor %}
        {{ formset.management_form }}
        {% endfor %}
    </table>
    {% with proposal=study.proposal %}
    {% include "proposals/form_buttons.html" %}
    {% endwith %}
</form>
{% endblock %}
