{% extends "base/base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block title %}
{% trans "Specificatie over deelnemersgroep(en)" %}
{% endblock %}

{% block progress %}8{% endblock %}

{% block sidebar %}
{% include "base/sidebar.html" %}
{% endblock %}

{% block content %}
{% trans "U kunt de aard van de studie nu in detail op de volgende pagina's specificeren." as is_similar %}
{% trans "U kunt de aard van de studie nu <em>per traject</em> in detail op de volgende pagina's specificeren." as is_dissimilar %}
<script>
$(function() {
    add_title('study_name_1', "{% trans 'Geef elk traject hieronder een behulpzame naam van maximaal 15 karakters.' %}");

    $('input[name=studies_similar]').change(function() {
        var is_dissimilar = $('input[name=studies_similar]:checked').val() === 'False';

        var text = "{{ is_similar }}";
        if (is_dissimilar) {
        	text = "{{ is_dissimilar }}";
        }
        else {
            $('input[name^="study_name"]').parents('tr').hide();
            $('input[name="study_name_1"]').parents('tr').prev().hide();
        }

        $('#next_text').html(text);
        $('#next_text').show();

        $('#id_studies_number').parents('tr').toggle(is_dissimilar);
        $('#id_studies_number').change();
    });
    $('input[name=studies_similar]').change();

    $('input[name=studies_number]').change(function() {
        var is_dissimilar = $('input[name=studies_similar]:checked').val() === 'False';

        if (is_dissimilar) {
            $('input[name="study_name_1"]').parents('tr').prev().show();
            for (var i = 1; i <= 5; i++) {
                $('input[name="study_name_' + i + '"]').parents('tr').toggle(i <= $(this).val());
            }
        }

    });
    $('input[name=studies_number]').change();
});
</script>
<p>
    {% blocktrans %}
    In de meeste UiL OTS studies doorlopen alle deelnemers een in essentie
    vergelijkbaar traject.
    Zoals bijvoorbeeld eerst een observatiefase, dan een interventiefase
    (waarin een van twee typen interventies), en dan weer een observatiefase.
    Of: een takensessie met drie verschillende reactietijd-taken gevolgd
    door twee vragenlijsten.
    {% endblocktrans %}
</p>
<p>
    {% blocktrans %}
    Soms zal het echter voorkomen dat verschillende deelnemersgroepen
    verschillende trajecten doorlopen, met bijvoorbeeld een verschillend
    aantal sessies, meer of hele andere taken.
    Denk aan een situatie waarin oudere kinderen een takensessie
    met drie verschillende reactietijd-taken en twee vragenlijsten doorlopen,
    en jongere kinderen slechts twee korte reactietijd-taken en één
    vragenlijst doen.
    Of aan de situate binnen een interventiestudie waarbij de leraar ook een
    taak krijgt opgelegd (vragenlijst) of wordt geobserveerd gedurende het
    geven van de interventie.
    In zulke gevallen zal elk traject volledig gespecificeerd moeten worden.
    {% endblocktrans %}
</p>
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <p id="next_text"></p>
    {% include "base/form_buttons.html" %}
</form>
{% endblock %}
