{% extends "proposals/base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block title %} 
Aanvraag ter beoordeling en registratie
{% endblock %} 

{% block content %}
<style>
.survey_set textarea {
    height: 3em;
}
</style>
<script>
$(function() {
    depends_on_value('has_traits', 'True', 'traits');
    check_field_required('traits', 'needs_details', 'traits_details', 'Trait');
    check_field_required('setting', 'needs_details', 'setting_details');
    check_field_required('compensation', 'needs_details', 'compensation_details');
    check_field_required('recruitment', 'needs_details', 'recruitment_details');

    add_title('age_groups', "{% trans 'De leeftijdsgroep van uw proefpersonen' %}");
    add_title('legally_incapable', "{% trans 'Wilsonbekwaamheid' %}");
    add_title('has_traits', "{% trans 'Bijzondere kenmerken van de proefpersonen' %}");
    add_title('necessity', "{% trans 'Noodzakelijkheid' %}");
    add_title('setting', "{% trans 'Setting' %}");
    add_title('risk_physical', "{% trans 'Risico op schade' %}");
    add_title('compensation', "{% trans 'Vergoeding' %}");
    add_title('recruitment', "{% trans 'Werving' %}");

    // Logic for necessity display. TODO: change into AJAX call, solve this on model level
    $('input[name=has_traits], input[name=age_groups]').change(function() {
        var values = $('input[name=age_groups]:checked').map(function() {
            return this.value;
        }).get();
        var check = $('input[name=has_traits]:checked').val() == 'True';
        check = check || intersect(values, ['1', '2', '3', '4', '6']).length > 0;
        var necessity = $('#id_necessity').parent().parent();
        necessity.toggle(check);
        necessity.prev().toggle(check); // Toggles header as well 
        var necessity_reason = $('#id_necessity_reason').parent().parent();
        necessity_reason.toggle(check);
        necessity_reason.prev().toggle(check); // Toggles header as well 
    });
    $('input[name=has_traits], input[name=age_groups]').change();

    $('.survey_set').formset({
        prefix: 'survey_set',
        addText: "{% trans 'Voeg flankerende vragenlijst toe' %}",
        deleteText: "{% trans 'Verwijder' %}"
    });

    $('.survey_set textarea').focus(function() {
        $(this).css('height', '6em');
    }).blur(function() {
        $(this).css('height', '3em');
    });

});
</script>
<h3>{% trans 'Algemene kenmerken van de studie' %}</h3>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <th><strong>{% trans 'Worden er vragenlijsten afgenomen bij <em>een ander dan de proefpersoon</em>? Denk hierbij aan de ouder of voogd van een kind, de leraar van de klas, de arts van een patiënt, etc.' %}</strong></th>
            <td></td>
        </tr>
        {% for formset in inlines %}
        {% for subform in formset.forms %}
        <tr class="{{ formset.prefix }}">
            <td colspan="2">{{ subform.as_p }}</td>
        </tr>
        {% endfor %}
        {{ formset.management_form }}
        {% endfor %}
    </table>
    {% if not study or study.proposal.status < study.proposal.SUBMITTED_TO_SUPERVISOR %}
        {% include "proposals/form_buttons.html" %}
    {% endif %}
</form>
{% endblock %}
