{% extends "proposals/base.html" %}
{% load staticfiles%}

{% block content %} 
<script>
$(function() {
	$("[id^=id]").each(function() { 
		var help = $(this).next().next(); 
		if (help.html()) 
		{
			$(this).after('<img src="{% static 'proposals/images/information.png' %}">');
			$(this).next().attr('title', help.html());
			help.hide();
		}
	});

	$("form table").addClass("pure-table pure-table-horizontal");
});
</script>
<h2>Aanvraag indienen: fase 3</h2>
<p></p>
<h3>Algemene kenmerken van de studie</h3>
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
	<table>{{ form.as_table }}</table>
    <input class="pure-button pure-button-primary" type="submit" value="Doorgaan" />
</form>
{% endblock %}
