{% extends "base/base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block title %}
{% trans "Specificatie over deelnemersgroep(en)" %}
{% endblock %}

{% block progress %}8{% endblock %}

{% block content %}
{% trans "U kunt de aard van de studie nu in detail op de volgende pagina's specificeren." as is_similar %}
{% trans "U kunt de aard van de studie nu <em>per traject</em> in detail op de volgende pagina's specificeren." as is_dissimilar %}
<script>
$(function() {
    $('.study_set').formset({
        prefix: 'study_set',
        addText: "{% trans 'Voeg traject toe' %}",
        deleteText: "{% trans 'Verwijder' %}"
    });
    $('#study_set_title, .study_set, .dynamic-form-add').hide();

    depends_on_value('studies_similar', 'False', 'studies_number');

    $('input[name=studies_similar]').change(function() {
        var is_dissimilar = $('input[name=studies_similar]:checked').val() === 'False';

        var text = "{{ is_similar }}";
        if (is_dissimilar) {
        	text = "{{ is_dissimilar }}";
        	$('#id_studies_number').val(2);
        }
        else {
        	$('#id_studies_number').val(1);
        }

        $('#next_text').html(text);
        $('#next_text').show();

        $('#id_studies_number').parents('tr').toggle(is_dissimilar);
        $('#study_set_title, .study_set, .dynamic-form-add').toggle(is_dissimilar);
    });
    $('input[name=studies_similar]').change();
});
</script>
<p>
    {% blocktrans %}
    In de meeste UiL OTS studies doorlopen alle deelnemers een in essentie vergelijkbaar traject. Zoals bijvoorbeeld eerst een observatiefase, dan een interventiefase (waarin een van twee typen interventies), en dan weer een observatiefase. Of: een takensessie met drie verschillende RT-taken gevolgd door twee vragenlijsten. Soms zal het echter voorkomen dat verschillende deelnemersgroepen verschillende trajecten doorlopen, met bijvoorbeeld een verschillend aantal sessies, meer of hele andere taken, of (deels) hele andere taakduren. Denk aan een situatie waarin oudere kinderen een takensessie met drie verschillende RT-taken en twee vragenlijsten doorlopen, en jongere kinderen slechts twee korte RT-taken en één vragenlijst doen. In zulke gevallen zal elk traject volledig gespecificeerd moeten worden.
    {% endblocktrans %}
</p>
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr id="study_set_title">
            <th><strong>{% trans "Geef elk traject hieronder een behulpzame naam van maximaal 15 karakters." %}</strong></th>
            <td></td>
        </tr>
        {% for formset in inlines %}
        {% for subform in formset.forms %}
        <tr class="{{ formset.prefix }}">
            <td colspan="2">{{ subform.as_p }}</td>
        </tr>
        {% endfor %}
        {{ formset.management_form }}
        {% endfor %}
    </table>
    <p id="next_text"></p>
    {% include "base/form_buttons.html" %}
</form>
{% endblock %}
