{% load diff_tags %}
{% load i18n %}

{% if section_title %}
    <h2 class="mt-5 mb-1"> {% trans section_title %} </h2>
{% endif %}
{% if study_title %}
    <h3 class='mt-3'> {{ study_title }} </h3>
{% endif %}
<table class="proposals-diff ">
    <tr>
        <th class="proposals-diff-question"></th>
        <th class="proposals-diff-answer">{% trans "Originele aanvraag" %}</th>
        <th class="proposals-diff-answer">{% trans "Revisie/amendement" %}</th>
    </tr>
{% if warning %}
    <tr class="diff-ignore">
        <th>{{ rows_keys_list.0 }}</th>
        {# If the first object is missing, place a warning on the first TD #}
        {% if missing_object == 0 %}
            <td rowspan='{{rows|length}}'>
                <div class='warning'>
                    {{ warning }}
                </div>
            </td>
            <td>{{rows.rows_keys_list.0 }}</td>
        {# Otherwise, we're missing the second one, thus we place the warning on the second #}
        {% elif missing_object == 1 %}
            <td>{{rows.rows_keys_list.0 }}</td>
            <td rowspan='{{rows|length}}'>
                <div class='warning'>
                    {{ warning }}
                </div>
            </td>
        {% endif %}
    </tr>
    {%for row_key in rows_keys_list|slice:"1:"%}
    <tr class="diff-ignore">
        <th>{{row_key}}</th><td>{{rows.row_key}}</td>
    </tr>
    {% endfor %}
{% else %}
    {% for verbose_name, values in rows.items %}
        <tr>
            <th>{{ verbose_name }}</th><td>{{ values.0 }}</td><td>{{ values.1 }}</td>
        </tr>
    {% endfor %}
{% endif %}
</table>