{% load diff_tags %}
{% load i18n %}
{% load static %}

{% if section_title %}
    <h2 class="mt-5 mb-1">{% trans section_title %}</h2>
{% endif %}
{% if sub_title %}
    <h3 class={% if section_title %}'mt-3'{% else %}"mt-5 mb-1"{% endif %}>{{ sub_title }}</h3>
{% endif %}
<table class="table">
    <thead>
        <tr>
            <th scope="col" width="30%"></th>
            <th scope="col" width="35%">{% trans "Vorige aanvraag" %}</th>
            <th scope="col" width="35%">{% trans "Huidige aanvraag" %}</th>
        </tr>
    </thead>
    <tbody>
        {% if warning %}
            {% for row in rows|slice:":1" %}
                <tr class="diff-ignore">
                    <td>{{ row.verbose_name }}</td>
                    {# If the first object is missing, place a warning on the first TD #}
                    {% if missing_object == 'old' %}
                        <td rowspan='{{ rows|length }}' class="align-middle">
                            <div class='alert alert-info'>{{ warning }}</div>
                        </td>
                        <td>{{ row.value }}</td>
                        {# Otherwise, we're missing the second one, thus we place the warning on the second #}
                    {% elif missing_object == 'new' %}
                        <td>{{ row.value }}</td>
                        <td rowspan='{{ rows|length }}' class="align-middle">
                            <div class='alert alert-info'>{{ warning }}</div>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            {% for row in rows|slice:"1:" %}
                <tr class="diff-ignore">
                    <td>{{ row.verbose_name }}</td>
                    <td>{{ row.value }}</td>
                </tr>
            {% endfor %}
        {% else %}
            {% for row in rows %}
                <tr class="diff">
                    <td>{{ row.verbose_name }}</td>
                    <td>{{ row.old_value }}</td>
                    <td>{{ row.new_value }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
