{% extends "proposals/base.html" %}
{% load staticfiles %}

{% block title %} 
Aanvraag ter beoordeling en registratie
{% endblock %} 

{% block content %}
<h3>Belasting voor de proefpersoon, sessie {{ object.order }}</h3>
<p>
<i>Deze sessie bestaat uit de volgende taken:</i>
{% include "proposals/task_list.html" %}
</p>
<p>Beantwoord op basis van dit overzicht de volgende vragen:</p>
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>{{ form.as_table }}</table>
        {% include "proposals/form_buttons.html" %}
</form>
{% endblock %}
