{% extends "proposals/base.html" %}
{% load staticfiles %}

{% block title %} 
Aanvraag ter beoordeling en registratie
{% endblock %}

{% block progress %}{{ progress }}{% endblock %}

{% block content %}
<h3>Belasting voor de deelnemer</h3>
<h4>Sessie {{ object.order }}</h4>
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>{{ form.as_table }}</table>
    <p>Voor elke taak stellen we in de komende schermen steeds dezelfde vragen.</p>
        {% include "proposals/form_buttons.html" %}
</form>
{% endblock %}
