{% load staticfiles %}

<table class="pure-table">
    <thead>
        <tr>
            <th>Naam</th>
            <th>Duur (in minuten)</th>
            <th>Registratie via</th>
            <th>Feedback?</th>
            <th>Acties</th>
        </tr>
    </thead>
    <tbody>
        {% for task in session.task_set.all %}
        <tr>
            <td>{{ task.name }}</td>
            <td>{{ task.duration }}</td>
            <td>{{ task.registrations.all|unordered_list }}</td>
            <td>{{ task.feedback|yesno:"ja,nee,twijfel" }}</td>
            <td>
                <a href="{% url 'proposals:task_update' task.id %}"><img src="{% static 'proposals/images/pencil.png' %}"></a>
                <a href="{% url 'proposals:task_delete' task.id %}"><img src="{% static 'proposals/images/delete.png' %}"></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
