{% extends "proposals/base.html" %}
{% load staticfiles %}

{% block title %} 
Aanvraag ter beoordeling en registratie
{% endblock %}

{% block progress %}{{ progress }}{% endblock %}

{% block content %}
<script>
$(function() {
    depends_on_value('deception', 'True', 'deception_details');
});
</script>
<h3>Belasting voor de deelnemer, sessie {{ session.order }}</h3>
<p>
<i>Deze sessie bestaat uit de volgende taken:</i>
{% include "proposals/task_list.html" %}
</p>
<p>Beantwoord op basis van dit overzicht de volgende vragen:</p>
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>{{ form.as_table }}</table>
        {% include "proposals/form_buttons.html" %}
</form>
{% endblock %}
