{% extends "proposals/base.html" %}
{% load staticfiles %}

{% block title %} 
Aanvraag indienen: fase 4 van 6
{% endblock %} 

{% block content %} 
{% include "proposals/form_styling.html" %}
<h3>Belasting voor de proefpersoon</h3>
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>{{ form.as_table }}</table>
    <p>Voor elke taak stellen we in de komende schermen steeds dezelfde vragen.</p>
    <input class="pure-button pure-button-primary" type="submit" name="save" value="Opslaan en terug naar hoofdmenu" />
    <input class="pure-button pure-button-primary" type="submit" name="save_continue" value="Opslaan en naar volgende stap" />
    <a class="pure-button pure-button-secondary" href="{% url 'proposals:my_concepts' %}">Terug naar hoofdmenu</a>
</form>
{% endblock %}
