{% extends "proposals/base.html" %}
{% load staticfiles %}

{% block title %} 
Vragen per taak per sessie
{% endblock %} 

{% block content %}
<script>
$(function() {
    check_field_required('registrations', 'needs_kind', 'registration_kind', 'Registration');
    check_field_required('registrations', 'needs_details', 'registrations_details', 'Registration');
    depends_on_value('feedback', 'True', 'feedback_details');
});
</script>
<h3>Sessie {{ session.order }}, taak {{ task_count }}</h3>
<p><em>Aantal taken toegevoegd: {{ task_count }} / {{ session.tasks_number }}</em></p>
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
	<table>{{ form.as_table }}</table>
    <input class="pure-button pure-button-primary" type="submit" name="save" value="Opslaan en terug naar hoofdmenu" />
    <input class="pure-button pure-button-primary" type="submit" name="save_continue" value="Opslaan en naar volgende stap" />
    <a class="pure-button pure-button-secondary" href="{% url 'proposals:my_concepts' %}">Terug naar hoofdmenu</a>
</form>
{% endblock %}
