{% load staticfiles %}

<table class="pure-table" width="100%">
    <thead>
        <tr>
            <th width="20%">Naam</th>
            <th width="15%">Duur (in minuten)</th>
            <th width="40%">Registratie via</th>
            <th width="15%">Feedback?</th>
            <th width="10%">Acties</th>
        </tr>
    </thead>
    <tbody>
        {% for task in session.task_set.all %}
        <tr>
            <td>{{ task.name }}</td>
            <td>{{ task.duration }}</td>
            <td>{{ task.registrations.all|unordered_list }}</td>
            <td>{{ task.feedback|yesno:"ja,nee,twijfel" }}</td>
            <td>
                <a href="{% url 'proposals:task_update' task.id %}"><img src="{% static 'proposals/images/pencil.png' %}"></a>
                <a href="{% url 'proposals:task_delete' task.id %}"><img src="{% static 'proposals/images/delete.png' %}"></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
