{% extends "proposals/base.html" %}

{% load i18n %}

{% block title %} 
{% trans "Taak verwijderen" %}
{% endblock %} 

{% block content %} 
<form action="" method="post">{% csrf_token %}
    <p>Weet je zeker dat je de taak <em>{{ object.name }}</em> van de studie <em>{{ object.proposal.title }}</em> wilt verwijderen?</p>
    <input class="pure-button pure-button-primary" type="submit" value="{% trans 'Verwijderen' %}" />
    <a class="pure-button pure-button-secondary" href="javascript:history.go(-1)">{% trans "Annuleren" %}</a>
</form>
{% endblock %}
