{% extends "base/base.html" %}

{% load static %}
{% load i18n %}

{% block header_title %}
    {% trans "Informed consent formulieren" %} - {{ block.super }}
{% endblock %}
{% block html_head %}
    <script>
        $(function() {
            depends_on_value('translated_forms', 'True', 'translated_forms_languages');
        });
    </script>
{% endblock %}
{% block content %}
    <div class="uu-inner-container">
        <div class="col-12">
            {% with nav_items=proposal.available_urls active=pagenr %}
                {% include 'base/navigation.html' %}
            {% endwith %}
            <h2>{% trans "Vertaling informed consent formulieren" %}</h2>
            <p>
                {% blocktrans trimmed %}
                    Documenten moet in het Nederlands of in het Engels worden ingediend.
                    Echter, om je deelnemers op een adequate manier te informeren kan het noodzakelijk zijn om de documenten in hun moedertaal te vertalen.
                    Als dat het geval is, dan hoeven deze niet direct te worden ingediend. Het is wel noodzakelijk te vermelden dat deze vertaald zullen gaan worden.
                    Bij goedkeuring moeten de documenten in andere talen wel worden aangeleverd, omdat de portal ook dient als officieel archief van goedgekeurde aanvragen.
                    Dit kan eventueel na goedkeuring, maar kan ook bij een minimale revisie.
                {% endblocktrans %}
            </p>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                {% include "base/form_buttons.html" %}
            </form>
        </div>
    </div>
{% endblock %}
