{% extends "proposals/base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block title %} 
{% trans 'WMO-check' %}
{% endblock %}

{% block noprogressbar %}{% endblock %}

{% block content %}
<script>
$(function() {
    $("input[name=metc]").change(function() {
        var metc_undef = $('input[name=metc]:checked').val() === undefined;
        var metc_true = $('input[name=metc]:checked').val() == "True";

        if (metc_undef || metc_true) {
            $("#id_is_medical").parent().parent().hide();
            $("#id_is_behavioristic").parent().parent().hide();
        }
        else {
            $("#id_is_medical").parent().parent().show();
            $("#id_is_behavioristic").parent().parent().hide();
            $('input[name=is_medical]').prop('checked', false);
            $('input[name=is_behavioristic]').prop('checked', false);
        }

        $('#metc_status').empty().removeClass();
    });
    $("input[name=metc]").change();

    $("input[name=is_medical]").change(function() {
        var is_medical_undef = $('input[name=is_medical]:checked').val() === undefined;

        if (is_medical_undef) {
            $("#id_is_behavioristic").parent().parent().hide();
        }
        else {
            $("#id_is_behavioristic").parent().parent().show();
        }
    });
    $("input[name=is_medical]").change();

    $('input[name=metc], input[name=is_medical], input[name=is_behavioristic]').change(function() {
        var metc_val = $('input[name=metc]:checked').val();
        var medical_val = $('input[name=is_medical]:checked').val();
        var behavioristic_val = $('input[name=is_behavioristic]:checked').val();

        if (metc_val == "True" || (medical_val !== undefined && behavioristic_val !== undefined)) {
            var url = "{% url 'proposals:check_wmo' %}";
            var params = {'metc': metc_val, 'medical': medical_val, 'behavioristic': behavioristic_val};
            $.post(url, params, function(data) {
                $('#metc_status').html(data.message);
                $('#metc_status').attr('class', data.message_class);
            });
        }
    });
    $('input[name=metc], input[name=is_medical], input[name=is_behavioristic]').change();
});
</script>
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>{{ form.as_table }}</table>
    <div id="metc_status"></div>
    <input class="pure-button pure-button-primary" type="button" onclick="javascript:location.reload();" value="{% trans 'Opnieuw beginnen' %}" />
</form>
{% endblock %}
