{% extends "base/base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block title %} 
{% trans "WMO-check" %}
{% endblock %}

{% block noprogressbar %}{% endblock %}

{% block content %}
<script type="text/javascript" charset="utf8" src="{% static 'proposals/js/wmo.js' %}"></script>
<script>
$(function() {
    check_metc_required("{% url 'proposals:check_wmo' %}");
});
</script>
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>{{ form.as_table }}</table>
    <div id="metc_status"></div>
    <input class="pure-button pure-button-primary" type="button" onclick="javascript:location.reload();" value="{% trans 'Opnieuw beginnen' %}" />
</form>
{% endblock %}
