{% extends "base/fetc_form_base.html" %}

{% load static %}
{% load i18n %}

{% block header_title %}
    {% trans "Ethische toetsing nodig door een Medische Ethische Toetsingscommissie (METC)?" %} - {{ block.super }}
{% endblock %}

{% block html_head %}
    {{ block.super }}
    <script type="text/javascript"
            charset="utf8"
            src="{% static 'proposals/js/wmo.js' %}"></script>
    <script>
    $(function() {
        check_metc_required("{% url 'proposals:check_wmo' %}");

        depends_on_value('metc', 'Y', 'metc_details');
        depends_on_value('metc', 'Y', 'metc_institution');
    });
    </script>
{% endblock %}

{% block form-css-classes %}uu-form-no-gap{% endblock %}

{% block pre-form %}
    <h3>{% trans "Ethische toetsing nodig door een Medische Ethische Toetsingscommissie (METC)?" %}</h3>
{% endblock %}

{% block post-form-pre-buttons %}
    <div class="uu-form-text-row mb-0">
        <div id="metc_status"></div>
    </div>
{% endblock %}
