{% extends "base/fetc_form_base.html" %}

{% load static %}
{% load i18n %}

{% block header_title %}
    {% trans "Aanmelding bij de METC" %} - {{ block.super }}
{% endblock %}

{% block html_head %}
    {{ block.super }}
    <script>
        $(function () {
            depends_on_value('metc_application', 'True', 'metc_decision');
            depends_on_value('metc_application', 'True', 'metc_decision_pdf');
            depends_on_value('metc_decision', 'True', 'metc_decision_pdf');
        });
    </script>
{% endblock %}

{% block form-css-classes %}uu-form-no-gap uu-form-no-help{% endblock %}

{% block pre-form %}
    <h3>{% trans "Aanmelding bij de METC" %}</h3>
    {% if wmo.status == wmo.WMOStatuses.WAITING %}
        <div class="alert alert-warning mt-3">
            {% trans "Zolang je aanvraag nog niet is beoordeeld door de METC, kan je niet verder in het aanmeldingsproces." %}
        </div>
    {% endif %}
{% endblock %}
