{% extends "base/base.html" %}

{% load messages %}
{% load proposal_form_components %}
{% load static %}
{% load i18n %}

{% block header_title %}
    {% trans "WMO-check" %} - {{ block.super }}
{% endblock %}

{% block html_head %}
<script type="text/javascript" charset="utf8" src="{% static 'proposals/js/wmo.js' %}"></script>
<script>
$(function() {
    check_metc_required("{% url 'proposals:check_wmo' %}");
});
</script>
{% endblock %}

{% block uu-content %}
    {% proposal_hero object %}
    <div class="uu-container flex-lg-nowrap gap-3 gap-lg-5">
        {% stepper object %}
        <div class="col-12">
            <h2>
                {% trans "WMO-check" %}
            </h2>
            <form action="" class="uu-form" method="post" enctype="multipart/form-data">{% csrf_token %}
                <table>{{ form.as_table }}</table>
                <div id="metc_status"></div>
                <input class="pure-button pure-button-primary" type="button" onclick="javascript:location.reload();" value="{% trans 'Opnieuw beginnen' %}" />
            </form>
        </div>
    </div>
{% endblock %}
