{% extends "base/base.html" %}

{% load proposal_form_components %}
{% load messages %}
{% load static %}
{% load i18n %}

{% block header_title %}
    {% trans "Ethische toetsing nodig door een Medische Ethische Toetsingscommissie (METC)?" %} - {{ block.super }}
{% endblock %}

{% block html_head %}
    <script type="text/javascript" charset="utf8" src="{% static 'proposals/js/wmo.js' %}"></script>
    <script>
    $(function() {
        check_metc_required("{% url 'proposals:check_wmo' %}");

        depends_on_value('metc', 'Y', 'metc_details');
        depends_on_value('metc', 'Y', 'metc_institution');
    });
    </script>
{% endblock %}


{% block uu-content %}
    {% proposal_hero proposal %}
    {% display_messages messages %}
    <div class="uu-container gap-3 gap-lg-5 flex-lg-nowrap">
        {% stepper proposal %}
        <div class="flex-fill">
            <h2>
                {% trans "Ethische toetsing nodig door een Medische Ethische Toetsingscommissie (METC)?" %}
            </h2>

            <form action="" class="uu-form" method="post" enctype="multipart/form-data" class="mt-3">
                {% csrf_token %}
                {{ form }}
                <div id="metc_status"></div>
                {% with proposal=wmo.proposal %}
                    {% include "base/form_buttons.html" %}
                {% endwith %}
            </form>
        </div>
    </div>
{% endblock %}
