{% extends "base/fetc_base.html" %}

{% load proposal_form_components %}
{% load messages %}
{% load static %}
{% load i18n %}

{% block header_title %}
    {% trans "Aanmelding bij de METC" %} - {{ block.super }}
{% endblock %}

{% block html_head %}
    <script>
        $(function () {
            depends_on_value('metc_application', 'True', 'metc_decision');
            depends_on_value('metc_application', 'True', 'metc_decision_pdf');
            depends_on_value('metc_decision', 'True', 'metc_decision_pdf');
        });
    </script>
{% endblock %}

{% block uu-content %}
    {% proposal_hero object %}
    {% display_messages messages %}
    <div class="uu-container flex-lg-nowrap gap-3 gap-lg-5">
        {% stepper object %}
        <div class="flex-fill">
            <h2>
                {% trans "Aanmelding bij de METC" %}
            </h2>
            <form action="" class="uu-form" method="post" enctype="multipart/form-data">{% csrf_token %}
                {{ form }}
                {% if wmo.status == wmo.WAITING %}
                    <div class="alert alert-warning">
                        {% trans "Zolang je aanvraag nog niet is beoordeeld door de METC, kan je niet verder in het aanmeldingsproces." %}
                    </div>
                {% endif %}
                {% with proposal=wmo.proposal %}
                    {% include "base/form_buttons.html" %}
                {% endwith %}
            </form>
        </div>
    </div>
{% endblock %}
