{% extends "base/base.html" %}
{% load static %}
{% load i18n %}
{% block header_title %}
    {% trans "Aanmelding bij de METC" %} - {{ block.super }}
{% endblock %}
{% block html_head %}
    <script>
        $(function () {
            depends_on_value('metc_application', 'True', 'metc_decision');
            depends_on_value('metc_application', 'True', 'metc_decision_pdf');
            depends_on_value('metc_decision', 'True', 'metc_decision_pdf');
        });
    </script>
{% endblock %}
{% block content %}
    <div class="uu-inner-container">
        <div class="col-12">
            {% with nav_items=wmo.proposal.available_urls active=2 %}
                {% include 'base/navigation.html' %}
            {% endwith %}
            <h2>{% trans "Aanmelding bij de METC" %}</h2>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                {% if wmo.status == wmo.WAITING %}
                    <div class="warning">
                        {% trans "Zolang je aanvraag nog niet is beoordeeld door de METC, kan je niet verder in het aanmeldingsproces." %}
                    </div>
                {% endif %}
                {% with proposal=wmo.proposal %}
                    {% include "base/form_buttons.html" %}
                {% endwith %}
            </form>
        </div>
    </div>
{% endblock %}
