{% extends "proposals/base.html" %}
{% load staticfiles %}

{% block title %} 
Aanvraag indienen: fase 2
{% endblock %} 

{% block content %} 
{% include "proposals/form_styling.html" %}
<script>
$(function() {
    $("input[name=metc]").change(function() {
        var metc_undef = typeof $('input[name=metc]:checked').val() == "undefined";
        var metc_true = $('input[name=metc]:checked').val() == "True";
        var metc_doubt = metc_true || $('input[name=metc]:checked').val() == "None";

        $("input[name=metc_institution]").parent().parent().toggle(metc_doubt);
        if (metc_undef)
        {
            $("#id_is_medical, #id_is_behavioristic").parent().parent().hide();
        }
        else
        {
            $("#id_is_medical, #id_is_behavioristic").parent().parent().toggle(!metc_true);
        }
    });
    $("input[name=metc]").change();

    $("input[name=is_medical]").change(function() {
        var medical = $('input[name=is_medical]:checked').val() == "False";
        $("#id_is_behavioristic").parent().parent().toggle(!medical);
    });
    $("input[name=is_medical]").change();

    $("#id_metc, #id_is_medical, #id_is_behavioristic").change(function() {
        var metc = $('#id_metc_0:checked').val() == "True";
        var medical = $('#id_is_medical_0:checked').val() == "True";
        var behavioristic = $('#id_is_behavioristic_0:checked').val() == "True";

        $("#id_metc_application, #id_metc_decision, #id_metc_decision_pdf").parent().parent().toggle(metc || (medical && behavioristic));
    });
    $("#id_metc, #id_is_medical, #id_is_behavioristic").change();

    $("#id_metc_application").change(function() {
        var decision = $('#id_metc_application_0:checked').val() == "True";
        $("#id_metc_decision").parent().parent().toggle(decision);
    });
    $("#id_metc_application").change();

    $("#id_metc_decision").change(function() {
        var decision = $('#id_metc_decision_0:checked').val() == "True";
        $("#id_metc_decision_pdf").parent().parent().toggle(decision);
    });
    $("#id_metc_decision").change();
});
</script>
<p></p>
<h3>WMO-plichtig of niet?</h3>
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>{{ form.as_table }}</table>
    <input class="pure-button pure-button-primary" type="submit" value="Doorgaan" />
</form>
{% endblock %}
