{% extends "base/base.html" %}

{% load i18n %}

{% block header_title %}
    {% trans "Frequently Asked Questions" %} - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="uu-inner-container">
        <div class="col-12">
            <h2>
                {% trans "Frequently Asked Questions" %}
            </h2>
            {% for faq in faqs %}
                <ul>
                    <li><a href="#{{ faq.order }}">{{ faq.question }}</a></li>
                </ul>
            {% endfor %}

            {% for faq in faqs %}
                <a name="{{ faq.order }}"></a>
                <h4>{{ faq.question }}</h4>
                <p>{{ faq.answer }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
