{% extends "base/base.html" %}

{% load i18n %}

{% block title %}
{% trans 'Geen toegang' %}
{% endblock %}

{% block noprogressbar %}{% endblock %}

{% block content %}
<p>
{% blocktrans %}
U heeft geen toegang tot de opgevraagde pagina.
{% endblocktrans %}
</p>
{% if request.user.is_authenticated %}
    <p>
        {% trans 'Dit kan meerdere oorzaken hebben:' %}
    </p>
    <ul>
        <li>
            {% trans 'U heeft niet de benodigde rechten om deze pagina te bekijken;' %}
        </li>
        <li>
            {% trans 'U bent niet als mede-onderzoeker opgegeven voor deze studie;' %}
        </li>
        <li>
            {% trans 'U probeert een door u eerder genomen beslissing aan te passen, maar de beoordelingsperiode is verstreken.' %}
        </li>
    </ul>
{% else %}
    <p>
        {% url 'login' as login_url %}
        {% blocktrans %}
            U bent niet ingelogd, probeer <a href="{{ login_url }}"> in te loggen</a>.
        {% endblocktrans %}
    </p>
{% endif %}
<p>
{% blocktrans %}
    Denkt u dat dit niet klopt? Neem dan contact op met <a href="https://fetc-gw.wp.hum.uu.nl/contact/" target="_blank">de FETC-GW secretaris</a>.
{% endblocktrans %}
</p>
{% endblock %}
