{% extends "proposals/base.html" %}
{% load staticfiles %}

{% block title %} 
Aanvraag beoordelen
{% endblock %} 

{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input class="pure-button pure-button-primary" type="submit" name="go" value="Aanvraag accorderen en doorsturen naar ETCL" />
    <input class="pure-button pure-button-primary" type="submit" name="no_go" value="Aanvraag terugsturen naar aanvrager" />
    <a class="pure-button pure-button-secondary" href="{% url 'reviews:supervisor' %}">Terug naar hoofdmenu</a>
</form>
{% endblock %}
