{% extends "base/base.html" %}

{% load i18n %}

{% block title %}
{% if user.is_authenticated %}
{% trans "Startpagina" %} - {{ user.get_full_name }}
{% else %}
{% trans "Startpagina" %}
{% endif %}
{% endblock %}

{% block noprogressbar %}{% endblock %}

{% block content %} 
{% if user.is_authenticated %}
<p>
    {% url 'proposals:archive' as archive_url %}
    {% blocktrans %}
    In dit webportaal van de Facultaire Ethische Toetsingscommissie
    Geesteswetenschappen (FETC-GW) kunt u  alle <strong>praktische zaken
    </strong> rondom de ethische toetsing van uw onderzoek regelen. U kunt een
    nieuwe studie bij de commissie aanmelden, maar ook bekijken wat er allemaal
    eerder door uzelf is aangemeld. Verder kunt u alle afgehandelde en goedgekeurde
    studies zien in het <a href="{{ archive_url }}">archief van dit portaal</a>.
    Voor noodzakelijke achtergrondinformatie verwijzen we naar de
    <a href="http://fetc-gw.wp.hum.uu.nl/" target="_blank">UU-webpagina van de FETC-GW</a>,
    alsmede naar het reglement van
    <a href="http://fetc-gw.wp.hum.uu.nl/reglement-algemene-kamer/" target="_blank">de Algemene Kamer (AK)</a> en
    <a href="http://fetc-gw.wp.hum.uu.nl/reglement-linguistiek-kamer/" target="_blank">de Linguïstiek Kamer (LK)</a>.
    {% endblocktrans %}
</p>
<p>
    {% blocktrans %}
    In deze portal kunt u het volgende doen:
    {% endblocktrans %}
</p>
<h4 style="margin-bottom: 0">
    {% trans "Dien een nieuwe studie in" %}
</h4>
<ul style="margin-top: 5px">
    <li>
        <a href="{% url 'proposals:start' %}">{% trans "die volledig nieuw is in deze portal;" %}</a>
    </li>
    <li>
        <a href="{% url 'proposals:copy' %}">{% trans "op basis van een kopie van een oude studie;" %}</a>
    </li>
    <li>
        <a href="{% url 'proposals:start_pre' %}">{% trans "voor voortoetsing t.b.v. subsidieaanvraag;" %}</a>
    </li>
    <li>
        <a href="{% url 'proposals:start_pre_approved' %}">{% trans "die al goedgekeurd is door een andere ethische toetsingscomissie." %}</a>
    </li>
</ul>
<h4 style="margin-bottom: 0">
    {% trans "Een gereviseerde studie aanmelden" %}
</h4>
<ul style="margin-top: 5px">
    <li>
        <a href="{% url 'proposals:copy_revision' %}">{% trans "als een revisie, gebaseerd op opmerkingen van de FETC-GW;" %}</a>
    </li>
    <li>
        <a href="{% url 'proposals:copy_amendment' %}">{% trans "als amendement, wanneer de studie al goedgekeurd is door de FETC-GW." %}</a>
    </li>
</ul>
<h4  style="margin-bottom: 0">
    {% trans "Bekijk" %}
</h4>
<ul style="margin-top: 5px">
    <li>
        <a href="{% url 'proposals:my_concepts' %}">{% trans "mijn conceptstudies;" %}</a>
    </li>
    <li>
        <a href="{% url 'proposals:my_practice' %}">{% trans "mijn oefenstudies;" %}</a>
    </li>
    <li>
        <a href="{% url 'proposals:my_submitted' %}">{% trans "mijn ingediende studies;" %}</a>
    </li>
    <li>
        <a href="{% url 'proposals:my_completed' %}">{% trans "mijn afgehandelde studies;" %}</a>
    </li>
    <li>
        <a href="{% url 'proposals:my_supervised' %}">{% trans "mijn studies als eindverantwoordelijke;" %}</a>
    </li>
    <li>
        <a href="{% url 'proposals:my_archive' %}">{% trans "al mijn studies." %}</a>
    </li>
</ul>
<h4 style="margin-bottom: 0">
    {% trans 'FETC-GW archief' %}
</h4>
<ul style="margin-top: 5px">
    <li>
        <a href="{% url 'proposals:archive' 'AK' %}">{% trans "Alle afgehandelde en goedgekeurde studies bekijken van de Algemene Kamer" %}</a>
    </li>
    <li>
        <a href="{% url 'proposals:archive' 'LK' %}">{% trans "Alle afgehandelde en goedgekeurde studies bekijken van de Linguïstiek Kamer" %}</a>
    </li>
</ul>
<h4 style="margin-bottom: 0">
    Help
</h4>
<ul style="margin-top: 5px">
    <li>
        <a href="http://fetc-gw.wp.hum.uu.nl/" target="_blank">{% trans "FETC-GW website" %}</a>
    </li>
    <li>
        <a href="http://fetc-gw.wp.hum.uu.nl/reglement-algemene-kamer/" target="_blank">{% trans "Reglement Algemene Kamer (AK)" %}</a>
    </li>
    <li>
        <a href="http://fetc-gw.wp.hum.uu.nl/reglement-linguistiek-kamer/" target="_blank">{% trans "Reglement Linguïstiek Kamer (LK)" %}</a>
    </li>
    <li>
        <a href="https://intranet.uu.nl/documenten-ethische-toetsingscommissie-gw" target="_blank">{% trans "Informed consent formulieren" %}</a>
    </li>
    <li>
        <a href="{% url 'faqs:list' %}">{% trans "Veelgestelde vragen m.b.t. dit portal" %}</a>
    </li>
    <li>
        <a href="{% url 'feedback:create' %}">{% trans "Feedback op dit portal geven" %}</a>
    </li>
</ul>
{% else %}
<p>
    {% url 'login' as the_url %}
    {% blocktrans %}
    Welkom bij het portal van de FETC-GW. U kunt <a href="{{ the_url }}">hier</a> inloggen met uw Solis-ID.
    {% endblocktrans %}
</p>
<p>
    {% blocktrans %}
    Klik <a href="http://fetc-gw.wp.hum.uu.nl">hier</a> om terug te keren naar de FETC-GW-website.
    {% endblocktrans %}
</p>

{% endif %}
{% endblock %}
