{% extends "base/base.html" %}

{% load static %}
{% load i18n %}

{% block header_title %}
    {% trans "Het takenonderzoek en interviews" %} - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="uu-inner-container">
        <div class="col-12">
            {% with nav_items=study.proposal.available_urls active=3 %}
                {% include 'base/navigation.html' %}
            {% endwith %}
            <h2>{% trans "Het takenonderzoek en interviews" %}</h2>
            {% include "main/setting_checks.html" %}
            {% include "tasks/session_title.html" %}
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <p>{% trans "Voor elke taak stellen we in de komende schermen steeds dezelfde vragen." %}</p>
                {% include "base/form_buttons.html" %}
            </form>
        </div>
    </div>
{% endblock %}
