{% extends "base/base.html" %}

{% load static %}
{% load i18n %}
{% load fetc_filters %}

{% block header_title %}
    {% trans "Sessie overzicht" %} - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="uu-inner-container">
        <div class="col-12">
            {% with nav_items=session.study.proposal.available_urls active=3 %}
                {% include 'base/navigation.html' %}
            {% endwith %}
            <h2>{% trans "Overzicht sessie " %}{{session.order}}</h2>
            <p>
                <em>{% trans "Vanuit dit overzicht is het mogelijk om je sessie te bewerken of om taken aan te maken, te bewerken en te verwijderen." %}</em>
            </p>
            <div class="task_list">
                <h5 class="mt-2">
                    {% trans "Sessie overzicht:" %}
                </h5>
                <table class="pure-table" width="100%">
                    <thead>
                        <tr>
                            <th width="80%">{% trans "Setting" %}</th>
                            <th width="15%">{% trans "Aantal keer uit te voeren" %}</th>
                            <th width="5%">{% trans "Acties" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{ session.setting.all|create_unordered_html_list }}</td>
                        <td>{{ session.repeats }}</td>
                        <td>
                            <a href="{% url 'tasks:session_update' session.pk %}">
                                <img src="{% static 'proposals/images/pencil.png' %}"
                                     title="{% trans 'Sessie aanpassen' %}">
                            </a>
                        </td>
                      </tr>
                    </tbody>
                </table>
                <hr>
                <h5 class="mt-2">
                    {% trans "Taken overzicht:" %}
                </h5>
                {% include "tasks/task_list.html" %}
            </div>
            <p>{% trans "Beantwoord op basis van dit overzicht de volgende vragen:" %}</p>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                {% with proposal=session.study.proposal study=session.study %}
                    {% include "base/form_buttons.html" %}
                {% endwith %}
            </form>
        </div>
    </div>
{% endblock %}
