{% extends "base/base.html" %}

{% load i18n %}

{% block content %}
    <div class="uu-inner-container">
        <div class="col-12">
            <h2>
                {% trans "Taak verwijderen" %}
            </h2>
            <form action="" method="post">{% csrf_token %}
                <p>Weet u zeker dat u de taak <strong>{{ task.name }}</strong> uit sessie <strong>{{ task.session.order }}</strong> van de studie <em>{{ task.session.study.proposal.title }}</em> wilt verwijderen?</p>
                <input class="pure-button pure-button-primary" type="submit" value="{% trans 'Verwijderen' %}" />
                <a class="pure-button pure-button-secondary" href="javascript:history.go(-1)">{% trans "Annuleren" %}</a>
            </form>
        </div>
    </div>
{% endblock %}
