{% load staticfiles %}
{% load i18n %}

<table class="pure-table" width="100%">
    <thead>
        <tr>
            <th width="20%">{% trans "Naam" %}</th>
            <th width="15%">{% trans "Nettoduur (in minuten)" %}</th>
            <th width="40%">{% trans "Registratie via" %}</th>
            <th width="15%">{% trans "Feedback?" %}</th>
            <th width="10%">{% trans "Acties" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for task in session.task_set.all %}
        <tr>
            <td>{{ task.name }}</td>
            <td>{{ task.duration }}</td>
            <td>{{ task.registrations.all|unordered_list }}</td>
            <td>{{ task.feedback|yesno:_("ja,nee,twijfel") }}</td>
            <td>
                <a href="{% url 'tasks:update' task.id %}"><img src="{% static 'proposals/images/pencil.png' %}" title="{% trans 'Taak bewerken' %}"></a>
                {% if session.tasks_number > 1 %}
                <a href="{% url 'tasks:delete' task.id %}"><img src="{% static 'proposals/images/delete.png' %}" title="{% trans 'Taak verwijderen' %}"></a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
