{% extends "base/base.html" %}

{% load i18n %}

{% block header_title %}
    {% trans "Taak verwijderen" %} - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="uu-inner-container">
        <div class="col-12">
            <h2>{% trans "Taak verwijderen" %}</h2>
            <form action="" method="post">
                {% csrf_token %}
                <p>
                    Weet u zeker dat u de taak <strong>{{ task.name }}</strong> uit sessie <strong>{{ task.session.order }}</strong> in de aanvraag <em>{{ task.session.study.proposal.title }}</em> wilt verwijderen?
                </p>
                <input class="button"
                       type="submit"
                       value="{% trans 'Verwijderen' %}" />
                <a class="button"
                   href="javascript:history.go(-1)">{% trans "Annuleren" %}</a>
            </form>
        </div>
    </div>
{% endblock %}
