{% extends "base/fetc_base.html" %}

{% load static %}
{% load i18n %}

{% block header_title %}
    {% trans "Het takenonderzoek en interviews" %} - {{ block.super }}
{% endblock %}

{% block html_head %}
    <script>
$(function() {
    check_field_required('registrations', 'needs_kind', 'registration_kinds', 'tasks', 'Registration');
    check_field_required('registrations', 'needs_details', 'registrations_details', 'tasks', 'Registration');
    check_field_required('registration_kinds', 'needs_details', 'registration_kinds_details', 'tasks', 'RegistrationKind');
    depends_on_value('feedback', 'True', 'feedback_details');
});
    </script>
{% endblock %}

{% block content %}
    <div class="uu-container">
        <div class="col-12">
            {% with nav_items=task.session.study.proposal.available_urls active=3 %}
                {% include 'base/navigation.html' %}
            {% endwith %}
            <h2>{% trans "Het takenonderzoek en interviews" %}</h2>
            {% include "tasks/task_title.html" %}
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                {% with proposal=task.session.study.proposal study=task.session.study session=task.session %}
                    {% include "base/form_buttons.html" %}
                {% endwith %}
            </form>
        </div>
    </div>
{% endblock %}
