{% load static %}
{% load i18n %}
{% load fetc_filters %}

{% if session.task_set.all %}
    <table class="table">
        <thead class="table-primary">
            <tr>
                <th scope="col">{% trans "Taak" %}</th>
                <th scope="col">{% trans "Nettoduur (in minuten)" %}</th>
                <th scope="col">{% trans "Registratie via" %}</th>
                <th scope="col">{% trans "Feedback?" %}</th>
                {% if can_edit_tasks %}
                    <th scope="col">{% trans "Aantal keer uit te voeren" %}</th>
                    <th scope="col">{% trans "Acties" %}</th>
                {% else %}
                    <th scope="col">{% trans "Aantal keer uit te voeren" %}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for task in session.task_set.all %}
                <tr>
                    <td>{% trans "Taak" %} {{ task.order }}: {{ task.name }}</td>
                    <td>{{ task.duration }}</td>
                    <td class="task_feedback">
                        <span class="label">{{ task.feedback|yesno:_("ja,nee") }}</span>
                        {% if task.feedback %}<span class="help">{{ task.feedback_details }}</span>{% endif %}
                    </td>
                    <td>{{ task.repeats }}</td>
                    {% if can_edit_tasks %}
                        <td>
                            <!-- This inline style prevent a stupid "underscore" between the links -->
                            <a style="text-decoration:none;" href="{% url 'tasks:update' task.id %}">
                                <img src="{% static 'proposals/images/pencil.png' %}"
                                     title="{% trans 'Taak bewerken' %}">
                            </a>
                            <a href="{% url 'tasks:delete' task.id %}">
                                <img src="{% static 'proposals/images/delete.png' %}"
                                     title="{% trans 'Taak verwijderen' %}">
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-danger text-center" role="alert">
        {% trans "Deze sessie bevat nog geen taken. Tijd om er een aan te maken!" %}
    </div>
{% endif %}
{% if can_edit_tasks %}
    <div class="mt-3">
        <a href="{% url 'tasks:create' session.pk %}">
            <h5 class="pt-2 text-center">
                {% blocktrans with session_order=session.order trimmed %}
                    Nieuwe taak toevoegen aan sessie {{ session_order }}
                {% endblocktrans %}
                <img src="{% static 'proposals/images/add.png' %}"
                     title="{% trans 'Sessie aanmaken' %}">
            </h5>
        </a>
    </div>
{% endif %}
<script>
$(function() {
    let elements = $('.task_feedback');
    elements.each(function () {
        let label = $(this).find('.label');
        let help = $(this).find('.help');
        if (help.length > 0) {
            label.after(' <img src="{% static 'main/images/information.png' %}">');
            label.next().qtip({
                content: {
                    text: help.html(),
                },
                hide: {
                    fixed: true,
                    delay: 500,
                },
            });
            help.remove();
        }
    });

});
</script>
