{% extends "base/base_proposal_form.html" %}

{% load static %}
{% load i18n %}

{% block header_title %}
    {% trans "Het takenonderzoek en interviews" %} - {{ block.super }}
{% endblock %}

{% block html_head %}
    <script>
        $(function () {
            depends_on_value('is_copy', 'True', 'parent_session');
            depends_on_value('is_copy', 'False', 'tasks_number');

            $('input[name=tasks_number]').parents('tr').insertAfter($('input[name=is_copy]').parents('tr'));
        });
    </script>
{% endblock %}

{% block content %}

    <h2>
        {% trans "Het takenonderzoek en interviews" %}
    </h2>
    {% include "main/setting_checks.html" %}
    {% include "tasks/session_title.html" %}
    <p>
        {% trans "Voor elke taak stellen we in de komende schermen steeds dezelfde vragen." %}
    </p>


{% endblock %}
