{% extends "base/base_proposal_form.html" %}

{% load static %}
{% load i18n %}

{% block header_title %}
    {% trans "Overzicht van het takenonderzoek" %} - {{ block.super }}
{% endblock %}


{% block content %}
    <h2>
        {% trans "Overzicht van het takenonderzoek" %}
    </h2>
    {% include "tasks/session_title.html" %}
    <div class="task_list">
        <p class="mt-2">
            <em>{% trans "Deze sessie bestaat uit de volgende taken:" %}</em>
        </p>
        {% include "tasks/task_list.html" %}
    </div>
    <p class="mt-3">{% trans "Beantwoord op basis van dit overzicht de volgende vragen:" %}</p>

{% endblock %}
