{% extends "base/base.html" %}

{% load static %}
{% load i18n %}

{% block html_head %}
<script>
$(function() {
    depends_on_value('is_copy', 'True', 'parent_session');
    depends_on_value('is_copy', 'False', 'tasks_number');

    $('input[name=tasks_number]').parents('tr').insertAfter($('input[name=is_copy]').parents('tr'));
});
</script>
{% endblock %}

{% block content %}
    <div class="uu-inner-container">
        <div class="col-12">
            {% with nav_items=session.study.proposal.available_urls active=3 %}
                {% include 'base/navigation.html' %}
            {% endwith %}
            <h2>
                {% trans "Het takenonderzoek en interviews" %}
            </h2>
            {% include "main/setting_checks.html" %}
            {% include "tasks/session_title.html" %}
            <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                <table>{{ form.as_table }}</table>
                <p>
                    {% trans "Voor elke taak stellen we in de komende schermen steeds dezelfde vragen." %}
                </p>
                {% with proposal=session.study.proposal study=session.study %}
                {% include "base/form_buttons.html" %}
                {% endwith %}
            </form>
        </div>
    </div>

{% endblock %}
