{% load i18n %}
{% load proposal_filters %}
{% load static %}
{% load uil_filters %}
{% load get_field_name %}
{% load diff_tags %}

{% if section_title %}
    <h2 class="mt-3 mb-1"> {{ section_title }} </h2>
{% endif %}
{% if study_title %}
    <h3> {{ study_title }} </h3>
{% endif %}
<table class="proposals-diff ">
    <tr>
        <th class="proposals-diff-question"></th>
        <th class="proposals-diff-answer">{% trans "Originele aanvraag" %}</th>
        <th class="proposals-diff-answer">{% trans "Revisie/amendement" %}</th>
    </tr>
{% for row in rows %}
<tr>
<th>{{ row.verbose_name }}</th><td>{{ row.value }}</td><td>{{row.value_2}}</td>
</tr>
{% endfor %}
</table>

<h2 class="mt-3 mb-1">{% trans "Algemene informatie over de aanvraag" %}</h2>
<table class="proposals-diff ">
    <tr>
        <th class="proposals-diff-question"></th>
        <th class="proposals-diff-answer">{% trans "Originele aanvraag" %}</th>
        <th class="proposals-diff-answer">{% trans "Revisie/amendement" %}</th>
    </tr>