{% extends "base/base.html" %}

{% load static %}
{% load proposal_filters %}
{% load fetc_filters %}
{% load i18n %}
{% load compare_tags %}
{% load uil_filters %}

{% block header_title %}
    New PDF test
{% endblock %}

{% block content %}

    {% include test %}
    {% include wmo_test %}

    {% if metc_test %}
        {% include metc_test %}
    {% endif %}

    {% include trajectories_test %}

    {% if studies %}
        {% for study in studies %}
            {% for study_section in study %}
                {% include study_section %}
            {% endfor %}
        {% endfor %}    
    {% endif %}

    {% if extra_documents %}
        {% for document in extra_documents %}
            {% include document %}
        {% endfor %}
    {% endif %}

    {% if dmp_file %}
        {% include dmp_file %}
    {% endif %}

    {% include embargo %}

{% endblock %}