{% extends "base/base.html" %}

{% load static %}
{% load proposal_filters %}
{% load fetc_filters %}
{% load i18n %}
{% load compare_tags %}
{% load uil_filters %}

{% block header_title %}
    New PDF test
{% endblock %}

{% block content %}

    {% include test %}
    {% include wmo_test %}

    {% if metc_test %}
        {% include metc_test %}
    {% endif %}

    {% include trajectories_test %}

    {% if studies %}
        {% for study in studies %}
            {% for study_section in study %}
                {% if study_section | get_type == 'list' %}
                    {% for session in study_section %}
                        {% if session | get_type == 'list' %}
                            {% for task in session %}
                                {% include task %}
                        {% else %}
                            {% include session %}
                    {% endfor %}
                {% else %}
                    {% include study_section %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}

{% endblock %}