{% load i18n %}
{% load proposal_filters %}
{% load get_field_name %}

<table>
    <tr>
        <th>{% get_verbose_field_name "observations" "observation" "setting" %}</th><td>{{ observation.setting.all|unordered_list }}</td>
    </tr>
    {% if observation.setting.all|needs_details %}
        <tr>
            <th>{% get_verbose_field_name "observations" "observation" "setting_details" %}</th><td>{{ observation.setting_details }}</td>
        </tr>
    {% endif %}
    {% if study.has_children and observation.setting.all|needs_details:"needs_supervision" %}
        <tr>
            <th>{% get_verbose_field_name "observations" "observation" "supervision" %}</th><td>{{ observation.supervision|yesno:_("ja,nee") }}</td>
        </tr>
        {% if not observation.supervision %}
            <tr>
                <th>{% get_verbose_field_name "observations" "observation" "leader_has_coc" %}</th><td>{{ observation.leader_has_coc|yesno:_("ja,nee") }}</td>
            </tr>
        {% endif %}
    {% endif %}
    <tr>
        <th>{% get_verbose_field_name "observations" "observation" "details_who"|safe %}</th><td>{{ observation.details_who }}</td>
    </tr>
    <tr>
        <th>{% get_verbose_field_name "observations" "observation" "details_why"|safe %}</th><td>{{ observation.details_why }}</td>
    </tr>
    <tr>
        <th>{% get_verbose_field_name "observations" "observation" "details_frequency"|safe %}</th><td>{{ observation.details_frequency }}</td>
    </tr>
    <tr>
        <th>{% get_verbose_field_name "observations" "observation" "is_anonymous" %}</th><td>{{ observation.is_anonymous|yesno:_("ja,nee") }}</td>
    </tr>
    {% if observation.is_anonymous %}
        <tr>
            <th>{% get_verbose_field_name "observations" "observation" "is_anonymous_details" %}</th><td>{{ observation.is_anonymous_details }}</td>
        </tr>
    {% endif %}
    <tr>
        <th>{% get_verbose_field_name "observations" "observation" "is_in_target_group" %}</th><td>{{ observation.is_in_target_group|yesno:_("ja,nee") }}</td>
    </tr>
    {% if observation.is_in_target_group %}
        <tr>
            <th>{% get_verbose_field_name "observations" "observation" "is_in_target_group_details" %}</th><td>{{ observation.is_in_target_group_details }}</td>
        </tr>
    {% endif %}
    <tr>
        <th>{% get_verbose_field_name "observations" "observation" "is_nonpublic_space" %}</th><td>{{ observation.is_nonpublic_space|yesno:_("ja,nee") }}</td>
    </tr>
    {% if observation.is_nonpublic_space %}
        <tr>
            <th>{% get_verbose_field_name "observations" "observation" "is_nonpublic_space_details" %}</th><td>{{ observation.is_nonpublic_space_details }}</td>
        </tr>
        <tr>
            <th>{% get_verbose_field_name "observations" "observation" "has_advanced_consent" %}</th><td>{{ observation.has_advanced_consent|yesno:_("ja,nee") }}</td>
        </tr>
        {% if not observation.has_advanced_consent %}
            <tr>
                <th>{% get_verbose_field_name "observations" "observation" "has_advanced_consent_details" %}</th><td>{{ observation.has_advanced_consent_details }}</td>
            </tr>
        {% endif %}
    {% endif %}
    {% if observation.setting.all|needs_details:"is_school" %}
        <tr>
            <th>{% get_verbose_field_name "observations" "observation" "needs_approval" %}</th><td>{{ observation.needs_approval|yesno:_("ja,nee") }}</td>
        </tr>
    {% endif %}
    {% if observation.needs_approval %}
        <tr>
            <th>{% get_verbose_field_name "observations" "observation" "approval_institution" %}</th><td>{{ observation.approval_institution }}</td>
        </tr>
    {% endif %}
    <tr>
        <th>{% get_verbose_field_name "observations" "observation" "registrations" %}</th><td>{{ observation.registrations.all|unordered_list }}</td>
    </tr>
    {% if observation.registrations.all|needs_details %}
        <tr>
            <th>{% get_verbose_field_name "observations" "observation" "registrations_details" %}</th><td>{{ observation.registrations_details }}</td>
        </tr>
    {% endif %}
</table>