{% extends "base/base.html" %}

{% load i18n %}

{% block content %}
    <div class="uu-inner-container">
        <div class="col-12">
            <h2>
                {% trans "Uitloggen" %}
            </h2>
            <p>
                {% trans "U bent succesvol uitgelogd." %}
            </p>
            <ul>
                <li>
                    {% url 'login' as login_url %}
                    {% blocktrans %}
                    Klik  <a href="{{ login_url }}">hier</a> om opnieuw in te loggen met uw Solis-ID.
                    {% endblocktrans %}
                </li>
                <li>
                    {% blocktrans %}
                    Klik <a href="http://fetc-gw.wp.hum.uu.nl">hier</a> om terug te keren naar de FETC-GW-website.
                    {% endblocktrans %}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
