{% extends "base/fetc_base.html" %}

{% load i18n %}

{% block content %}
    <div class="uu-container flex-wrap">
        <div class="col-12">
            <h2>{% trans "Inloggen" %}</h2>
            {% if form.errors %}
                <p class="form-errors">
                    {% trans "Gebruikersnaam of wachtwoord incorrect. Probeer het alstublieft opnieuw." %}
                </p>
            {% endif %}
            <p>
                {% trans "Je kan hier inloggen met je Solis-ID en wachtwoord." %}
            </p>
        </div>
        <div class="col-12 col-md-4 col-xl-3">
            <form class="" method="post" action="{% url 'login' %}">{% csrf_token %}
                <input id="id_username" maxlength="254" class="form-control" name="username" type="text" placeholder="{% trans 'Gebruikersnaam' %}">
                <input class="form-control mt-2" id="id_password" name="password" type="password" placeholder="{% trans 'Wachtwoord' %}">
                <input class="btn btn-primary mt-3" type="submit" value="{% trans 'Inloggen' %}" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>
{% endblock %}
