{% extends "base/fetc_base.html" %}

{% load i18n %}
{% load static %}

{% block pre-messages-content %}
    <div class="uu-cover align-items-end h-300">
        <img class="uu-cover-image" alt="cover" src="{% static 'main/images/coverimage-summer_Kim_Oleary.jpg' %}"/>
        <div class="uu-cover-copyright uu-cover-copyright-right">
            Cover by Kim O'leary
        </div>
    </div>
    <div class="uu-hero">
        <h2>
            {% trans "Inloggen" %}
        </h2>
    </div>
{% endblock %}

{% block content %}
    <div class="uu-container">
        <div class="col-12 col-md-4">
            {% if form.errors %}
                <p class="form-errors">{% trans "Gebruikersnaam of wachtwoord incorrect. Probeer het alstublieft opnieuw." %}</p>
            {% endif %}
            <p>{% trans "Je kan hier inloggen met je Solis-ID en wachtwoord." %}</p>
            <form class="" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <input id="id_username"
                       maxlength="254"
                       name="username"
                       type="text"
                       placeholder="{% trans 'Gebruikersnaam' %}">
                <br />
                <input class="mt-1"
                       id="id_password"
                       name="password"
                       type="password"
                       placeholder="{% trans 'Wachtwoord' %}">
                <br />
                <button class="btn btn-primary mt-2" type="submit">{% trans 'Inloggen' %}</button>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>
{% endblock %}
