{% extends "base/base.html" %}

{% load i18n %}
{% load static %}

{% block html_head %}
    <script>
        // Simple function to show emails with Javascript to keep out the bots
        // Bots are stupid ;)
        $(function () {
            $('.email').each((i, e) => {
                let element = $(e);
                let email = element.data('email') + '@uu.nl';
                let a = $('<a>', {
                    href: 'mailto:' + email,
                })
                a.html(email)
                // Empty the element to remove the fallback message
                element.html('')
                element.append(a)
            })
        });
    </script>
{% endblock %}

{% block content %}
    {# Very ugly imitation of uu-hero #}
    <div style="background: #FFCD00; margin: -10px -15px; padding:1rem;">
        <div class="uu-inner-container" style="padding-left: 15px">
            <h2 style="font-weight: 500">
                {% trans "Inloggen" %}
            </h2>
        </div>
    </div>
    <div class="uu-inner-container mt-4">
        <div class="col-12 col-md-4">
            {% if form.errors %}
                <p class="form-errors">
                    {% trans "Gebruikersnaam of wachtwoord incorrect. Probeer het alstublieft opnieuw." %}
                </p>
            {% endif %}
            <p>
                {% trans "Je kan hier inloggen met je Solis-ID en wachtwoord." %}
            </p>
            <form class="" method="post" action="{% url 'login' %}">{% csrf_token %}
                <input id="id_username" maxlength="254" name="username" type="text" placeholder="{% trans 'Gebruikersnaam' %}"><br/>
                <input class="mt-1" id="id_password" name="password" type="password" placeholder="{% trans 'Wachtwoord' %}"><br/>
                <input class="mt-3 mb-3" type="submit" value="{% trans 'Inloggen' %}" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>
{% endblock %}
