{% extends "base/base.html" %}
{% load i18n %}
{% block content %}
    <div class="uu-inner-container">
        <div class="col-12">
            <h2>{% trans 'Geen toegang' %}</h2>
            <p>{% trans 'Je hebt geen toegang tot de opgevraagde pagina.' %}</p>
            {% if request.user.is_authenticated %}
                <p>{% trans 'Dit kan meerdere oorzaken hebben:' %}</p>
                <ul>
                    <li>{% trans 'Je hebt niet de benodigde rechten om deze pagina te bekijken;' %}</li>
                    <li>{% trans 'Je bent niet als mede-onderzoeker opgegeven voor deze aanvraag;' %}</li>
                    <li>
                        {% trans 'Je probeert een door jou eerder genomen beslissing aan te passen, maar de beoordelingsperiode is verstreken.' %}
                    </li>
                </ul>
            {% else %}
                <p>
                    {% url 'login' as login_url %}
                    {% blocktrans trimmed %}
                        Je bent niet ingelogd, probeer <a href="{{ login_url }}">in te loggen</a>.
                    {% endblocktrans %}
                </p>
            {% endif %}
            <p>
                {% blocktrans trimmed %}
                    Denk je dat dit niet klopt?
                {% endblocktrans %}
                {% blocktrans trimmed %}
                    Neem dan contact op met het technisch beheer van de portal via <a href="mailto:portalsupport.gw@uu.nl">portalsupport.gw@uu.nl</a>.
                {% endblocktrans %}
            </p>
        </div>
    </div>
{% endblock %}
