{% extends "base/fetc_base.html" %}

{% load i18n %}

{% block header_title %}
    {% trans "Verificatie Fout" %}
{% endblock %}

{% block content %}
    <div class="uu-hero">
        <h2>
            {% trans 'Verzoek kon niet geverifieerd worden' %}
        </h2>
    </div>
    <div class="uu-container">
        <div class="col-12">
            <p>
                {% trans 'Er is iets fout gegaan met het verifiëren van je browser.' %}
            </p>
            <p>
                {% trans 'Dit kan meerdere oorzaken hebben, zoals het gebruik van een script- of ad-blocker, of je cookie-instellingen. Probeer eerst een <em>volledige verversing</em> van de pagina:' %}
            </p>
            <ul>
                <li>
                    {% trans 'Voor Chrome: ctrl + F5 (Windows) of cmd + shift + R (Mac)' %}
                </li>
                <li>
                    {% trans 'Voor Firefox: ctrl + shift + R (Windows) of cmd + shift + R (Mac)' %}
                </li>
                <li>
                    {% trans 'Voor Edge: ctrl + F5' %}
                </li>
                <li>
                    {% trans 'Voor Safari: option + cmnd + E' %}
                </li>
            </ul>
            <p>
                {% blocktrans trimmed %}
                    Denk je dat dit niet klopt? Neem dan contact op met
                    <a href="mailto:portaldev.gw@uu.nl" target="_blank">het FETC-GW IT team</a>.
                {% endblocktrans %}
            </p>
        </div>
    </div>
{% endblock %}
