    
{% load static %}
{% load proposal_filters %}
{% load fetc_filters %}
{% load i18n %}
{% load compare_tags %}

{% for header, items in headers_items.items %}

<h5>
   {{header}}
</h5>

<ul>
{% for item in items %}
    {% with item.0 as name %}
    {% with item.1 as file %}
        <li>
            <a href="{{ file.url }}" target="_blank">
                {{name}}
            </a>
            {% simple_compare_link %}
        </li>
    {% endwith %}
    {% endwith %}
{% endfor %}
</ul>

{% endfor %}


    
    <h4>{% trans "Formulieren bij aanmelding" %}</h4>

    <ul>
        {% if review.proposal.is_pre_assessment %}
            <li>
                <a href="{{ review.proposal.pre_assessment_pdf.url }}" target="_blank">
                    {% trans "Aanvraag bij voortoetsing" %}
                </a>
                {% get_compare_link proposal review.proposal pre_assessment_pdf %}
            </li>
        {% endif %}
        {% if review.proposal.wmo and review.proposal.wmo.status == review.proposal.wmo.JUDGED %}
            <li>
                <a href="{{ review.proposal.wmo.metc_decision_pdf.url }}" target="_blank">
                    {% trans "Beslissing METC" %}
                </a>
                {% get_compare_link wmo review.proposal.wmo %}
            </li>
        {% endif %}
        {% if review.proposal.pre_approval_pdf %}
            <li>
                <a href="{{ review.proposal.pre_approval_pdf.url }}" target="_blank">
                    {% trans "Toestemmingsbrief andere ethische commissie" %}
                </a>
                {% get_compare_link proposal review.proposal pre_approval_pdf %}
            </li>
        {% endif %}
    </ul>

    {% for study in review.proposal.study_set.all %}
        {% include "studies/study_title.html" %}
        {% get_study_documents study_documents study %}
        <ul>
            {% if study.passive_consent %}
                <li>
                    <a href="{{ study_documents.director_consent_declaration.url }}"
                        target="_blank">{% trans "Consent declaratie directeur/departementshoofd" %}</a>
                    <a href="{% url 'studies:attachments' study_documents.pk %}" class="icon-link">
                        <img src="{% static 'proposals/images/pencil.png' %}"
                                title="{% trans 'Formulier wijzigen' %}">
                    </a>
                    {% get_compare_link documents study_documents director_consent_declaration %}
                </li>
                <li>
                    <a href="{{ study_documents.director_consent_information.url }}"
                        target="_blank">{% trans "Consent informatiebrief directeur/departementshoofd" %}</a>
                    <a href="{% url 'studies:attachments' study_documents.pk %}" class="icon-link">
                        <img src="{% static 'proposals/images/pencil.png' %}"
                                title="{% trans 'Formulier wijzigen' %}">
                    </a>
                    {% get_compare_link documents study_documents director_consent_information %}
                </li>
                <li>
                    <a href="{{ study_documents.parents_information.url }}"
                        target="_blank">{% trans "Informatiebrief ouders" %}</a>
                    <a href="{% url 'studies:attachments' study_documents.pk %}" class="icon-link">
                        <img src="{% static 'proposals/images/pencil.png' %}"
                                title="{% trans 'Formulier wijzigen' %}">
                    </a>
                </li>
                {% get_compare_link documents study_documents parents_information %}
            {% else %}
                <li>
                    <a href="{{ study_documents.informed_consent.url }}"
                        target="_blank">{% trans "Informed consent" %}</a>
                    <a href="{% url 'studies:attachments' study_documents.pk %}" class="icon-link">
                        <img src="{% static 'proposals/images/pencil.png' %}"
                                title="{% trans 'Formulier wijzigen' %}">
                    </a>
                    {% get_compare_link documents study_documents informed_consent %}
                </li>
                <li>
                    <a href="{{ study_documents.briefing.url }}" target="_blank">{% trans "Briefing" %}</a>
                    <a href="{% url 'studies:attachments' study_documents.pk %}" class="icon-link">
                        <img src="{% static 'proposals/images/pencil.png' %}"
                                title="{% trans 'Formulier wijzigen' %}">
                    </a>
                    {% get_compare_link documents study_documents briefing %}
                </li>
            {% endif %}
            {% if study.needs_additional_external_forms %}
                {% if study_documents.director_consent_information %}
                    <li>
                        <a href="{{ study_documents.director_consent_information.url }}"
                            target="_blank">{% trans "Consent informatiebrief directeur/departementshoofd" %}</a>
                        <a href="{% url 'studies:attachments' study_documents.pk %}" class="icon-link">
                            <img src="{% static 'proposals/images/pencil.png' %}"
                                    title="{% trans 'Formulier wijzigen' %}">
                        </a>
                        {% get_compare_link documents study_documents director_consent_information %}
                    </li>
                {% endif %}
                {% if study_documents.parents_information %}
                    <li>
                        <a href="{{ study_documents.parents_information.url }}"
                            target="_blank">{% trans "Informatiebrief ouders" %}</a>
                        <a href="{% url 'studies:attachments' study_documents.pk %}" class="icon-link">
                            <img src="{% static 'proposals/images/pencil.png' %}"
                                    title="{% trans 'Formulier wijzigen' %}">
                        </a>
                        {% get_compare_link documents study_documents parents_information %}
                    </li>
                {% endif %}
            {% endif %}
            {% if study.has_observation and study.observation.needs_approval and study.observation.approval_document %}
                <li>
                    <a href="{{ study.observation.approval_document.url }}" target="_blank">
                        {% trans "Toestemmingsdocument observatiestudie" %}
                    </a>
                    <a href="{% url 'observations:attachments' study_documents.pk %}" class="icon-link">
                        <img src="{% static 'proposals/images/pencil.png' %}"
                                title="{% trans 'Formulier wijzigen' %}">
                    </a>
                    {% get_compare_link observation study_documents approval_document %}
                </li>
            {% endif %}
        </ul>
    {% endfor %}
    {% counter extra_form_counter create 1 %}
    {% get_extra_documents extra_documents review.proposal %}
    {% for documents in extra_documents %}
        <h4>{% trans 'Extra formulieren' %} {% counter extra_form_counter value %}</h4>
        {% counter extra_form_counter increment 1 %}
        <ul>
            {% if documents.informed_consent %}
                <li>
                    <a href="{{ documents.informed_consent.url }}"
                        target="_blank">{% trans "Informed consent" %}</a>
                    <a href="{% url 'studies:attachments' documents.pk %}">
                        <img src="{% static 'proposals/images/pencil.png' %}"
                                title="{% trans 'Formulier wijzigen' %}">
                    </a>
                    {% get_compare_link documents documents informed_consent %}
                </li>
            {% endif %}
            {% if documents.briefing %}
                <li>
                    <a href="{{ documents.briefing.url }}" target="_blank">{% trans "Briefing" %}</a>
                    <a href="{% url 'studies:attachments' documents.pk %}">
                        <img src="{% static 'proposals/images/pencil.png' %}"
                                title="{% trans 'Formulier wijzigen' %}">
                    </a>
                    {% get_compare_link documents documents briefing %}
                </li>
            {% endif %}
        </ul>
    {% endfor %}
    <p>
        {% get_study_documents study_documents review.proposal.study_set.first %}
        <a href="{% url 'studies:attachments' study_documents.pk %}">
            {% trans "Documenten wijzigen" %} <img src="{% static 'proposals/images/pencil.png' %}"
                                title="{% trans 'Documenten wijzigen' %}">
                    </a></p>
                    
