{% load i18n %}

{% if study.has_intervention or p_study.has_intervention %}
    <h2 class="mt-5 mb-1">{% trans "Het interventieonderzoek" %}</h2>

    {% if study.has_intervention and not p_study.has_intervention %}
        <div class="warning">
            {% trans "De revisie bevat interventieonderzoek, terwijl de originele aanvraag dat niet bevat." %}
        </div>
    {% elif not study.has_intervention and p_study.has_intervention %}
        <div class="warning">
            {% trans "De revisie bevat geen interventieonderzoek, terwijl de originele aanvraag dat wel bevat." %}
        </div>
    {% endif %}

    {% with intervention=study.intervention p_intervention=p_study.intervention %}
        {% if not intervention or not p_intervention or intervention.version == p_intervention.version %}
            {% include "studies/study_title.html" %}

            {% if intervention.version == 1 %}
                {% include "proposals/diff/intervention_v1.html" %}
            {% elif intervention.version == 2 %}
                {% include "proposals/diff/intervention_v2.html" %}
            {% endif %}

        {% else %}
            <div class="warning">
                {% trans "De revisie en de originele aanvraag hebben beide een interventieonderzoek, maar deze zijn niet te vergelijken. Dit komt doordat de revisie een andere versie van het formulier gebruikt." %}
            </div>
        {% endif %}
    {% endwith %}
{% endif %}