{% load i18n %}
{% load get_field_name %}
{% load proposal_filters %}

<table class="proposals-diff pure-table pure-table-horizontal">
    <tr>
        <th class="proposals-diff-question"></th>
        <th class="proposals-diff-answer">{% trans "Originele studie" %}</th>
        <th class="proposals-diff-answer">{% trans "Revisie/amendement" %}</th>
    </tr>
    <tr>
        <th>{% get_verbose_field_name "interventions" "intervention" "setting" %}</th>
        <td>{{ p_intervention.setting.all|unordered_list }}</td>
        <td>{{ intervention.setting.all|unordered_list }}</td>
    </tr>
    {% if intervention.setting.all|needs_details or p_intervention.setting.all|needs_details %}
    <tr>
        <th>{% get_verbose_field_name "interventions" "intervention" "setting_details" %}</th>
        <td>{{ p_intervention.setting_details }}</td>
        <td>{{ intervention.setting_details }}</td>
    </tr>
    {% endif %}
    {% if study.has_children and intervention.setting.all|needs_details:"needs_supervision" or p_study.has_children and p_intervention.setting.all|needs_details:"needs_supervision" %}
    <tr>
        <th>{% get_verbose_field_name "interventions" "intervention" "supervision" %}</th>
        <td>{{ p_intervention.supervision|yesno:_("ja,nee,") }}</td>
        <td>{{ intervention.supervision|yesno:_("ja,nee,") }}</td>
    </tr>
    {% if not intervention.supervision or not p_intervention.supervision %}
    <tr>
        <th>{% get_verbose_field_name "interventions" "intervention" "leader_has_coc" %}</th>
        <td>{{ p_intervention.leader_has_coc|yesno:_("ja,nee,") }}</td>
        <td>{{ intervention.leader_has_coc|yesno:_("ja,nee,") }}</td>
    </tr>
    {% endif %}
    {% endif %}
    <tr>
        <th>{% get_verbose_field_name "interventions" "intervention" "period" %}</th>
        <td>{{ p_intervention.period }}</td>
        <td>{{ intervention.period }}</td>
    </tr>
    <tr>
        <th>{% get_verbose_field_name "interventions" "intervention" "amount_per_week" %}</th>
        <td>{{ p_intervention.amount_per_week }}</td>
        <td>{{ intervention.amount_per_week }}</td>
    </tr>
    <tr>
        <th>{% get_verbose_field_name "interventions" "intervention" "duration" %}</th>
        <td>{{ p_intervention.duration }}</td>
        <td>{{ intervention.duration }}</td>
    </tr>
    <tr>
        <th>{% get_verbose_field_name "interventions" "intervention" "measurement" %}</th>
        <td>{{ p_intervention.measurement }}</td>
        <td>{{ intervention.measurement }}</td>
    </tr>
    <tr>
        <th>{% get_verbose_field_name "interventions" "intervention" "experimenter" %}</th>
        <td>{{ p_intervention.experimenter }}</td>
        <td>{{ intervention.experimenter }}</td>
    </tr>
    <tr>
        <th>{% get_verbose_field_name "interventions" "intervention" "description" %}</th>
        <td>{{ p_intervention.description }}</td>
        <td>{{ intervention.description }}</td>
    </tr>
    <tr>
        <th>{% get_verbose_field_name "interventions" "intervention" "has_controls" %}</th>
        <td>{{ p_intervention.has_controls|yesno:_("ja,nee") }}</td>
        <td>{{ intervention.has_controls|yesno:_("ja,nee") }}</td>
    </tr>
    {% if intervention.has_controls or p_intervention.has_controls %}
    <tr>
        <th>{% get_verbose_field_name "interventions" "intervention" "controls_description" %}</th>
        <td>{{ p_intervention.controls_description }}</td>
        <td>{{ intervention.controls_description }}</td>
    </tr>
    {% endif %}
</table>