{% load i18n %}
{% load get_field_name %}
{% load proposal_filters %}


<table class="proposals-diff pure-table pure-table-horizontal">
    <tr>
        <th class="proposals-diff-question"></th>
        <th class="proposals-diff-answer">{% trans "Originele aanvraag" %}</th>
        <th class="proposals-diff-answer">{% trans "Revisie/amendement" %}</th>
    </tr>
    <tr>
        <th>{% get_verbose_field_name "observations" "observation" "setting" %}</th>
        <td>{{ p_observation.setting.all|unordered_list }}</td>
        <td>{{ observation.setting.all|unordered_list }}</td>
    </tr>
    {% if observation.setting.all|needs_details or p_observation.setting.all|needs_details %}
        <tr>
            <th>{% get_verbose_field_name "observations" "observation" "setting_details" %}</th>
            <td>{{ p_observation.setting_details }}</td>
            <td>{{ observation.setting_details }}</td>
        </tr>
    {% endif %}
    {% if study.has_children and observation.setting.all|needs_details:"needs_supervision" or p_study.has_children and p_observation.setting.all|needs_details:"needs_supervision" %}
        <tr>
            <th>{% get_verbose_field_name "observations" "observation" "supervision" %}</th>
            <td>
                {% if p_observation %}
                    {{ p_observation.supervision|yesno:_("ja,nee") }}
                {% endif %}
            </td>
            <td>
                {% if observation %}
                    {{ observation.supervision|yesno:_("ja,nee") }}
                {% endif %}
            </td>
        </tr>
        {% if not observation.supervision or not p_observation.supervision %}
            <tr>
                <th>{% get_verbose_field_name "observations" "observation" "leader_has_coc" %}</th>
                <td>
                    {% if p_observation %}
                        {{ p_observation.leader_has_coc|yesno:_("ja,nee,") }}
                    {% endif %}
                </td>
                <td>
                    {% if observation %}
                        {{ observation.leader_has_coc|yesno:_("ja,nee,") }}
                    {% endif %}
                </td>
            </tr>
        {% endif %}
    {% endif %}
    <tr>
        <th>{% get_verbose_field_name "observations" "observation" "details_who" %}</th>
        <td>{{ p_observation.details_who }}</td>
        <td>{{ observation.details_who }}</td>
    </tr>
    <tr>
        <th>{% get_verbose_field_name "observations" "observation" "details_why" %}</th>
        <td>{{ p_observation.details_why }}</td>
        <td>{{ observation.details_why }}</td>
    </tr>
    <tr>
        <th>{% get_verbose_field_name "observations" "observation" "details_frequency" %}</th>
        <td>{{ p_observation.details_frequency }}</td>
        <td>{{ observation.details_frequency }}</td>
    </tr>
    <tr>
        <th>{% get_verbose_field_name "observations" "observation" "is_anonymous" %}</th>
        <td>
            {% if p_observation %}
                {{ p_observation.is_anonymous|yesno:_("ja,nee") }}
            {% endif %}
        </td>
        <td>
            {% if observation %}
                {{ observation.is_anonymous|yesno:_("ja,nee") }}
            {% endif %}
        </td>
    </tr>
    {% if observation.is_anonymous or p_observation.is_anonymous %}
        <tr>
            <th>{% get_verbose_field_name "observations" "observation" "is_anonymous_details" %}</th>
            <td>{{ p_observation.is_anonymous_details }}</td>
            <td>{{ observation.is_anonymous_details }}</td>
        </tr>
    {% endif %}
    <tr>
        <th>{% get_verbose_field_name "observations" "observation" "is_in_target_group" %}</th>
        <td>
            {% if p_observation %}
                {{ p_observation.is_in_target_group|yesno:_("ja,nee") }}
            {% endif %}
        </td>
        <td>
            {% if observation %}
                {{ observation.is_in_target_group|yesno:_("ja,nee") }}
            {% endif %}
        </td>
    </tr>
    {% if observation.is_in_target_group or p_observation.is_in_target_group %}
        <tr>
            <th>{% get_verbose_field_name "observations" "observation" "is_in_target_group_details" %}</th>
            <td>{{ p_observation.is_in_target_group_details }}</td>
            <td>{{ observation.is_in_target_group_details }}</td>
        </tr>
    {% endif %}
    <tr>
        <th>{% get_verbose_field_name "observations" "observation" "is_nonpublic_space" %}</th>
        <td>
            {% if p_observation %}
                {{ p_observation.is_nonpublic_space|yesno:_("ja,nee") }}
            {% endif %}
        </td>
        <td>
            {% if observation %}
                {{ observation.is_nonpublic_space|yesno:_("ja,nee") }}
            {% endif %}
        </td>
    </tr>
    {% if observation.is_nonpublic_space or p_observation.is_nonpublic_space %}
        <tr>
            <th>{% get_verbose_field_name "observations" "observation" "is_nonpublic_space_details" %}</th>
            <td>{{ p_observation.is_nonpublic_space_details }}</td>
            <td>{{ observation.is_nonpublic_space_details }}</td>
        </tr>
        <tr>
            <th>{% get_verbose_field_name "observations" "observation" "has_advanced_consent" %}</th>
            <td>
                {% if p_observation %}
                    {{ p_observation.has_advanced_consent|yesno:_("ja,nee") }}
                {% endif %}
            </td>
            <td>
                {% if observation %}
                    {{ observation.has_advanced_consent|yesno:_("ja,nee") }}
                {% endif %}
            </td>
        </tr>
    {% endif %}
    <tr>
        <th>{% get_verbose_field_name "observations" "observation" "needs_approval" %}</th>
        <td>
            {% if p_observation %}
                {{ p_observation.needs_approval|yesno:_("ja,nee") }}
            {% endif %}
        </td>
        <td>
            {% if observation %}
                {{ observation.needs_approval|yesno:_("ja,nee") }}
            {% endif %}
        </td>
    </tr>
    {% if observation.needs_approval or p_observation.is_nonpublic_space %}
        <tr>
            <th>{% get_verbose_field_name "observations" "observation" "approval_institution" %}</th>
            <td>{{ p_observation.approval_institution }}</td>
            <td>{{ observation.approval_institution }}</td>
        </tr>
    {% endif %}
    <tr>
        <th>{% get_verbose_field_name "observations" "observation" "registrations" %}</th>
        <td>{{ p_observation.registrations.all|unordered_list }}</td>
        <td>{{ observation.registrations.all|unordered_list }}</td>
    </tr>
    {% if observation.registrations.all|needs_details or p_observation.registrations.all|needs_details %}
        <tr>
            <th>{% get_verbose_field_name "observations" "observation" "registrations_details" %}</th>
            <td>{{ p_observation.registrations_details }}</td>
            <td>{{ observation.registrations_details }}</td>
        </tr>
    {% endif %}
</table>
