{% load i18n %}
{% load proposal_filters %}
{% load get_field_name %}
{% load diff_tags %}

{% if study.has_sessions or p_study.has_sessions %}
    <h2 class="mt-5 mb-1">{% trans "Het takenonderzoek en interviews" %}</h2>
    {% if study.has_sessions and not p_study.has_sessions %}
        <div class="warning">{% trans "De revisie bevat takenonderzoek, terwijl de originele aanvraag dat niet bevat." %}</div>
    {% elif not study.has_sessions and p_study.has_sessions %}
        <div class="warning">
            {% trans "De revisie bevat geen takenonderzoek, terwijl de originele aanvraag dat wel bevat." %}
        </div>
    {% endif %}
    {% include "studies/study_title.html" %}
    <table class="proposals-diff ">
        <tr>
            <th class="proposals-diff-question"></th>
            <th class="proposals-diff-answer">{% trans "Originele aanvraag" %}</th>
            <th class="proposals-diff-answer">{% trans "Revisie/amendement" %}</th>
        </tr>
        <tr>
            <th>{% get_verbose_field_name "studies" "study" "sessions_number" %}</th>
            <td>{{ p_study.sessions_number }}</td>
            <td>{{ study.sessions_number }}</td>
        </tr>
    </table>
    {% get_zipped_sessions_lists zipped_sessions study p_study %}
    {% for session, p_session in zipped_sessions %}
        <br />
        {% include "tasks/session_title.html" %}
        <br />
        <table class="proposals-diff ">
            <tr>
                <th class="proposals-diff-question"></th>
                <th class="proposals-diff-answer">{% trans "Originele aanvraag" %}</th>
                <th class="proposals-diff-answer">{% trans "Revisie/amendement" %}</th>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "tasks" "session" "setting" %}</th>
                <td>{{ p_session.setting.all|unordered_list }}</td>
                <td>{{ session.setting.all|unordered_list }}</td>
            </tr>
            {% if session.setting.all|needs_details or p_session.setting.all|needs_details %}
                <tr>
                    <th>{% get_verbose_field_name "tasks" "session" "setting_details" %}</th>
                    <td>{{ p_session.setting_details }}</td>
                    <td>{{ session.setting_details }}</td>
                </tr>
            {% endif %}
            {% if study.has_children and session.setting.all|needs_details:"needs_supervision" or p_study.has_children and p_session.setting.all|needs_details:"needs_supervision" %}
                <tr>
                    <th>{% get_verbose_field_name "tasks" "session" "supervision" %}</th>
                    <td>
                        {% if p_session %}{{ p_session.supervision|yesno:_("ja,nee,") }}{% endif %}
                    </td>
                    <td>
                        {% if session %}{{ session.supervision|yesno:_("ja,nee,") }}{% endif %}
                    </td>
                </tr>
                {% if not session.supervision or not p_session.supervision %}
                    <tr>
                        <th>{% get_verbose_field_name "tasks" "session" "leader_has_coc" %}</th>
                        <td>
                            {% if p_session %}{{ p_session.leader_has_coc|yesno:_("ja,nee,") }}{% endif %}
                        </td>
                        <td>
                            {% if session %}{{ session.leader_has_coc|yesno:_("ja,nee,") }}{% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endif %}
            <tr>
                <th>{% get_verbose_field_name "tasks" "session" "tasks_number" %}</th>
                <td>{{ p_session.tasks_number }}</td>
                <td>{{ session.tasks_number }}</td>
            </tr>
        </table>
        {% get_zipped_tasks_lists zipped_tasks session p_session %}
        {% for task, p_task in zipped_tasks %}
            <br />
            {% include "tasks/task_title.html" %}
            <br />
            <table class="proposals-diff ">
                <tr>
                    <th class="proposals-diff-question"></th>
                    <th class="proposals-diff-answer">{% trans "Originele aanvraag" %}</th>
                    <th class="proposals-diff-answer">{% trans "Revisie/amendement" %}</th>
                </tr>
                <tr>
                    <th>{% get_verbose_field_name "tasks" "task" "name" %}</th>
                    <td>{{ p_task.name }}</td>
                    <td>{{ task.name }}</td>
                </tr>
                <tr>
                    <th>{% get_verbose_field_name "tasks" "task" "description" %}</th>
                    <td>{{ p_task.description }}</td>
                    <td>{{ task.description }}</td>
                </tr>
                <tr>
                    <th>{% get_verbose_field_name "tasks" "task" "duration" %}</th>
                    <td>{{ p_task.duration }}</td>
                    <td>{{ task.duration }}</td>
                </tr>
                <tr>
                    <th>{% get_verbose_field_name "tasks" "task" "registrations" %}</th>
                    <td>{{ p_task.registrations.all|unordered_list }}</td>
                    <td>{{ task.registrations.all|unordered_list }}</td>
                </tr>
                {% if task.registrations.all|needs_details or p_task.registrations.all|needs_details %}
                    <tr>
                        <th>{% get_verbose_field_name "tasks" "task" "registrations_details" %}</th>
                        <td>{{ p_task.registrations_details }}</td>
                        <td>{{ task.registrations_details }}</td>
                    </tr>
                {% endif %}
                {% if task.registrations.all|needs_details:"needs_kind" or p_task.registrations.all|needs_details:"needs_kind" %}
                    <tr>
                        <th>{% get_verbose_field_name "tasks" "task" "registration_kinds" %}</th>
                        <td>{{ p_task.registration_kinds.all|unordered_list }}</td>
                        <td>{{ task.registration_kinds.all|unordered_list }}</td>
                    </tr>
                    {% if task.registration_kinds.all|needs_details or p_task.registration_kinds.all|needs_details %}
                        <tr>
                            <th>{% get_verbose_field_name "tasks" "task" "registration_kinds_details" %}</th>
                            <td>{{ p_task.registration_kinds_details }}</td>
                            <td>{{ task.registration_kinds_details }}</td>
                        </tr>
                    {% endif %}
                {% endif %}
                <tr>
                    <th>{% get_verbose_field_name "tasks" "task" "feedback" %}</th>
                    <td>
                        {% if p_task %}{{ p_task.feedback|yesno:_("ja,nee") }}{% endif %}
                    </td>
                    <td>
                        {% if task %}{{ task.feedback|yesno:_("ja,nee") }}{% endif %}
                    </td>
                </tr>
                {% if task.feedback or p_task.feedback %}
                    <tr>
                        <th>{% get_verbose_field_name "tasks" "task" "feedback_details" %}</th>
                        <td>{{ p_task.feedback_details }}</td>
                        <td>{{ task.feedback_details }}</td>
                    </tr>
                {% endif %}
            </table>
        {% endfor %}
        <h3 class="mt-5 mb-1">{% trans "Overzicht van het takenonderzoek" %}</h3>
        <table class="proposals-diff ">
            <tr>
                <th class="proposals-diff-question"></th>
                <th class="proposals-diff-answer">{% trans "Originele aanvraag" %}</th>
                <th class="proposals-diff-answer">{% trans "Revisie/amendement" %}</th>
            </tr>
            <tr>
                <th>{% get_verbose_field_name "tasks" "session" "tasks_duration" session.net_duration %}</th>
                <td>{{ p_session.tasks_duration }}</td>
                <td>{{ session.tasks_duration }}</td>
            </tr>
        </table>
    {% endfor %}
{% endif %}
