{% load i18n %}

<nav id="form_buttons">
	{% if not no_back %}
	<input class="pure-button pure-button-secondary" type="submit" name="save_back" value="{% trans '<< Vorige stap' %}" />
	{% endif %}
	<input class="pure-button pure-button-primary" type="submit" name="save_continue" value="{{ next_text|default:_('Volgende stap >>') }}" />
</nav>

{% if not no_back %}
<nav id="form_buttons_extra">
	<a class="pure-button pure-button-secondary" href="{% url 'core:home' %}">
		{% trans "Terug naar startpagina" %}
	</a>
	{% if proposal %}
	{% if proposal.is_pre_assessment %}
	<a class="pure-button pure-button-secondary" href="{% url 'proposals:update_pre' proposal.pk %}">
		{% trans "Terug naar begin studie" %}
	</a>
	{% elif proposal.is_practice %}
	<a class="pure-button pure-button-secondary" href="{% url 'proposals:update_practice' proposal.pk %}">
		{% trans "Terug naar begin studie" %}
	</a>
	{% else %}
	<a class="pure-button pure-button-secondary" href="{% url 'proposals:update' proposal.pk %}">
		{% trans "Terug naar begin studie" %}
	</a>
	{% endif %}
	{% endif %}
	{% if study %}
	<a class="pure-button pure-button-secondary" href="{% url 'studies:update' study.pk %}">
		{% trans "Terug naar begin traject" %}
	</a>
	{% endif %}
	{% if session %}
	<a class="pure-button pure-button-secondary" href="{% url 'tasks:start' session.pk %}">
		{% trans "Terug naar begin sessie" %}
	</a>
	{% endif %}
</nav>
{% endif %}
