{% load staticfiles %}
{% load i18n %}

<script type="text/javascript" charset="utf8" src="//cdnjs.cloudflare.com/ajax/libs/jquery-sidebar/3.3.2/jquery.sidebar.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'core/progress.css' %}">

<script>
$(function() {
    // Add dividers
    $('.progress li:even').prepend('<div class="item">');

    // Set current item and remove previous URLs
    $('a[href="{{request.path}}"]').prev().addClass('current');

    // Sidebar functionality
    $('.progress').sidebar({side: 'right'});
    $('.open-progress').click(function() {
        $('.progress').trigger('sidebar:open');
    });
    $('.close-progress').click(function() {
        $('.progress').trigger('sidebar:close');
    });
});
</script>

<button class="pure-button open-progress">{% trans "Toon navigatie" %}</button>
<div class="progress">
    <button class="pure-button close-progress">{% trans "Sluit navigatie" %}</button>
    <h2>{% trans "Voortgang" %}</h2>
    <ul>
    {% for a in proposal.available_urls %}
        {% if not a.is_title %}
        <li>
            {% if a.url %}
            <a class="margin-{{ a.margin }}" href="{{ a.url }}">{{ a.title }}</a>
            {% else %}
            <span class="margin-{{ a.margin }}">{{ a.title }}</span>
            {% endif %}
        </li>
        <li><div class="divider"></div></li>
        {% else %}
    </ul>
        <strong>{{ a.title }}</strong>
    <ul>
        {% endif %}
    {% endfor %}
    </ul>
</div>
