{% extends "base/fetc_base.html" %}

{% load i18n %}
{% load static %}

{% block header_title %}
    {% trans "Startpagina" %} - {{ block.super }}
{% endblock %}

{% block pre-messages-content %}
    {% include 'main/index_parts/cover.html' %}
    <div class="uu-hero">
        <h2>{% trans "Startpagina" %} - {{ user.get_full_name }}</h2>
    </div>
{% endblock %}

{% block content %}
    {% include "main/index_parts/systemmessages.html" %}
    {% include "main/index_parts/faculty_warning.html" %}
    <div class="uu-container">
        <div class="col-12 col-md-8 pe-5">
            <p>
                {% blocktrans trimmed %}
                    Formele goedkeuring door één van beide kamers van de FETC-GW (middels een formele goedkeuringsbrief)
                    is vereist voor mensgebonden onderzoek binnen de Faculteit Geesteswetenschappen. Voorafgaand aan het
                    onderzoek, maar ook voorafgaand aan het rekruteren van deelnemers, moet de aanvraag zijn
                    goedgekeurd. Het is dus van belang om te wachten met de aanvang van het onderzoek tot deze brief
                    ontvangen is.
                {% endblocktrans %}
            </p>
            <p>
                {% blocktrans trimmed %}
                    NB: Goedgekeurde aanvragen komen in het archief van deze portal te staan, zie het menu hierboven.
                    Dit archief is toegankelijk voor iedereen met een Solis-ID die bij de Faculteit Geesteswetenschappen
                    werkt of studeert.
                {% endblocktrans %}
            </p>
        </div>
        <div class="col-12 col-md-4">
            {% if proposals %}
                {% for proposal in proposals %}
                    {% include "main/index_parts/proposal_box.html" %}
                {% endfor %}
                <div class="text-end">
                    <a class="btn btn-sm btn-outline-secondary btn-arrow-right"
                       href="{% url 'proposals:my_archive' %}">{% trans "Bekijk al mijn aanvragen" %}</a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="uu-container">
        <div class="col-12">
            <h2 class="mb-3">{% trans "Voordat je begint" %}</h2>
            <ul>
                <li>
                    <p>
                        {% trans "Maak jezelf vertrouwd met de termen op de volgende pagina:" %}
                        <strong>
                            {% blocktrans trimmed %}
                                <a href="https://fetc-gw.wp.hum.uu.nl/voordat-je-een-aanvraag-indient/">FETC-GW - Voordat je een aanvraag indient</a>
                            {% endblocktrans %}
                        </strong>
		    </p>
                    </li>
                    <li>
                        {% blocktrans trimmed %}
                            Gebruik altijd de juiste en meest recente <a href="https://intranet.uu.nl/documenten-ethische-toetsingscommissie-gw"><strong>voorbeelddocumenten/templates</strong></a>.
                        {% endblocktrans %}
                        <p>
                            {% blocktrans trimmed %}
                            Studenten moeten hun begeleider vragen om deze formulieren; Voor onofficiële voorbeelddocumenten om mee te oefenen, zie <a href="https://fetc-gw.wp.hum.uu.nl/voorbeelddocumenten/">deze pagina</a>.
                            {% endblocktrans %}
                        </p>
                    </li>
                    <li>
                        {% trans "Check voor het indienen:" %}
                        <ul>
                            <li>
                                {% blocktrans trimmed %}
                                    de <a href="https://fetc-gw.wp.hum.uu.nl/">UU-webpagina van de FETC-GW</a> voor nieuws en de agenda;
                                {% endblocktrans %}
                            </li>
                            <li>
                                {% blocktrans trimmed %}
                                    het <a href="https://fetc-gw.wp.hum.uu.nl/reglement-fetc-gw/"><strong>reglement van de FETC-GW</strong></a> (zoek op wat op jouw onderzoek van toepassing is) .
                                {% endblocktrans %}
                            </li>
                        </ul>
                    </li>
                </ul>
                <p>
                    {% blocktrans trimmed %}
                        Voor advies over de AVG en privacy, neem liefst vooraf contact op met <a href="mailto:privacy.gw@uu.nl">privacy.gw@uu.nl</a>.
                    {% endblocktrans %}
                </p>
                <p>
                    {% blocktrans trimmed %}
                        Voor advies over datamanagement, neem liefst vooraf contact op met <a href="mailto:datamanagement.gw@uu.nl">datamanagement.gw@uu.nl</a>.
                    {% endblocktrans %}
                </p>
                <p>{% trans "Zij helpen je graag!" %}</p>
            </div>
        </div>
        <div class="uu-hero text-bg-light justify-content-md-between justify-content-center flex-wrap gap-3">
            <a class="btn btn-outline-secondary"
               href="{% url 'proposals:my_archive' %}">{% trans "Bekijk mijn aanvragen" %}</a>
            <a class="btn btn-outline-secondary" href="{% url 'proposals:start' %}">{% trans "Nieuwe aanvraag starten" %}</a>
            <a class="btn btn-outline-secondary"
               href="{% url 'proposals:copy_revision' %}">{% trans "Nieuwe revisie starten" %}</a>
            <a class="btn btn-outline-secondary"
               href="{% url 'proposals:copy_amendment' %}">{% trans "Nieuw amendement starten" %}</a>
            {% if can_view_archive %}
                <a class="btn btn-outline-secondary"
                   href="{% url 'proposals:archive' 'LK' %}">{% trans "Archief" %}</a>
            {% endif %}
        </div>
        <div class="uu-container">
            <div class="row gx-3 gy-4">
                <div class="col-12 col-md-4">
                    <h3>{% trans 'Ondersteuning' %}</h3>
                    <p class="mb-2">
                        {% blocktrans trimmed %}
                            <strong>FETC-GW secretaris</strong>
                            <br />
                            Desiree Capel (fetc.gw@uu.nl)
                        {% endblocktrans %}
                    </p>
                    <p class="mb-2">
                        {% blocktrans trimmed %}
                            <strong>Data Management advies</strong>
                            <br />
                            datamanagement.gw@uu.nl
                        {% endblocktrans %}
                    </p>
                    <p class="mb-2">
                        {% blocktrans trimmed %}
                            <strong>Privacy kwesties/vragen</strong>
                            <br />
                            privacy.gw@uu.nl
                        {% endblocktrans %}
                    </p>
                    <p class="mb-2">
                        {% blocktrans trimmed %}
                            <strong>Technical support</strong>
                            <br />
                            portalsupport.gw@uu.nl
                        {% endblocktrans %}
                    </p>
                </div>
                <div class="col-12 col-md-4">
                <h3>{% trans 'Links' %}</h3>
                    <ul>
                        <li>
                            {% blocktrans trimmed %}
                                <a href='http://fetc-gw.wp.hum.uu.nl/' target='_blank'>FETC-GW website</a>
                            {% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans trimmed %}
                                <a href='https://fetc-gw.wp.hum.uu.nl/reglement-fetc-gw/'
                                   target='_blank'>Reglement van de FETC-GW</a>
                            {% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans trimmed %}
                                <a href='https://intranet.uu.nl/documenten-ethische-toetsingscommissie-gw'
                                   target='_blank'>Voorbeelddocumenten</a>
                            {% endblocktrans %}
                        </li>
                        <li>
                            <a href="{% url 'faqs:list' %}">{% trans "Veelgestelde vragen m.b.t. dit portal" %}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-4">
                    <h3>{% trans 'Feedback' %}</h3>
                    <p>
                        {% blocktrans trimmed %}
                            Heb je een vraag over de werking van de portal, ontdek je een foutje, missende functionaliteit,
                            of verkeerde vertaling? Neem dan contact op met
                            <a href="mailto:portaldev.gw@uu.nl">portaldev.gw@uu.nl</a>.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    {% endblock %}
