{% extends "proposals/base.html" %}
{% load staticfiles %}

{% block title %} 
Feedback versturen
{% endblock %} 

{% block content %}
Hier kunt u feedback achterlaten op het ETCL portal.
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>{{ form.as_table }}</table>
    <p>
        <input class="pure-button pure-button-primary" type="submit" value="Feedback versturen" />
        <a class="pure-button pure-button-secondary" href="javascript:history.go(-1);">Terug naar de vorige pagina</a>
    </p>
</form>
{% endblock %}
