{% extends "proposals/base.html" %}
{% load staticfiles %}

{% block title %} 
Feedbackoverzicht
{% endblock %} 

{% block content %}
<table class="dataTable display">
    <thead>
        <tr>
            <th>URL</th>
            <th>Feedback</th>
            <th>Gegeven door</th>
            <th>Toegevoegd op</th>
        </tr>
    </thead>
    <tbody>
        {% for feedback in feedback_list %}
        <tr>
            <td>{{ feedback.url }}</td>
            <td>{{ feedback.comment }}</td>
            <td>{{ feedback.submitter }}</td>
            <td>{{ feedback.date_created|date:"j M Y, G:i" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
