{% extends "base/base.html" %}

{% load static %}
{% load i18n %}

{% block title %}
{% trans "Feedbackoverzicht" %}
{% endblock %}

{% block noprogressbar %}{% endblock %}

{% block content %}
<table class="dataTable display">
    <thead>
        <tr>
            <th>{% trans "Toegevoegd op" %}</th>
            <th>{% trans "URL" %}</th>
            <th>{% trans "Feedback" %}</th>
            <th>{% trans "Gegeven door" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for feedback in feedback_list %}
        <tr>
            <td data-order="{{ feedback.date_created|date:'c' }}">{{ feedback.date_created|date:"j M Y, G:i" }}</td>
            <td>{{ feedback.url }}</td>
            <td>{{ feedback.comment }}</td>
            <td>{{ feedback.submitter.get_full_name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
