{% extends "base/base.html" %}

{% load static %}
{% load i18n %}

{% block header_title %}
    {% trans "Feedback versturen" %} - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="uu-container">
        <div class="col-12">
            <h2>
                {% trans "Feedback versturen" %}
            </h2>
            <p>
                {% trans "Hier kan je feedback achterlaten op het FETC-GW portal." %}
            </p>
            <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                {{ form }}
                <p class="float-end">
                    <a class="btn btn-secondary" href="javascript:history.go(-1);">
                        {% trans "Terug naar de vorige pagina" %}
                    </a>
                    <input class="btn btn-primary" type="submit" value="{% trans 'Feedback versturen' %}"/>
                </p>
            </form>
        </div>
    </div>
{% endblock %}
