{% load i18n %}

<div class="row mt-4 mb-4">

    <div class="col-2 align-middle">
        {{ slot.desiredness }}
    </div>
    <div class="col-7 align-middle">
        {% if slot.attachment %}
        <h4>{{slot.kind.name}}</h4>
            {% include slot.attachment with manager=manager %}
        {% else %}
            Nog toe te voegen
        {% endif %}
        {{ kind.reason }}
    </div>
    <div class="col-3 align-middle">
        {% if slot.attachment %}
            <a class="btn btn-primary" href="{{slot.get_edit_url}}">
                {% trans "Wijzig" %}
            </a>
        {% else %}
            <a class="btn btn-primary" href="{{slot.get_attach_url}}">
                {% trans "Voeg toe" %}
            </a>
        {% endif %}
    </div>
</div>
