{% load i18n %}

<div class="uu-form-row mt-4 mb-4">
    <div class="">
        <div class="row border-3 p-3 border-bottom rounded {{ classes }} bg-light">
            {% if hide_desiredness %}
                <div class="col-1 align-middle"></div>
                <div class="col-8 align-middle">
                {% else %}
                    <div class="col-3 align-middle">{{ slot.desiredness }}</div>
                    <div class="col-6 align-middle">
                    {% endif %}
                    <h5>{{ slot.kind.name }}</h5>
                    {% if slot.attachment %}
                        {% include slot.attachment with proposal=proposal %}
                    {% else %}
                        {% trans "Nog toe te voegen" %}
                    {% endif %}
                    {{ kind.reason }}
                </div>
                <div class="col-3 align-middle text-end flex-end">
                    {% if slot.attachment %}
                        <a class="btn btn-primary" href="{{ slot.get_edit_url }}">{% trans "Wijzig" %}</a>
                    {% else %}
                        <a class="btn btn-primary" href="{{ slot.get_attach_url }}">{% trans "Voeg toe" %}</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="uu-form-help">
            <details>
                <summary class="text-muted">Meer info</summary>
                {{ slot.kind.description }}
            </details>
        </div>
    </div>
