{% extends 'base/fetc_base.html' %}

{% block content %}
    <div class="uu-container">
        {# A block one can use to insert content before the stepper/form container #}
        {% block pre-form-container-content %}{% endblock %}

        {# todo: responsive design #}
        <div class="col-3">
            {% block stepper %}
                {% include "base/stepper.html" %}
            {% endblock %}

        </div>
        <div class="col-9">
            <form action="" method="post" class="uu-form {% block form-css-classes %}{% endblock %}
                 " enctype="multipart/form-data">
                {% csrf_token %}
                {# A block one can use to add stuff before the actual form, but next to the stepper #}
                {% block pre-form %}
                    <div class="uu-form-text-row">
                        <div class="uu-form-text">
                            {% block pre-form-text %}{% endblock %}
                        </div>
                        <aside class="uu-form-text-aside">
                            {% block pre-form-aside %}{% endblock %}
                        </aside>
                    </div>
                {% endblock %}

                {{ form }}
                {% block form-buttons %}
                    <div class="uu-form-text-row">
                        <div class="uu-form-text">
                            {% include "base/form_buttons.html" %}
                        </div>
                    </div>
                {% endblock %}

                {# A block one can use to add stuff after the form, but still next to the stepper #}
                {% block post-form %}
                    <div class="uu-form-text-row">
                        <div class="uu-form-text">
                            {% block post-form-text %}{% endblock %}
                        </div>
                        <aside class="uu-form-text-aside">
                            {% block post-form-aside %}{% endblock %}
                        </aside>
                    </div>
                {% endblock %}
            </form>

        </div>
        {# A block one can use to insert content after the stepper/form container #}
        {% block post-form-container-content %}{% endblock %}

    </div>
{% endblock %}
