{% load static %}

<script>

function warning_on_value(a, a_value, b)
{
    $('input[name=' + a + ']').change(function() {
        var check = $('input[name=' + a + ']:checked').val() === a_value;

        $('#' + b).toggle(check);
    });
    $('input[name=' + a + ']').change();
}

function depends_on_value(a, a_value, b)
{
    $('input[name=' + a + ']').change(function() {
        var check = $('input[name=' + a + ']:checked').val() === a_value;
        console.log(a)
        $('#id_' + b).parents('.uu-form-row').toggle(check);
    });
    $('input[name=' + a + ']').change();
}

function depends_on_hidden_value(a, a_value, b, header=false)
{
    $('input[name=' + a + ']').change(function() {
        var values = a_value;
        if(!Array.isArray(values))
        {
            values = [a_value]
        }
        var check = false

        values.forEach(function (val) {
            if( $('input[name=' + a + ']').val() === val )
                check = true;
        })

        if(header)
        {
            $('#id_' + b).parents('.uu-form-row').prev().toggle(check);
        }

        $('#id_' + b).parents('.uu-form-row').toggle(check);
    });
    $('input[name=' + a + ']').change();
}

function depends_on_list_value(a, a_value, b)
{
    $('input[name=' + a + ']').change(function() {
        var values = $('input[name=' + a + ']:checked').map(function() {
            return this.value;
        }).get();
        $('#id_' + b).parent().parent().toggle(intersect(values, a_value).length > 0);
    });
    $('input[name=' + a + ']').change();
}

function intersect(a, b)
{
    return a.filter(function (e) {
        if (b.indexOf(e) !== -1) return true;
    });
}

// Checks whether a field is required given the selected inputs
function check_field_required(input_name, field_name, required_input, app_name, model_name, header=false)
{
    // model_name is the name of the model as it is stored in the database (without punctuation)
    // input_name is the name of the model as it is stored in the form (potentially with punctuation)
    model_name = typeof model_name !== 'undefined' ? model_name : input_name;

    $('input[name=' + input_name + ']').change(function() {
        var checked_inputs = $('input[name=' + input_name + ']:checked').map(function() {
            return this.value;
        }).get();

        var url = "{% url 'main:check_requires' %}";
        var params = {'value': checked_inputs, 'app': app_name, 'model': model_name, 'field': field_name};
        $.post(url, params, function(data) {
            $('#id_' + required_input).parents('.uu-form-row').toggle(data.result);
            if(header)
            {
                $('#id_' + required_input).parents('.uu-form-row').prev().toggle(data.result);
            }
        });
    });
    $('input[name=' + input_name + ']').change();
}

// Adds a title row to a form field
function add_title(field, title)
{
    var insert = $('<div>').append($('<h3>').text(title));
    $('#id_' + field).parents('.uu-form-row').before(insert);
}
</script>
