{% load i18n %}

<div class="mt-3 mb-3 form-buttons">
    <div class="button-grid">
        {% if not no_back %}
            <input class="button button-black"
                   type="submit"
                   name="save_back"
                   value="{% trans '<< Vorige stap' %}" />
        {% endif %}
        <!-- Spacer element, pushes the forward buttons to the right -->
        <div class="mr-auto"></div>
        {% if not no_forward %}
            {% if create_session %}
                {% trans 'Maak een nieuwe sessie aan >>' as create_session_text %}
                <input class="button button-colored continue-button"
                       type="submit"
                       name="create_new_session"
                       value="{{ next_text|default:create_session_text }}" />
            {% endif %}
            {% if task %}
                {% trans 'Maak een nieuwe taak aan >>' as create_task_text %}
                <input class="button button-colored continue-button"
                       type="submit"
                       name="create_new_task"
                       value="{{ next_text|default:create_task_text }}" />
            {% endif %}
            {% trans 'Volgende stap >>' as default_next_text %}
            <input class="button button-colored continue-button"
                   type="submit"
                   name="save_continue"
                   value="{{ next_text|default:default_next_text }}" />
        {% endif %}
    </div>
</div>
