{% load i18n %}

<div class="mt-3 mb-3">
    <span id="form_buttons" class="float-right">
        {% if not no_back %}
            <input class="button" type="submit" name="save_back" value="{% trans '<< Opslaan en vorige stap' %}"/>
        {% endif %}
        {% if not no_forward %}
            <input class="button button-colored" type="submit" name="save_continue"
                   value="{{ next_text|default:_('Opslaan en volgende stap >>') }}"/>
        {% endif %}
    </span>

    {% if not no_back %}
        <span id="form_buttons_extra">
            <a class="button" href="{% url 'main:home' %}">
                {% trans "Terug naar startpagina" %}
            </a>
            {% if proposal %}
                {% if proposal.is_pre_assessment %}
                    <a class="button" href="{% url 'proposals:update_pre' proposal.pk %}">
                        {% trans "Terug naar begin studie" %}
                    </a>
                {% elif proposal.is_practice %}
                    <a class="button" href="{% url 'proposals:update_practice' proposal.pk %}">
                        {% trans "Terug naar begin studie" %}
                    </a>
                {% else %}
                    <a class="button" href="{% url 'proposals:update' proposal.pk %}">
                        {% trans "Terug naar begin studie" %}
                    </a>
                {% endif %}
            {% endif %}
            {% if study %}
                <a class="button" href="{% url 'studies:update' study.pk %}">
                    {% trans "Terug naar begin traject" %}
                </a>
            {% endif %}
            {% if session %}
                <a class="button" href="{% url 'tasks:start' session.pk %}">
                    {% trans "Terug naar begin sessie" %}
                </a>
            {% endif %}
        </span>
    {% endif %}

</div>
