{% load fetc_filters %}
{% load uil_filters %}
{% include 'base/sidebar.html' %}
<div class="navigation-bar hide-xs">
    <ul>
        {% counter main_counter create 1 %}
        {% for item in nav_items %}
            {% if not item.is_title %}
                {# First layer, the bar itself #}
                <li>
                    {% counter main_counter store %}
                    <div class="navigation-content {% if not item.url %}inactive{% endif %} {% if main_counter == active %}active{% endif %} ">
                        {% if item.url %}<a class="js-submit-redirect" href="{{ item.url }}">{% endif %}
                            <div class="navigation-bubble">{% counter main_counter value %}</div>
                            {% if item.url %}</a>{% endif %}
                        <div class="navigation-text">
                            {% if not item.children %}
                                {{ item.title }}
                            {% else %}
                                {# If it has children, create a dropdown instead  #}
                                <div class="dropdown">
                                    <span class="dropdown-toggle"
                                          type="button"
                                          id="dropdownMenuButton"
                                          data-toggle="dropdown"
                                          aria-haspopup="true"
                                          aria-expanded="false">{{ item.title }}</span>
                                    <div class="dropdown-menu multi-level"
                                         aria-labelledby="dropdownMenuButton">
                                        {# Second layer (first dropdown) #}
                                        {% for child in item.children %}
                                            {% if not child.children %}
                                                <a href="{{ child.url|default_if_none:"#" }}"
                                                   class="dropdown-item js-submit-redirect {% if not child.url %}disabled{% endif %}">
                                                    {{ child.title }}
                                                </a>
                                            {% else %}
                                                {# Third layer (second dropdown) #}
                                                <div class="dropdown-submenu dropdown-item">
                                                    <span class="dropdown-toggle"
                                                          type="button"
                                                          id="dropdownMenuButton"
                                                          data-toggle="dropdown"
                                                          aria-haspopup="true"
                                                          aria-expanded="false">{{ child.title }}</span>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        {#  Don't support more than 3 layers. This should be enough #}
                                                        {% for subchild in child.children %}
                                                            <a href="{{ subchild.url|default_if_none:"#" }}"
                                                               class="dropdown-item js-submit-redirect {% if not subchild.url %}disabled{% endif %}">
                                                                {{ subchild.title }}
                                                            </a>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </li>
                {% counter main_counter increment %}
            {% endif %}
        {% endfor %}
    </ul>
</div>
