{% load static %}
{% load i18n %}

<script type="text/javascript"
        charset="utf8"
        src="//cdnjs.cloudflare.com/ajax/libs/jquery-sidebar/3.3.2/jquery.sidebar.min.js"></script>
<link rel="stylesheet"
      type="text/css"
      href="{% static 'main/progress.css' %}">
<script>
    $(function() {
        // Add dividers
        $('.progress li:even').prepend('<div class="item">');

        // Set current item and remove previous URLs
        $('a[href="{{request.path}}"]').prev().addClass('current');

        // Sidebar functionality
        $('.progress').sidebar({
            side: 'right'
        });
        $('.open-progress').click(function() {
            $('.progress').show();
            $('.progress').trigger('sidebar:open');
        });
        $('.close-progress').click(function() {
            $('.progress').trigger('sidebar:close');
        });
    });
</script>
<button class="pure-button open-progress show-xs">{% trans "Toon voortgang" %}</button>
<br />
<div class="progress">
    <button class="pure-button close-progress">{% trans "Sluiten" %}</button>
    <h2>{% trans "Voortgang" %}</h2>
    <ul>
        {% for item in nav_items %}
            {% if not item.is_title %}
                <li>
                    {% if item.url %}
                        <a class="sideBarLink js-submit-redirect {% if item.is_title %}title{% endif %}"
                           href="{{ item.url }}">{{ item.title }}</a>
                    {% else %}
                        <span class="{% if item.is_title %}title{% endif %}">{{ item.title }}</span>
                    {% endif %}
                </li>
                <li>
                    <div class="divider"></div>
                </li>
                {% for child in item.children %}
                    <li>
                        {% if child.url %}
                            <a class="ml-3 js-submit-redirect sideBarLink {% if child.is_title %}title{% endif %}"
                               href="{{ child.url }}">{{ child.title }}</a>
                        {% else %}
                            <span class="ml-3 {% if child.is_title %}title{% endif %}">{{ child.title }}</span>
                        {% endif %}
                    </li>
                    <li>
                        <div class="divider"></div>
                    </li>
                    {% for subchild in child.children %}
                        <li>
                            {% if subchild.url %}
                                <a class="ml-5 js-submit-redirect sideBarLink" href="{{ subchild.url }}">{{ subchild.title }}</a>
                            {% else %}
                                <span class="ml-5">{{ subchild.title }}</span>
                            {% endif %}
                        </li>
                        <li>
                            <div class="divider"></div>
                        </li>
                    {% endfor %}
                {% endfor %}
            {% else %}
            </ul>
            <strong>{{ item.title }}</strong>
            <ul>
            {% endif %}
        {% endfor %}
    </ul>
</div>
