{% load static %}
<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script type="text/javascript" charset="utf8" src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">

<script type="text/javascript" charset="utf8" src="{% static 'main/js/datepicker-nl.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'main/js/redirect-submit.js' %}"></script>
{% include "base/form_styling.html" %}