{% extends "base/base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block title %}
{% trans "Het interventieonderzoek" %}
{% endblock %}

{% block progress %}{{ progress }}{% endblock %}

{% block sidebar %}
{% with proposal=study.proposal %}
{% include "base/sidebar.html" %}
{% endwith %}
{% endblock %}

{% block content %}
<script>
$(function() {
    depends_on_value('has_controls', 'True', 'controls_description');
    
    add_title('setting', "{% trans 'Setting' %}");
    add_title('period', "{% trans 'Beschrijving van de interventie' %}");
});
</script>
{% include "core/setting_checks.html" %}
{% include "studies/study_title.html" %}
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>{{ form.as_table }}</table>
    {% with proposal=study.proposal %}
    {% include "base/form_buttons.html" %}
    {% endwith %}
</form>
{% endblock %}
