{% extends "proposals/base.html" %}

{% load i18n %}

{% block title %}
{% trans "Uitloggen" %}
{% endblock %}

{% block noprogressbar %}{% endblock %}

{% block content %}
<p>
	{% trans "U bent succesvol uitgelogd." %}
</p>
<ul>
	<li>
	{% url 'login' as the_url %}
	{% blocktrans %}
	Klik  <a href="{{ the_url }}">hier</a> om opnieuw in te loggen met Uw Solis-ID.
	{% endblocktrans %}
	</li>
	<li>
	{% blocktrans %}
	Klik <a href="http://etcl.wp.hum.uu.nl">hier</a> om terug te keren naar de ETCL-website.
	{% endblocktrans %}
	</li>
</ul>
{% endblock %}
