{% extends "proposals/base.html" %}

{% block content %}

<h2>Login</h2>

{% if form.errors %}
<p class="form-errors">Your username and password didn't match. Please try again.</p>
{% endif %}

<form class="pure-form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
{{ form.username }}
{{ form.password }}
<input class="pure-button pure-button-primary" type="submit" value="Login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
